<mat-accordion>
  <mat-expansion-panel class="group-panel">
    <mat-expansion-panel-header class="expansion-header">
      <mat-panel-title class="expansion-title">
        Group Access
      </mat-panel-title>
      <mat-chip-listbox *ngIf="currentlyAssignedGroups.length > 0" class="group-chip-list">
        <mat-chip-option *ngFor="let group of displayGroups"
                         [style.background-color]="getChipColor(group)"
                         [matTooltip]="getTooltip(group)"
                         matTooltipShowDelay="250"
                         (click)="changeGroupListBtnTextAndIcon()"
                         (removed)="onRemoveItemClick(group)">
          {{group.name}}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip-option>
      </mat-chip-listbox>
      <label *ngIf="currentlyAssignedGroups.length < 1" [ngStyle]="{'font-style':'italic'}">
        No groups assigned
      </label>
    </mat-expansion-panel-header>
    <mat-panel-description>
      <div class="list-and-label-container">
        <div class="list-content" id="list-content">
          <mat-form-field class="mat-input-container" appearance="outline">
            <input matInput
                   type="text"
                   class="text-input-mat"
                   [(ngModel)]="groupSearchInput"
                   placeholder="Search.."
                   (keyup)="filterFunction()">
          </mat-form-field>
          <div class="scrollable">
            <div *ngIf="displayGroups.length > 0">
              <div class="list-item" *ngFor="let group of displayGroups">
                <div class="username-label">
                  <mat-chip-option [style.background-color]="getChipColor(group)"
                                   [matTooltip]="getTooltip(group)"
                                   matTooltipShowDelay="250">
                    {{group.name}}
                  </mat-chip-option>
                </div>
                <mat-form-field appearance="fill" class="role-dropdown">
                  <mat-label>Choose Role</mat-label>
                  <mat-select class="role-select" [(value)]="group.role" (selectionChange)="roleChanged(group)">
                    <mat-option *ngFor="let role of roles" value="{{role}}">{{role}}</mat-option>
                  </mat-select>
                </mat-form-field>
                <div class="btn-container">
                  <button mat-raised-button
                          class="remove-member-button"
                          color="warn"
                          (click)="onRemoveItemClick(group)">
                    <!--<span class="material-symbols-outlined item-icon">group_remove</span>-->
                    Remove
                  </button>
                </div>
              </div>
            </div>

            <div *ngIf="displayGroups.length === 0" class="list-item">
              <label class="no-groups-label">No groups assigned</label>
            </div>

          </div>
          <div class="add-member-button-container">
            <button class="mat-raised-button"
                    mat-raised-button=""
                    color="primary"
                    (click)="openAddGroupDialog()">
              Add Group
            </button>
          </div>
        </div>
      </div>
    </mat-panel-description>
  </mat-expansion-panel>
</mat-accordion>


