<div class="group-name-dialog-container">
  <h2>Choose a Group Name</h2>

  <div class="inputs">
    <label class="error-label">{{errorMessage}}</label>
    <mat-form-field>
      <input matInput placeholder="Groupname" id="nameInput" [(ngModel)]="nameInput">
    </mat-form-field>

    <div mat-dialog-actions align="end">
      <button mat-raised-button color="primary" (click)="dialogRef.close()">Cancel</button>
      <button mat-raised-button color="primary"
              (click)="createClicked()">
        Create
      </button>
    </div>
  </div>
</div>
