<div class="list-container scrollable">

  <mat-form-field class="search-container" appearance="outline">
    <mat-label>Search...</mat-label>
    <input
      matInput
      class="search-input"
      [placeholder]="searchPlaceholderText"
      [(ngModel)]="itemSearchInput"
      (keyup)="searchItemFilter()"
      (keyup.backspace)="filterSystemGroups()"
    >
  </mat-form-field>
  <div class="list">
    <div
      class="list-item"
      *ngFor="let item of displayItems"
      (click)="itemClicked(item)"
      [class.item-clicked]="item.name == selectedItemName"
    >
      {{item.name}}
      <mat-icon
        [matTooltip]="listItemTooltip"
        [matTooltipShowDelay]="500"
      >
        edit
      </mat-icon>
    </div>
  </div>
  <div class="btn-container">
    <button
      class="mat-raised-button new-btn"
      color="primary"
      mat-raised-button=""
      (click)="newBtnClicked()"
    >
      New {{type}}
    </button>
    <mat-checkbox
      *ngIf="type === 'Group'"
      class="show-usergroups-checkbox"
      [(ngModel)]="showSystemGroups"
      (change)="filterSystemGroups()"
    >
      Show System Groups
    </mat-checkbox>
  </div>
</div>
