<div class="list-container">

  <mat-form-field class="search-container" appearance="fill">
    <mat-label>Search...</mat-label>
    <input matInput class="search-input" placeholder="{{searchPlaceholderText}}" [(ngModel)]="itemSearchInput" (keyup)="searchItemFilter()">
  </mat-form-field>
  <div class="list">
    <div class="list-item" *ngFor="let item of displayItems" (click)="itemClicked(item)" [class.item-clicked]="item.name == selectedItemName">
      {{item.name}}
      <span matTooltip="{{listItemTooltip}}" matTooltipShowDelay="500" class="material-symbols-outlined item-icon">edit</span>
    </div>
  </div>
  <div class="btn-container">
    <button class="mat-raised-button new-btn"
            color="primary"
            mat-raised-button=""
            (click)="newBtnClicked()"
    > New {{type}} </button>
    <mat-checkbox *ngIf="type === 'Group'"
                  class="show-usergroups-checkbox"
                  [(ngModel)]="showSystemGroups"
                  (change)="filterSystemGroups()"> Show System Groups </mat-checkbox>
  </div>
</div>
