<div class="servers">
  <h1>Servers</h1>

  <app-server-overview [node]="{name: 'node0', cpuInfo: {modelName: 'Potatoe p7 0123-4k'}}" class="server">

  </app-server-overview>

  <app-server-overview [node]="{name: 'node0', cpuInfo: {modelName: 'Potatoe p7 0123-4k'}}" class="server">

  </app-server-overview>

  <app-server-overview [node]="{name: 'node0', cpuInfo: {modelName: 'Potatoe p7 0123-4k'}}" class="server">

  </app-server-overview>
</div>

<div>
  <h1>Storage</h1>
  <h2>Resources</h2>
  <h2>Workspaces</h2>
</div>
