.add-group-popup-container {
  width: 705px !important;
  height: 25vh;
  margin: 1rem;
  background-color: var(--color-background-light);
  color: var(--font-color);
}

.list-container {
  height: 20vh;
  max-height: 25vh;
}

.inputs {
  display: flex;
  flex-direction: column;
}

.group-item-from-dialog {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid lightgrey;
  align-items: center;
}

.groupname-label-popup {
  margin-left: 1em;
  margin-right: 1em;
  width: 2em;
}

.role-dropdown {
  width: 8em;
  display: flex;
  align-items: center;
  margin-top: 1.2em;
}

.add-group-round-button {
  margin-right: 1em;
  margin-left: 6em;
  border-radius: 50%;
  border: none;
  width: 45px;
  height: 45px;
  box-shadow: 0 1px 3px grey;
}

.add-group-round-button:enabled {
  cursor: pointer;
}

.add-group-round-button:enabled:hover {
  scale: 1.1;
}

.add-group-round-button:disabled {
  background-color: grey;
  cursor: default;
}
