<div class="right-click-trigger" (contextmenu)="rightClickAction(matMenuTrigger, $event)">
  <mat-card (contextmenu)="rightClickAction(matMenuTrigger, $event)">
    <mat-card-header>
      <img mat-card-avatar alt="Project Icon" class="icon" #avatar (error)="avatar.src = 'assets/winslow_quadratic.svg'"
           src="{{thumbnailUrl(project)}}" (click)="makeImageBigger(thumbnailUrl(project), $event)"/>
      <mat-card-title>
      <span class="inline-title">
        <app-state-icon #icon></app-state-icon>
        {{project.name}}
      </span>
      </mat-card-title>
      <mat-card-subtitle>
        <app-tags-with-autocomplete *ngIf="project.tags"
                                    [readonly]="true"
                                    [tags]="project.tags"
                                    (tagActionPrimary)="tagActionPrimary.emit($event)"
                                    (tagActionSecondary)="tagActionSecondary.emit($event)"
        ></app-tags-with-autocomplete>
        <ng-container *ngIf="pauseReason != null || stage != null">
          {{pauseReason}}{{pauseReason != null && stage != null ? ', ' : ''}}{{stage}}
          <mat-progress-bar class="description-progress-bar"
                            *ngIf="progress != null && running"
                            [value]="progress">
          </mat-progress-bar>
        </ng-container>
      </mat-card-subtitle>
    </mat-card-header>
  </mat-card>

  <div #matMenuTrigger='matMenuTrigger' style="visibility: hidden; position: fixed;"
       [matMenuTriggerFor]="menu"
       [style.left.px]="menuPosition.x"
       [style.top.px]="menuPosition.y"></div>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="excludeTags(project)">
      <span>Exclude Project-Tags from list</span>
    </button>
    <button mat-menu-item (click)="includeTags(project)">
      <span>Filter for Projects-Tags</span>
    </button>
    <button mat-menu-item (click)="openAddToContext()">
      <span>Add Project to Context</span>
    </button>
  </mat-menu>
</div>
