<mat-tab-group
  mat-align-tabs="center" #tabGroup [(selectedIndex)]="selectedTabIndex" (selectedIndexChange)="updateRouteToMatchTab()"
  class="fill-height"
>

  <mat-tab label="Overview">
    <ng-template matTabContent>
      <app-loading-info [loading]="isLongLoading()"></app-loading-info>
      <app-project-overview-tab
        [project]="project"
        [state]="stateValue"
        [history]="history"
        [visible]="tabGroup.selectedIndex == overviewTabIndex"
        (clickUseAsBlueprint)="useAsBlueprint($event[0], $event[1])"
        (clickDeleteEnqueued)="cancelEnqueuedStage($event.id)"
        (clickResumeSingle)="updateRequestPause(false, true)"
        (clickResume)="updateRequestPause(false, false)"
        (clickPause)="updateRequestPause(true)"
      ></app-project-overview-tab>
    </ng-template>
  </mat-tab>

  <mat-tab label="Control">
    <ng-template matTabContent>
      <app-loading-info [loading]="isLongLoading()"></app-loading-info>
      <app-project-control-tab [project]="project"></app-project-control-tab>
    </ng-template>
  </mat-tab>

  <mat-tab label="History">
    <ng-template matTabContent>

      <div *ngIf="history.length > 0" class="history-more-buttons horizontal-center-with-margin">
        <!-- <button *ngIf="historyCanLoadMoreEntries"
                mat-stroked-button color="primary" (click)="loadMoreHistoryEntries(10)">
          <mat-icon>arrow_drop_down</mat-icon>
          Show 10 More
        </button>
        <button *ngIf="historyCanLoadMoreEntries"
                mat-stroked-button color="primary" (click)="loadMoreHistoryEntries(50)">
          <mat-icon>expand_more</mat-icon>
          Show 50 More
        </button> -->
        <button
          *ngIf="historyCanLoadMoreEntries"
          mat-stroked-button color="primary" (click)="loadMoreHistoryEntries(1000000)"
        >
          <mat-icon>arrow_downward</mat-icon>
          Load All
        </button>
        <button mat-stroked-button color="warn" (click)="pruneHistory()">
          <mat-icon>delete_forever</mat-icon>
          Delete Failed
        </button>
      </div>
      <div *ngIf="history?.length > 0">
        <div
          [style.overflow]="'auto'"

          [ngStyle]="history?.length < 7 ? {'height': history.length * 50 } :  {'height': historyListHeight + 'px' }"
          (scroll)="historyCanLoadMoreEntries ? onScroll($event) : null"
        >

          <app-project-history
            *ngFor="let entry of history; index as i; trackBy:trackHistory"
            [active]="selectedHistoryEntryIndex === i"
            class="history-list-item"

            [executionGroup]="entry"
            [firstEntry]="i == 0"
            [entryNumber]="tryParseStageNumber(entry.id, history.length - i)"
            [expanded]="selectedHistoryEntry === entry"
            [pipelineIsPaused]="paused"
            [projectState]="stateValue"

            (click)="setHistoryEntry(entry, i)"
            (clickGetStage)="setHistoryEntryStage($event)"

            (clickResume)="updateRequestPause(false)"
            (clickResumeOnlyThisStage)="updateRequestPause(false, true)"
            (clickDelete)="cancelEnqueuedStage(entry.id)"
            (clickPauseAfterThis)="updateRequestPause(true)"
            (clickKillStage)="$event == null ? killAllStages() : killStage($event.id)"
            (clickUseAsBlueprint)="useAsBlueprint(entry, $event)"
            (clickOpenWorkspace)="openWorkspace(project, $event)"
            (clickOpenLogs)="openLogs($event)"
            (clickOpenAnalysis)="openAnalysis($event)"
            (clickOpenTensorboard)="openTensorboard(project, $event)"
          ></app-project-history>
        </div>
      </div>

      <div *ngIf="history?.length > 0">
        <app-project-history-details
          [entry]="selectedHistoryEntry ? selectedHistoryEntry : history[0]"
          [entryNumber]="selectedHistoryEntryNumber ? selectedHistoryEntryNumber : tryParseStageNumber(history[0]?.id, history?.length)"
          [selectedStage]="selectedHistoryEntryStage ? selectedHistoryEntryStage : history[0]?.stages[history[0]?.stages.length-1]"
          [projectState]="stateValue"

          (clickKillStage)="$event == null ? killAllStages() : killStage($event.id)"
          (clickUseAsBlueprint)="useAsBlueprint(selectedHistoryEntry, $event)"
          (clickOpenWorkspace)="openWorkspace(project, $event)"
          (clickOpenLogs)="openLogs($event)"
          (clickOpenAnalysis)="openAnalysis($event)"
          (clickOpenTensorboard)="openTensorboard(project, $event)"
        >
        </app-project-history-details>
      </div>
      <div *ngIf="history?.length == 0" class="empty-project-history">
        This project has no history yet
      </div>

    </ng-template>
  </mat-tab>

  <mat-tab label="Files">
    <ng-template matTabContent>
      <app-files
        class="files-tab-content"
        [additionalRoot]="filesAdditionalRoot"
        [navigationTarget]="filesNavigationTarget"
      ></app-files>

    </ng-template>
  </mat-tab>

  <mat-tab label="Logs">
    <ng-template matTabContent>
      <app-project-logs-tab
        class="flex-grow flex-grow-column max-height"
        [project]="project"
        [selectedStage]="stageIdToDisplayLogsFor"
      ></app-project-logs-tab>
    </ng-template>
  </mat-tab>

  <mat-tab label="Analysis">
    <ng-template matTabContent>
      <app-project-analysis-tab
        class="flex-grow flex-grow-column max-height"
        [project]="project"
        [selectedStage]="stageIdToDisplayLogsFor"
      ></app-project-analysis-tab>
    </ng-template>
  </mat-tab>

  <mat-tab label="Pipeline">
    <ng-template matTabContent>
      <div class="flex-grow flex-grow-column max-height">
        <app-loading-info [loading]="isLongLoading()"></app-loading-info>
        <app-pipeline-editor
          #editor
          [raw]="rawPipelineDefinition"
          [error]="rawPipelineDefinitionError"
          [success]="rawPipelineDefinitionSuccess"
          [enableOnOthers]="true"
          (others)="updatePipelineDefinitionOnOthers($event)"
          (check)="checkPipelineDefinition($event)"
          (update)="updatePipelineDefinition($event, editor)"
        >
        </app-pipeline-editor>
      </div>
    </ng-template>
  </mat-tab>

  <mat-tab label="Pipeline View">
    <ng-template matTabContent>
      <div class="flex-grow flex-grow-column max-height">
        <app-loading-info [loading]="isLongLoading()"></app-loading-info>
        <app-pipeline-view
          [pipelineDefinition]="projectValue.pipelineDefinition"
          [pipelineDefinitionEdit]="projectValue.pipelineDefinition"
          (onSave)="updatePipelineDefinitionWithObject($event)"
        ></app-pipeline-view>
      </div>
    </ng-template>
  </mat-tab>

  <mat-tab label="Settings">
    <ng-template matTabContent>
      <app-loading-info [loading]="isLongLoading()"></app-loading-info>
      <app-project-settings-tab
        [project]="projectValue"
      ></app-project-settings-tab>
    </ng-template>
  </mat-tab>
</mat-tab-group>
