<ng-template #detailItem let-key="key" let-value="value">
  <p class="history-item-detail-item mat-highlight-hover">
    <label *ngIf="value != null">{{key}}</label>
    <label *ngIf="value == null"><s>{{key}}</s></label>
    <label>{{value}}</label>
  </p>
</ng-template>

<mat-accordion>
  @for (stage of stagesToDisplay(); track trackStageInfo) {
    <app-project-history-header
        class="history-header"
        [class.active]="selectedStageIndex === $index"
        [state]="stage.state"
        [isConfigure]="executionGroup.executionGroupInfo.configureOnly"
        [itemNo]="tryParseStageNumber(stage.id, min(visibleStages, executionGroup.executionGroupInfo.stages.length) - $index)"
        [time]="stage.finishTime != null ? stage.startTime : stage.finishTime"
        [stageName]="executionGroup.executionGroupInfo.stageDefinition.name"
        [showResumeOnlyThisStage]="false"
        [enqueued]="false"
        [running]="stage.state == 'RUNNING'"
        [paused]="stage.state == 'PAUSED'"
        [comment]="getRangeEnvVariableValues(stage)"
        [sharedWorkspace]="!executionGroup.executionGroupInfo.workspaceConfiguration.sharedWithinGroup"
        [nestedWorkspace]="!executionGroup.executionGroupInfo.workspaceConfiguration.nestedWithinGroup"

        (click)="emitStageAndSetIndex(stage, $index)"

        (clickKillCurrentStage)="clickKillStage.emit(stage)"
        (clickUseAsBlueprint)="clickUseAsBlueprint.emit(stage)"
        (clickOpenLogs)="clickOpenLogs.emit(stage)"
        (clickOpenAnalysis)="clickOpenAnalysis.emit(stage)"
    ></app-project-history-header>
  }

</mat-accordion>
