before_script:
  - git submodule sync --recursive
  - git submodule update --init --recursive

variables:
  WINSLOW_API_TS_URL: "$NEXUS_RAW_WINSLOW_URL/api/build/winslow-api_$CI_COMMIT_SHORT_SHA.ts"
  WINSLOW_API_TS_URL_LATEST: "$NEXUS_RAW_WINSLOW_URL/api/winslow-api.ts"
  WINSLOW_API_TS_URL_TAGGED: "$NEXUS_RAW_WINSLOW_URL/api/winslow-api.ts"

test-component-server:
  image: maven:3.8.5-openjdk-17
  tags:
    - docker
  script:
    - mvn clean test verify
    - mv application/target/site/jacoco coverage-report
    - awk -F"," '{ instructions += $4 + $5; covered += $5 } END { print covered, "/", instructions, " instructions covered"; print 100*covered/instructions, "% covered" }' coverage-report/jacoco.csv
  coverage: '/([\d]+\.[\d]+) % covered/'

build-component-server:
  needs:
    - test-component-server
  image: maven:3.8.5-openjdk-17
  tags:
    - docker
  script:
    - sed -i "s/external__BUILD_DATE/$(date '+%Y-%m-%d %H:%M:%S')/g" api/src/main/java/de/itdesigners/winslow/api/Build.java
    - sed -i "s/external__COMMIT_HASH_LONG/$CI_COMMIT_SHA/g" api/src/main/java/de/itdesigners/winslow/api/Build.java
    - sed -i "s/external__COMMIT_HASH_SHORT/$CI_COMMIT_SHORT_SHA/g" api/src/main/java/de/itdesigners/winslow/api/Build.java
    - mvn clean test verify package
    - cp application/target/winslow*.jar .
    - mv application/target/site/jacoco coverage-report
    - awk -F"," '{ instructions += $4 + $5; covered += $5 } END { print covered, "/", instructions, " instructions covered"; print 100*covered/instructions, "% covered" }' coverage-report/jacoco.csv
    - mvn -pl .,api package
    - cp api/target/winslow*.jar .
    - (cd api; mvn typescript-generator:generate)
    - cp api/target/typescript-generator/winslow-api.ts .
    - ls -lah
    #- cp target/winslow*.jar .
    - if [ "$CI_COMMIT_REF_NAME" == "master" ]; then mvn -s settings.xml -pl .,api deploy; fi
  coverage: '/([\d]+\.[\d]+) % covered/'
  artifacts:
    name: winslow-$CI_COMMIT_SHORT_SHA
    paths:
     - winslow*.jar
     - coverage-report
     - winslow-api.ts


publish-component-server-on-artifact-share:
  needs:
    - job: build-component-server
      artifacts: true
  tags:
    - shell
  script:
    - echo $WINSLOW_API_TS_URL
    - echo $WINSLOW_API_TS_URL_LATEST
    - echo $WINSLOW_API_TS_URL_TAGGED
    - export WINSLOW_API_TS_URL="$(eval echo $WINSLOW_API_TS_URL)"
    - export WINSLOW_API_TS_URL_LATEST="$(eval echo $WINSLOW_API_TS_URL_LATEST)"
    - export WINSLOW_API_TS_URL_TAGGED="$(eval echo $WINSLOW_API_TS_URL_TAGGED)"
    - echo $WINSLOW_API_TS_URL
    - echo $WINSLOW_API_TS_URL_LATEST
    - echo $WINSLOW_API_TS_URL_TAGGED
    - export ARCHIVE=winslow-api.ts
    - ls -lah $ARCHIVE
    - head -n 2 $ARCHIVE
    - curl -i -u "$NEXUS_LOGIN" --upload-file "$ARCHIVE" "$WINSLOW_API_TS_URL"
    - if [ "$CI_COMMIT_REF_NAME" == "master" ]; then curl -i -u "$NEXUS_LOGIN" --upload-file $ARCHIVE "$WINSLOW_API_TS_URL_LATEST"; fi
    - if [ "$CI_COMMIT_TAG" != "" ]; then curl -i -u "$NEXUS_LOGIN" --upload-file $ARCHIVE "$WINSLOW_API_TS_URL_TAGGED"; fi

deploy-component-server:
  needs:
    - job: build-component-server
      artifacts: true
  only:
    refs:
      - master
      - tags
  tags:
    - dockerbuilder
  script:
    - ls -lah .
    - export TAG="${CI_COMMIT_TAG:-latest}"
    - echo $TAG
    - docker build . -t $DOCKER_REGISTRY_WINSLOW/winslow/component-server:$TAG
    - docker login -u $DOCKER_REGISTRY_WINSLOW_USERNAME -p $DOCKER_REGISTRY_WINSLOW_PASSWORD $DOCKER_REGISTRY_WINSLOW
    - docker push $DOCKER_REGISTRY_WINSLOW/winslow/component-server:$TAG

build-component-html:
  needs:
    - job: build-component-server
      artifacts: true
  image: node
  tags:
    - docker
  variables:
    NODE_OPTIONS: "--openssl-legacy-provider"
  script:
    - mv winslow-api.ts ui-ng/src/app/api/winslow-api.ts
    - cd ui-ng
    #    - npm install -g -ng
    - (npm install || (echo "===== eresolve-report.txt =====" && cat /root/.npm/eresolve-report.txt && echo "===== .log =====" && cat /root/.npm/_logs/* && exit 1))
    - npm run build -- --prod --configuration=production --baseHref=/ --deployUrl=/
    #    - npm run build -- --prod --configuration=production --baseHref=./
    - mv dist/winslow-ui-ng ../winslow-ui-ng
  artifacts:
    name: winslow-ui-ng_$CI_COMMIT_SHORT_SHA
    paths:
      - winslow-ui-ng

deploy-component-html:
  needs:
    - job: build-component-html
      artifacts: true
  only:
    refs:
      - master
      - tags
  tags:
    - dockerbuilder
  script:
    - mv winslow-ui-ng ui-ng/winslow-ui-ng
    - cd ui-ng
    - ls -lah .
    - export TAG="${CI_COMMIT_TAG:-latest}"
    - echo $TAG
    - docker build . -t $DOCKER_REGISTRY_WINSLOW/winslow/component-html:$TAG
    - docker login -u $DOCKER_REGISTRY_WINSLOW_USERNAME -p $DOCKER_REGISTRY_WINSLOW_PASSWORD $DOCKER_REGISTRY_WINSLOW
    - docker push $DOCKER_REGISTRY_WINSLOW/winslow/component-html:$TAG


deploy-winslow-node:
  needs:
    - deploy-component-server
    - deploy-component-html
  only:
    refs:
      - master
      - tags
  tags:
    - dockerbuilder
  script:
    - export TAG="${CI_COMMIT_TAG:-latest}"
    - echo $TAG
    - docker pull nexus.itd-intern.de/winslow/component-html:$TAG
    - docker pull nexus.itd-intern.de/winslow/component-server:$TAG
    - docker build . -t $DOCKER_REGISTRY_WINSLOW/winslow/node:$TAG
    - docker login -u $DOCKER_REGISTRY_WINSLOW_USERNAME -p $DOCKER_REGISTRY_WINSLOW_PASSWORD $DOCKER_REGISTRY_WINSLOW
    - docker push $DOCKER_REGISTRY_WINSLOW/winslow/node:$TAG






pages:
  needs:
    - build-component-server
  only:
    refs:
      - master
  before_script: []
  script:
    #    - ./build-docker-image.sh
    - mv coverage-report public
  dependencies:
    - build-component-server
  artifacts:
    paths:
      - public/
