.user-name-dialog-container {
  width: 35em;
  height: 195px !important;
}
.dialog-actions-container {
  justify-content: space-between;
}
.spinner-container {
  display: flex;
  flex-direction: row;
  max-width: 375px;
}
.loading-label {
  color: #3a558c;
  margin-top: 7px;
  margin-left: 3px;
  font-size: 11px;
}
.error-label {
  color: red;
  font-size: 12px;
  font-weight: bold;
  /*margin-bottom: 3em;*/
}
.app-user-name-add-dialog {
  overflow: clip;
}
.mat-mdc-form-field {
  width: 100%;
  margin-top: 1em;
}
