.topbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: .51em;
}

.topbar > * {
  padding: 0.5em 1em;
}

.topbar * {
  max-height: 2.25em;
}

.topbar img {
  /*padding: 0 1em;
  max-height: 3em;*/
}

.topbar > *:hover {
  background-color: #00000011;
  border-radius: 0.35em;
}



.ws-connected {

}

.ws-disconnected {
  filter: grayscale(100%);
}

.active {
  background-color: #64aced;
}

.mat-toolbar-multiple-rows {
  min-height: 55px !important;
}

.content {
  height: calc(100vh - 98px);
  border-radius: 10px;
  margin: 16px;
  margin-left: 32px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 2rem;
  color: lightgray;
}

mat-sidenav-container {
  height: calc(100vh - 65px);
}

.username-and-settings {
  min-width: 12vw;
  max-width: 40vw;
}

.user-label-and-icon {
  float: right;
  display: flex;
  flex-direction: row;
}

.username-label {
  padding-top: 7px;
  font-size: 14px;
}
