<div class="topbar">
  <a [routerLink]="['']" class="button fancy-button">
    <img
      [class.ws-connected]="connected"
      [class.ws-disconnected]="!connected"
      src="assets/winslow_quadratic.svg" alt="Winslow Icon" style="height: 2.75em; padding: 0; max-height: 100%">
  </a>
  <!--
  <a [routerLink]="['']" class="button fancy-button">
    <i class="material-icons">home</i>Home
  </a>
  -->
  <!--
  <a [routerLink]="['actions']" class="button fancy-button">
    <i class="material-icons material-icons-outlined">assessment</i>Actions
  </a>
  -->
  <a [routerLink]="['projects']" class="button fancy-button">
    <i class="material-icons material-icons-outlined">book</i>Projects
  </a>
  <a [routerLink]="['pipelines']" class="button fancy-button">
    <i class="material-icons">low_priority</i>Pipelines
  </a>
  <a [routerLink]="['files']" class="button fancy-button">
    <i class="material-icons">folder_open</i>Files
  </a>
  <a [routerLink]="['servers']" class="button fancy-button">
    <i class="material-icons">storage</i>Servers
  </a>
  <a style="margin-left: auto" [routerLink]="['about']" class="button fancy-button">
    <i class="material-icons">people</i>Users and Groups
  </a>
  <a [routerLink]="['system']" class="button fancy-button">
    <i class="material-icons">build</i>System
  </a>
  <a style="margin-right: 0.51em" [routerLink]="['about']" class="button fancy-button">
    <i class="material-icons">info</i>About
  </a>
</div>
