.topbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: .51em;
}

.topbar > * {
  padding: 0.5em 1em;
}

.topbar * {
  max-height: 2.25em;
}

.topbar img {
  /*padding: 0 1em;
  max-height: 3em;*/
}

.topbar > *:hover {
  background-color: #00000011;
  border-radius: 0.35em;
}
