.header {
  padding-left: 35px;
  padding-top: 0;
  margin-bottom: 0;
}
/*---------- Group/User List ----------*/
.searchable-list {
  width: 100%;
}

/* ----- Group/User Detail ------*/
.details {
  width: 100%;
  display: flex;
}
/*---------------------------------------------------*/
.drawer-container {
  height: 89vh;
}
.drawer {
  width: 25vw;
  background-color: whitesmoke;
  overflow-y: auto;
  @media(prefers-color-scheme: dark) {
    background-color: #383838;
  }
}
.drawer-content {
  padding: 0.2em;
  overflow-y: hidden;
  margin-bottom: 2em;
}

.drawer-element {
  display: block;
  margin: 0.5em;
}

.detail-container {
  background: white;
  padding: 0 3em;
  height: 100%;
  @media(prefers-color-scheme: dark) {
    background-color: #303030;
  }
}

.button-group {
  position: absolute;
  left: 1.25em;
  bottom: 1.25em;
  right: 1.25em;
}

.button-group button {
  margin: 0.25em;
}

.add-button {
  height: 2.5rem;
}

.show-projects-button {
  position: fixed;
  left: 1.5em;
  bottom: 1.5em;
  z-index: 99
}

.hide-projects-button {
  float: right;
}
