<mat-tab-group>

  <mat-tab label="Users">
    <mat-drawer-container class="drawer-container" [autosize]="false">
      <mat-drawer mode="side"
                  class="drawer"
                  [opened]="true"
                  [disableClose]="true"
                  #userDrawer>
        <div class="drawer-content">
          <div class="drawer-element">
            <app-searchable-list
              type="User"
              [allItems]="allUsers"
              searchPlaceholderText="Username..."
              listItemTooltip="Edit User"
              (itemEmitter)="userClicked($event)"
              (newItemEmitter)="onAddUserToggle($event)"
              class="searchable-list">
            </app-searchable-list>
          </div>
        </div>

        <div class="button-group">
          <button class="hide-projects-button" mat-mini-fab [color]="$any('white')" (click)="userDrawer.toggle()">
            <mat-icon matTooltip="Hide projects">keyboard_arrow_left</mat-icon>
          </button>
        </div>

      </mat-drawer>
      <mat-drawer-content class="detail-container">
        <app-user-details [selectedUser]="selectedUser"
                          [myName]="myName"
                          (deletedUserEmitter)="onUserDelete()"
                          class="details">
        </app-user-details>
        <button class="show-projects-button" *ngIf="!userDrawer.opened" mat-mini-fab [color]="$any('white')" (click)="userDrawer.toggle()">
          <mat-icon matTooltip="Show Projects">keyboard_arrow_right</mat-icon>
        </button>
      </mat-drawer-content>
    </mat-drawer-container>
  </mat-tab>

  <mat-tab label="Groups">
    <mat-drawer-container class="drawer-container" [autosize]="false">
      <mat-drawer id="userDrawer"
                  mode="side"
                  class="drawer"
                  [opened]="true"
                  [disableClose]="true"
                  #groupsDrawer>
        <div class="drawer-content">
          <div class="drawer-element">
            <app-searchable-list
              type="Group"
              [allItems]="allGroups"
              searchPlaceholderText="Groupname..."
              listItemTooltip="Edit Group"
              (itemEmitter)="groupClicked($event)"
              (newItemEmitter)="onAddGroupToggle($event)"
              class="searchable-list">
            </app-searchable-list>
          </div>
        </div>

        <div class="button-group">
          <button class="hide-projects-button" mat-mini-fab [color]="$any('white')" (click)="groupsDrawer.toggle()">
            <mat-icon matTooltip="Hide projects">keyboard_arrow_left</mat-icon>
          </button>
        </div>

      </mat-drawer>
      <mat-drawer-content class="detail-container">
        <app-group-details [selectedGroup]="selectedGroup"
                           [myUser]="myUser"
                           (groupDeleteEmitter)="onGroupDelete()"
                           class="details">
        </app-group-details>
        <button class="show-projects-button" *ngIf="!groupsDrawer.opened" mat-mini-fab [color]="$any('white')" (click)="groupsDrawer.toggle()">
          <mat-icon matTooltip="Show Projects">keyboard_arrow_right</mat-icon>
        </button>
      </mat-drawer-content>
    </mat-drawer-container>
  </mat-tab>

</mat-tab-group>
