<link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,1,0"/>
<mat-tab-group>

  <mat-tab label="Users">
    <mat-drawer-container class="drawer-container" [autosize]="false">
      <mat-drawer mode="side"
                  class="drawer"
                  [opened]="true"
                  [disableClose]="true">
        <div class="drawer-content">
          <div class="drawer-element">
            <app-searchable-list
              type="User"
              [allItems]="allUsers"
              searchPlaceholderText="Username..."
              listItemTooltip="Edit User"
              (itemEmitter)="userClicked($event)"
              (newItemEmitter)="onAddUserToggle($event)"
              class="searchable-list">
            </app-searchable-list>
          </div>
        </div>
      </mat-drawer>
      <mat-drawer-content class="detail-container">
        <app-user-details [selectedUser]="selectedUser"
                          [myName]="myName"
                          (deletedUserEmitter)="onUserDelete()"
                          class="details">
        </app-user-details>
      </mat-drawer-content>
    </mat-drawer-container>
  </mat-tab>

  <mat-tab label="Groups">
    <mat-drawer-container class="drawer-container" [autosize]="false">
      <mat-drawer id="userDrawer"
                  mode="side"
                  class="drawer"
                  [opened]="true"
                  [disableClose]="true">
        <div class="drawer-content">
          <div class="drawer-element">
            <app-searchable-list
              type="Group"
              [allItems]="allGroups"
              searchPlaceholderText="Groupname..."
              listItemTooltip="Edit Group"
              (itemEmitter)="groupClicked($event)"
              (newItemEmitter)="onAddGroupToggle($event)"
              class="searchable-list">
            </app-searchable-list>
          </div>
        </div>
      </mat-drawer>
      <mat-drawer-content class="detail-container">
        <app-group-details [selectedGroup]="selectedGroup"
                           [myUser]="myUser"
                           (groupDeleteEmitter)="onGroupDelete()"
                           class="details">
        </app-group-details>
      </mat-drawer-content>
    </mat-drawer-container>
  </mat-tab>

</mat-tab-group>
