<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,1,0"
/>
<div>


  <!--<div *ngIf="this.pipelines != null" class="flex-grow-row control-button-row">
    <div class="flex-grow"></div>
    <button class="create-button" mat-raised-button color="primary"
          (click)="openCreatePipelineDialog()">
      Create Pipeline
    </button>
  </div>


  <div class="none-defined-yet" *ngIf="pipelines != null && pipelines.length == 0">
    <i>There are no pipelines defined yet</i>
  </div>

  <app-loading-info [error]="loadError ? loadError.message : null" [loading]="pipelines == null"></app-loading-info>

  <mat-accordion>
    <mat-expansion-panel *ngFor="let pipeline of pipelines" (expandedChange)="editor.layout()">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon class="title-icon">timeline</mat-icon>{{pipeline.name}}
        </mat-panel-title>
        <mat-panel-description>
          {{pipeline.desc}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-group-assignment [currentlyAssignedGroups]="mockGroups"
                            (groupAssignmentRemovedEmitter)="null">
      </app-group-assignment>
      <div class="toml-pipeline">
        <h5>Definition</h5>
        <app-pipeline-editor #editor
          [pipelineId]="pipeline.id"
          [raw]="raw.get(pipeline.id)"
          [error]="error.get(pipeline.id)"
          [success]="success.get(pipeline.id)"
          [parseError]="parseError.get(pipeline.id)"
          (update)="update(pipeline.id, $event)"
          (check)="check(pipeline.id, $event)">
        </app-pipeline-editor>
      </div>
    </mat-expansion-panel>
  </mat-accordion>-->

  <mat-drawer-container class="drawer-container">
    <mat-drawer
      mode="side"
      class="drawer"
      [opened]="true"
      [disableClose]="true"
    >
      <div class="drawer-content">
        <div class="drawer-element">
          <app-searchable-list
            type="Pipeline"
            [allItems]="pipelines"
            searchPlaceholderText="Pipeline Name..."
            listItemTooltip="Edit Pipeline"
            (itemEmitter)="onPipelineClicked($event)"
            (newItemEmitter)="onAddPipeline($event)"
          >

          </app-searchable-list>

        </div>

      </div>

    </mat-drawer>
    <mat-drawer-content class="detail-container">
      <app-pipeline-details
        *ngIf="selectedPipeline"
        [selectedPipeline]="selectedPipeline"
        (pipelineDeleteEmitter)="onDeletePipeline($event)"
      ></app-pipeline-details>
      <span *ngIf="selectedPipeline === undefined" class="nothing-selected">No pipeline selected</span>
    </mat-drawer-content>
  </mat-drawer-container>

</div>
