:host {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  overflow-y: hidden;
  height: 98vh;
}

.title-icon {
    display: flex;
    width: 2em;
}

.toml-pipeline {
    margin: 0.2em 1em;
    padding: 0.5em;
}

.drawer-container {
  height: 94vh;
}

.drawer {
  width: 25vw;
  background-color: var(--color-background-middle);
  overflow-y: auto;
}

.drawer-content {
  padding: 0.2em;
  overflow-y: hidden;
  margin-bottom: 2em;
}

.drawer-element {
  display: block;
  margin: 0.5em;
}

.detail-container {
  background: var(--color-background-dark);
  padding: 0 1em;
  height: 100%;
}
.nothing-selected {
  text-align: center;
  padding: 3em;
  font-style: italic;
}

.button-group {
  position: absolute;
  left: 1.25em;
  bottom: 1.25em;
  right: 1.25em;
}

.button-group button {
  margin: 0.25em;
}

.add-button {
  height: 2.5rem;
}

.show-projects-button {
  position: fixed;
  left: 1.5em;
  bottom: 1.5em;
  z-index: 99
}

.hide-projects-button {
  float: right;
}
