<div>

  <mat-drawer-container class="drawer-container">
    <mat-drawer mode="side"
                class="drawer"
                [opened]="true"
                [disableClose]="true"
                #drawer>
      <div class="drawer-content">
        <div class="drawer-element">
          <app-searchable-list
            type="Pipeline"
            [allItems]="pipelines"
            searchPlaceholderText="Pipeline Name..."
            listItemTooltip="Edit Pipeline"
            (itemEmitter)="onPipelineClicked($event)"
          >

          </app-searchable-list>

        </div>

      </div>

      <div class="button-group">
        <button mat-fab [extended]="true" class="add-button" color="primary" (click)="openCreatePipelineDialog()" matTooltip="Create new Pipeline">
          <mat-icon matTooltip="Create new Pipeline">add</mat-icon>
          New Pipeline
        </button>

        <button class="hide-projects-button" mat-mini-fab [color]="$any('white')" (click)="drawer.toggle()">
          <mat-icon matTooltip="Hide projects">keyboard_arrow_left</mat-icon>
        </button>
      </div>

    </mat-drawer>
    <mat-drawer-content class="detail-container">
      <app-pipeline-details
        *ngIf="selectedPipeline"
        [selectedPipeline]="selectedPipeline"
        (pipelineDeleteEmitter)="onDeletePipeline($event)"
      ></app-pipeline-details>
      <span *ngIf="selectedPipeline === null" class="nothing-selected">No pipeline selected</span>
      <button class="show-projects-button" *ngIf="!drawer.opened" mat-mini-fab [color]="$any('white')" (click)="drawer.toggle()">
        <mat-icon matTooltip="Show Projects">keyboard_arrow_right</mat-icon>
      </button>

    </mat-drawer-content>
  </mat-drawer-container>

</div>
