<div #scrollTopTarget></div>
<mat-tab-group  #tabGroup (selectedIndexChange)="onSelectedTabChanged($event)">

  <mat-tab label="Control">
    <div class="loading-bar-container">
      <mat-progress-bar *ngIf="isLongLoading()" mode="buffer"></mat-progress-bar>
    </div>


    <form [formGroup]="formGroupControl">
      <div class="stage-control-item">
        <p>Stage to execute</p>
        <mat-form-field>
          <mat-select #stageSelection placeholder="Stage selection"
                      (valueChange)="onOverwriteStageSelectionChanged($event)">
            <mat-option *ngFor="let stage of project.pipelineDefinition.stageDefinitions; index as i"
                        value="{{i}}">{{stage.name}}</mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-stroked-button color="primary"
                [disabled]="stageSelection.value == null"
                (click)="onOverwriteStageSelectionChanged(stageSelection.value)">
          <mat-icon>loop</mat-icon>
        </button>
      </div>

      <div *ngIf="project.environment != null" class="stage-control-item-env-list">
        <div *ngFor="let entry of project.environment | keyvalue" class="stage-control-item">
          <p>{{entry.key}}</p>
          <mat-form-field>
            <input matInput placeholder="{{entry.key}}"
                   formControlName="{{entry.key}}"
                   [formGroup]="formGroupControl"
                   [required]="project.userInput.indexOf(entry.key) >= 0"
                   [value]="entry.value"
                   (change)="project.environment.set(entry.key, $event.target.value)">
          </mat-form-field>
          <div>
            <button mat-raised-button (click)="openFileBrowseDialog(entry.key)">Browse Files</button>
            <button mat-button color="warn" [disabled]="project.userInput.indexOf(entry.key) >= 0"
                    [matTooltip]="project.userInput.indexOf(entry.key) >= 0 ? 'This value is required' : null"
                    (click)="deleteEnvironment(entry.key)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
        <div class="stage-control-item">
          <mat-form-field>
            <input #key required matInput placeholder="Key">
          </mat-form-field>
          <mat-form-field>
            <input #value required matInput placeholder="Value">
          </mat-form-field>
          <div>
            <button mat-raised-button [disabled]="key.value.length == 0 || value.value.length == 0"
                    color="primary" (click)="addEnvironment(key.value, value.value); key.value = ''; value.value = '';">
              Add
            </button>
            <button mat-button color="primary" [disabled]="key.value.length == 0 && value.value.length == 0"
                    color="primary" (click)="key.value = ''; value.value = '';">Reset
            </button>
          </div>
        </div>
        <div class="stage-control-item" *ngIf="image">
          <label>Image</label>
          <mat-form-field>
            <input #value required matInput placeholder="Docker Image"
                   [required]="image.name != null && image.name.length > 0"
                   [formGroup]="formGroupControl"
                   [value]="image.name"
                   (change)="image.name = $event.target.value"
            >
          </mat-form-field>
          <div>
            <button mat-button color="primary" [disabled]="value.value == imageOriginal.name"
                    color="primary" (click)="value.value = imageOriginal.name;">Reset
            </button>
          </div>
        </div>
        <div class="stage-control-item" *ngIf="image">
          <label>Start Parameters</label>
          <mat-form-field>
            <input #value matInput placeholder="Parameters"
                   [required]="image.args != null && image.args.length > 0"
                   [formGroup]="formGroupControl"
                   [value]="stringify(image.args)"
                   (change)="image.args = parse($event.target.value)"
            >
          </mat-form-field>
          <div>
            <button mat-button color="primary" [disabled]="value.value == stringify(imageOriginal.args)"
                    color="primary" (click)="value.value = stringify(imageOriginal.args);">Reset
            </button>
          </div>
        </div>
        <div class="stage-control-item stage-control-item-controls" *ngIf="stageSelection.value != null">
          <button [disabled]="!formGroupControl.valid"
                  mat-stroked-button (click)="enqueueNextStage(stageSelection.value)"
                  color="primary">
            Enqueue
          </button>
        </div>
      </div>
    </form>


    <mat-divider></mat-divider>
    <div class="stage-control-item">
      <span></span>
      <div class="stage-control-item-controls">
        <button mat-stroked-button (click)="updateRequestPause(true)" color="warn">
          Pause Pipeline
        </button>
        <button mat-stroked-button (click)="updateRequestPause(false, true)" color="primary">
          Run Single Stage
        </button>
        <button mat-raised-button (click)="updateRequestPause(false, false)" color="primary">
          Resume Pipeline
        </button>
      </div>
    </div>
  </mat-tab>

  <mat-tab label="History">
    <div class="loading-bar-container">
      <mat-progress-bar *ngIf="isLongLoading()" mode="buffer"></mat-progress-bar>
    </div>

    <ng-container *ngIf="history != null">
      <i *ngIf="history.length == 0">This project has no history yet</i>
      <mat-accordion>
        <mat-expansion-panel *ngFor="let entry of history; index as i" class="history-list-item">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div class="history-list-column"><app-state-icon [state]="entry.state"></app-state-icon></div>
              <div class="history-list-column history-item-no">{{history.length - i}}</div>
              <div class="history-list-column history-item-date">{{toDate(entry.finishTime === null ? entry.startTime : entry.finishTime)}}</div>
              <div class="history-list-column">{{entry.stageName}}</div>
              <div class="history-list-column history-control-icons">
                <mat-icon *ngIf="isEnqueued(entry.state)" matTooltip="Stop" class="clickable" (click)="$event.stopPropagation(); cancelEnqueuedStage(i)">pan_tool</mat-icon>
                <mat-icon *ngIf="isRunning(entry.state)" matTooltip="Stop" class="clickable" (click)="$event.stopPropagation(); killCurrentStage()">pan_tool</mat-icon>
                <mat-icon matTooltip="Re-Run" class="clickable" (click)="$event.stopPropagation(); reRun(entry)">replay</mat-icon>
                <mat-icon *ngIf="entry.stageId" matTooltip="Open Logs" class="clickable" (click)="$event.stopPropagation(); openLogs(entry)">list_alt</mat-icon>
                <mat-icon *ngIf="entry.workspace" matTooltip="Open Directory" class="clickable" (click)="$event.stopPropagation(); openFolder(project, entry)">folder_open
                </mat-icon>
              </div>
            </mat-panel-title>
            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>
              <div class="history-item-detail">
                <ng-template #detailItem let-keyvalue>
                  <p class="history-item-detail-item mat-highlight-hover">
                    <label>{{keyvalue.key}}</label>
                    <label>{{keyvalue.value}}</label>
                  </p>
                </ng-template>

                <h3>Status Information</h3>
                <ng-template *ngTemplateOutlet="detailItem; context: {$implicit: {key: 'Unique Stage Id', value: entry.stageId}}"></ng-template>
                <ng-template *ngTemplateOutlet="detailItem; context: {$implicit: {key: 'Based on Stage Definition', value: entry.stageName}}"></ng-template>
                <ng-template *ngTemplateOutlet="detailItem; context: {$implicit: {key: 'Started execution at', value: entry.startTime != null ? toDate(entry.startTime) : 'not yet started'}}"></ng-template>
                <ng-template *ngTemplateOutlet="detailItem; context: {$implicit: {key: 'Finished execution at', value: entry.finishTime != null ? toDate(entry.finishTime) : 'not yet finished'}}"></ng-template>

                <h3>Image Information</h3>
                <ng-template *ngTemplateOutlet="detailItem; context: {$implicit: {key: 'Image', value: entry.imageInfo.name}}"></ng-template>
                <ng-template *ngTemplateOutlet="detailItem; context: {$implicit: {key: 'Arguments', value: entry.imageInfo.args|json}}"></ng-template>


                <h3>Environment Variables</h3>
                <i *ngIf="entry.env == null || entry.env.size == 0">none</i>
                <ng-container *ngFor="let e of entry.env | keyvalue">
                  <ng-template *ngTemplateOutlet="detailItem; context: {$implicit: {key: e.key, value: e.value}}">
                  </ng-template>
                </ng-container>

                <h3>Internal Environment Variables</h3>
                <i *ngIf="entry.envInternal == null || entry.envInternal.size == 0">none</i>
                <ng-container *ngFor="let e of entry.envInternal | keyvalue">
                  <ng-template *ngTemplateOutlet="detailItem; context: {$implicit: {key: e.key, value: e.value}}">
                  </ng-template>
                </ng-container>
              </div>
            </ng-template>
        </mat-expansion-panel>
      </mat-accordion>
    </ng-container>
  </mat-tab>

  <mat-tab label="Files">
    <ng-template matTabContent>
      <app-files #files class="files-tab-content"
                 [additionalRoot]="filesAdditionalRoot"
                 [navigateToAdditionalRoot]="true"
                 [navigationTarget]="this.filesNavigationTarget"
      ></app-files>

    </ng-template>
  </mat-tab>

  <mat-tab  label="Logs">
    <div class="loading-bar-container">
      <mat-progress-bar *ngIf="isLongLoading()" mode="buffer"></mat-progress-bar>
    </div>
    <div class="console-controls">
      <button mat-raised-button color="accent"
              [disabled]="watchLatestLogs"
              (click)="showLatestLogs(null)">Show log of most recent Stage
      </button>
      <button mat-stroked-button
              (click)="forceReloadLogs()"
      ><mat-icon>loop</mat-icon> Force Reload
      </button>
      <div>
        <mat-slide-toggle #windowMode (change)="scrollConsoleToBottom(true)" labelPosition="before">
          Window Mode
        </mat-slide-toggle>
        <button mat-stroked-button (click)="scrollBottom()">
          <mat-icon>arrow_downward</mat-icon>
        </button>
      </div>
    </div>
    <div *ngIf="watchLogsId == null && !watchLatestLogs"><i>No stage selected</i></div>
    <div class="logs-container" *ngIf="logs != null">
      <div #console class="console-container dark-console" [class.window-mode]="windowMode.checked"
           (scroll)="onConsoleScroll($event)">
        <pre class="console-container">
          <code *ngIf="logs != null" class="console"
            ><ng-container *ngFor="let log of logs; index as i"
              ><span
              ><span class="line-number" matTooltip="{{toDate(log.time)}}">{{i + 1}}</span
              ><span [class.console-err]="log.error"
                     [class.console-mgmt]="sourceIsManagement(log.source)"
                     [class.no-word-wrap]="windowMode.checked"
              >{{log.message}}</span
              ></span
            ></ng-container
            ></code>
        </pre>
      </div>
    </div>
    <div class="console-controls">
      <div>
        <mat-slide-toggle (click)="scrollConsoleToBottom(true)"
                          labelPosition="before"
                          [checked]="stickConsole"
                          (change)="this.scrollConsoleToBottomTimeout($event.checked)">
          Stick to the Bottom
        </mat-slide-toggle>
        <button mat-stroked-button (click)="scrollToTopTarget()">
          <mat-icon>arrow_upward</mat-icon>
        </button>
      </div>
    </div>
  </mat-tab>

    <mat-tab label="Settings">
      <div class="loading-bar-container">
          <mat-progress-bar *ngIf="isLongLoading()" mode="buffer"></mat-progress-bar>
      </div>
      <div class="stage-control-item">
        <label>Project Name</label>
        <mat-form-field>
          <input #nameOriginal hidden [value]="project.name">
          <input #nameEntered matInput name="name" [value]="project.name"
                 (input)="updateName.disabled = $event.target.value == nameOriginal.value"
                 (keydown.enter)="setName(nameEntered.value)">
        </mat-form-field>
        <button #updateName mat-stroked-button disabled color="primary"
                (click)="setName(nameEntered.value)">
          Update
        </button>
      </div>
      <div class="stage-control-item">
        <label>Project Pipeline</label>

        <mat-form-field>
          <input #pipelineOriginal hidden [value]="project.pipelineDefinition.name">
          <mat-select #selectedPipeline [value]="project.pipelineDefinition.name"
                      (valueChange)="updatePipeline.disabled = $event == pipelineOriginal.value">
            <mat-option *ngFor="let pipeline of pipelines" value="{{pipeline.name}}">
              {{pipeline.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button #updatePipeline mat-stroked-button disabled color="primary"
                (click)="setPipeline(selectedPipeline.value)">
          Update
        </button>
      </div>
      <div class="stage-control-item">
          <button mat-stroked-button color="warn" (click)="delete()">Delete</button>
      </div>
    </mat-tab>
</mat-tab-group>
<div #scrollBottomTarget></div>
