:host {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

:host mat-tab-group {
  overflow: auto !important;
}

.history-list-item {

}

.history-control-icons {
  flex-grow: 1;
  text-align: end;
}

.history-list-column:not(:first-child) {
  padding-left: 1em;
}

.state-icon-fix > span {
  align-items: center;
}

.history-item-no {
  text-align: end;
  min-width: 2em;
}

.history-item-date {
  min-width: 10em;
  text-align: end;
}

.history-item-detail p {
  display: flex;
  justify-content: space-between;
}

.history-item-detail-item {
  margin: 0;
  padding: 0.75em 1em;
}

.stage-control-item {
  display: flex;
  margin: 0 2em;
  align-items: center;
}

.stage-control-item > *:first-child {
  flex: 1;
}

.stage-control-item > *:last-child {

}

.stage-control-item > *:not(:first-child):not(:last-child) {
  margin: 0 1em;
  flex: 3;
}

.stage-control-item .mat-form-field-wrapper, .stage-control-item-controls {
  display: inline-flex;
  flex-grow: 1;
}

.stage-control-item-controls {
  display: flex;
  justify-content: center;
  margin-top: 3em;
  margin-bottom: 1em;
}

.stage-control-item button:not(:first-child), .stage-control-item-controls button:not(:first-child) {
  margin-right: 1em;
  margin-left: 1em;
}

.stage-control-item-env-list {
  margin: 1em 2em 2em 2em;
  padding: 1em 0;
  border: 1px solid silver;
  border-top: none;
  border-bottom: none;
  border-radius: 0.25em;
}

.files-tab-content {
  height: 100%;
}

.max-height {
  height: 100%;
}

.logs-container {
  overflow: auto;
  flex-grow: 1;
  flex-shrink: 1;
}

.console-controls {
  display: flex;
  padding: 1em 0;
  flex-shrink: 0;
}

.console-controls > *:not(:last-child) {
  margin-right: 2em;
}

.console-controls > *:last-child {
  margin-left: auto;
}

.console-container {
  display: flex;
  flex-grow: 1;
  margin: 0;
}

.console {
  flex-grow: 1;
  min-height: 10em;
  width: auto;
  font-weight: bold;
  padding: 1em;
}

.console span {
  word-break: normal;
  white-space: pre-wrap;
  padding: 0;
  margin: 0;
}

.console > * {
  display: flex;
  padding: 0 1em;
  margin: 0;
}

.console > *:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.console > *:last-child {
  margin-bottom: 2em;
}

.console .line-number {
  display: inline-block;
  flex-shrink: 0;
  color: darkgray;
  width: 3em;
  padding: 0 2em 0 0;
  text-align: end;
  user-select: none;
}

.dark-console {
  background-color: black;
  color: lightgrey;
}

.console-err {
  color: red;
}

.console-mgmt {
  color: dimgray;
}

.console-mgmt.console-err {
  color: darkred !important;
}

.window-mode {
  overflow: auto;
  height: 100%;
}

.console .no-word-wrap {
  word-break: unset !important;
  white-space: pre !important;
}

.console-scroll-up-down {
  display: flex;
  flex-direction: row;
}

.console-scroll-up-down > *:not(:last-child) {
  margin-right: 0.1em;
}
