:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
}

:host mat-tab-group {
  overflow: auto !important;
}

.files-tab-content {
  height: 100%;
}

.max-height {
  height: 100%;
  overflow: hidden;
}

label.disabled {
  color: rgba(0, 0, 0, 0.2);
}


.history-item-no {
  text-align: end;
  min-width: 2em;
}

.history-item-date {
  min-width: 10em;
  text-align: end;
}

.history-item-detail p {
  display: flex;
  justify-content: space-between;
}

.history-item-detail-item {
  margin: 0;
  padding: 0.75em 1em;
}

.history-more-buttons {
  width: max-content;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.history-more-buttons button:not(:first-child) {
  margin-left: 2em;
}

.empty-project-history {
  text-align: center;
  margin: auto;
  width: 50%;
  padding: 100px;
  font-size: 2em;
  opacity: 70%;
}
