<mat-tab-group #tabGroup (selectedIndexChange)="onSelectedTabChanged($event)">

  <mat-tab label="Control">
    <div class="loading-bar-container">
      <mat-progress-bar *ngIf="isLongLoading()" mode="buffer"></mat-progress-bar>
    </div>


    <form [formGroup]="formGroupControl">
      <div class="stage-control-item">
        <p>Overwrite stage execution order</p>
        <mat-form-field>
          <mat-select #stageSelection placeholder="Stage selection"
                      (valueChange)="onOverwriteStageSelectionChanged($event)">
            <mat-option *ngFor="let stage of project.pipelineDefinition.stageDefinitions; index as i"
                        value="{{i}}">{{stage.name}}</mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-stroked-button color="primary">
          <mat-icon>loop</mat-icon>
        </button>
      </div>

      <div *ngIf="project.environment != null" class="stage-control-item-env-list">
        <div *ngFor="let entry of project.environment | keyvalue" class="stage-control-item">
          <p>{{entry.key}}</p>
          <mat-form-field>
            <input matInput placeholder="{{entry.key}}"
                   formControlName="{{entry.key}}"
                   [formGroup]="formGroupControl"
                   [required]="project.userInput.indexOf(entry.key) >= 0"
                   [value]="entry.value"
                   (change)="project.environment.set(entry.key, $event.target.value)">
          </mat-form-field>
          <div>
            <button mat-raised-button (click)="openFileBrowseDialog(entry.key)">Browse Files</button>
            <button mat-button color="warn" [disabled]="project.userInput.indexOf(entry.key) >= 0"
                    [matTooltip]="project.userInput.indexOf(entry.key) >= 0 ? 'This value is required' : null"
                    (click)="project.environment.delete(entry.key)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
        <div class="stage-control-item">
          <mat-form-field>
            <input #key required matInput placeholder="Key">
          </mat-form-field>
          <mat-form-field>
            <input #value required matInput placeholder="Value">
          </mat-form-field>
          <div>
            <button mat-raised-button [disabled]="key.value.length == 0 || value.value.length == 0"
                    color="primary" (click)="addEnvironment(key.value, value.value); key.value = ''; value.value = '';">
              Add
            </button>
            <button mat-button color="primary" [disabled]="key.value.length == 0 && value.value.length == 0"
                    color="primary" (click)="key.value = ''; value.value = '';">Reset
            </button>
          </div>
        </div>
        <div class="stage-control-item-controls" *ngIf="stageSelection.value != null">
          <button [disabled]="!formGroupControl.valid" mat-stroked-button (click)="setNextStage(stageSelection.value, true)" color="primary">
            Run Single Stage
          </button>
          <button [disabled]="!formGroupControl.valid" mat-raised-button (click)="setNextStage(stageSelection.value)" color="primary">
            Resume Pipeline
          </button>
        </div>
      </div>
    </form>


    <mat-divider></mat-divider>
    <div class="stage-control-item">
      <span>Pause further stage execution</span>
      <mat-slide-toggle [checked]="paused"
                        (change)="updateRequestPause($event.checked)"></mat-slide-toggle>
    </div>
  </mat-tab>

  <mat-tab label="History">
    <div class="loading-bar-container">
      <mat-progress-bar *ngIf="isLongLoading()" mode="buffer"></mat-progress-bar>
    </div>

    <ng-container *ngIf="history != null">
      <i *ngIf="history.length == 0">This project has no history yet</i>
      <mat-list>
        <mat-list-item *ngFor="let entry of history; index as i" class="history-list-item mat-highlight-hover">

          <app-state-icon [state]="entry.state"></app-state-icon>
          <p class="history-item-no">{{history.length - i}}</p>
          <p>{{toDate(entry.finishTime === null ? entry.startTime : entry.finishTime)}}</p>
          <p>{{entry.stageName}}</p>
          <p class="history-list-item-grow">
            <mat-icon matTooltip="Open Logs" class="clickable" (click)="openLogs(project, entry)">list_alt</mat-icon>
            <mat-icon matTooltip="Open Directory" class="clickable" (click)="openFolder(project, entry)">folder_open
            </mat-icon>
          </p>
        </mat-list-item>
      </mat-list>
    </ng-container>
  </mat-tab>

  <mat-tab label="Files">
    <app-files #files class="files-tab-content" additionalRoot="{{project.name}};workspaces/{{project.id}}"></app-files>
  </mat-tab>

  <mat-tab label="Logs">
    <div class="loading-bar-container">
      <mat-progress-bar *ngIf="isLongLoading()" mode="buffer"></mat-progress-bar>
    </div>
    <div style="text-align: center">
      <button mat-raised-button color="accent" [disabled]="watchLatestLogs" (click)="showLatestLogs()">Show log of most
        recent Stage
      </button>
    </div>
    <div *ngIf="watchLogsId == null && !watchLatestLogs"><i>No stage selected</i></div>
    <div class="logs-container" *ngIf="logs != null">
      <div class="console-container">
        <pre class="console-container">
          <code *ngIf="logs != null" #console class="console dark-console"
          ><ng-container *ngFor="let log of logs; index as i"
          ><span
          ><span class="line-number" matTooltip="{{toDate(log.time)}}">{{i}}</span
          ><span [class.console-err]="log.error">{{log.message}}</span
          ></span
          ></ng-container>
          </code>
        </pre>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
