.loading-bar-container {
  height: 0.2em;
}

.history-list-item {
  display: flex;
}

.history-list-item *:last-child {
  flex-grow: 1;
  text-align: end;
}

.history-list-item p {
  padding-left: 1em;
}

.history-item-no {
  text-align: end;
  min-width: 2em;
}

.stage-control {
  padding: 2em;
  border: 1px solid silver;
  border-radius: .5em;
}

.stage-control-item {
  display: flex;
  margin: 2em 2em;
  align-items: center;
}

.stage-control-item > *:first-child {
  flex: 1;
}

.stage-control-item > *:last-child {
  flex: 1;
}

.stage-control-item > *:not(:first-child):not(:last-child) {
  margin-left: 1em;
  flex: 3;
}

.stage-control-item .mat-form-field-wrapper {
  display: inline-flex;
  flex-grow: 1;
}
