<!-- Default error catch -->
<div *ngIf="projects != null && projects.length == 0" class="none-defined-yet">
  <i>There are no projects yet</i>
</div>
<div *ngIf="projects != null && projects.length > 0 && projectsFiltered.length == 0" class="none-defined-yet">
  <i>No project matches the filter</i>
</div>

<!-- Section for Group-View -->
<div *ngIf="projectsGroups != null && projectsGroups != []">
  <!-- Group-View with Groups on Top -->
  <div *ngIf="groupsOnTop">
    <mat-list class="group">
      <h4>Groups</h4>
      <div *ngFor="let projectGroup of projectsGroups, last as isLast">
        <div *ngIf="projectGroup.projects.length > 1" id="groups">
          <app-projects-group [projectGroup]="projectGroup" [filter]="filter"
                              [selectedProject]="selectedProject"
                              [stateInfo]="stateInfo"
          ></app-projects-group>
          <mat-divider class="mat-divider" *ngIf="!isLast" [inset]="true"></mat-divider>
        </div>
        <div *ngIf="isLast && documentGet.getElementById('groups') == null" class="none-defined-yet">
          <i>There are no projects without a group</i>
        </div>
      </div>
      <h4>Projects</h4>
      <div *ngFor="let projectGroup of projectsGroups, let i = index, last as isLast">
        <div *ngIf="projectGroup.projects.length <= 1" id="projects">
          <mat-list-item *ngFor="let project of projectGroup.projects" class="project-selection-sidebar-item"
                         (click)="selectProject(project)"
                         [class.selected]="project.id == selectedProject?.id">
            <img alt="Project Icon" class="icon" #avatar src="{{thumbnailUrl(project)}}"
                 (error)="avatar.src = 'favicon.png'" (click)="makeImageBigger(thumbnailUrl(project), $event)">
            <app-project-view-header
              [project]="project" [filter]="filter"
              [iconState]="stateInfo?.get(project.id)?.state"
              [pauseReason]="stateInfo?.get(project.id)?.pauseReason"
              [progress]="stateInfo?.get(project.id)?.stageProgress"
              [running]="stateInfo?.get(project.id)?.state === 'RUNNING'"
              [mostRecentStage]="stateInfo?.get(project.id)?.description"
              (tagActionPrimary)="filter.toggleIncludedTag($event)"
              (tagActionSecondary)="filter.addExcludedTag($event)"
            ></app-project-view-header>
          </mat-list-item>
          <mat-divider class="mat-divider" *ngIf="!isLast" [inset]="true"></mat-divider>
        </div>
        <div *ngIf="isLast && documentGet.getElementById('projects') == null" class="none-defined-yet">
          <i>There are no projects without a group</i>
        </div>
      </div>
    </mat-list>
  </div>

  <!-- Group-View mixed -->
  <div *ngIf="!groupsOnTop">
    <mat-list class="group">
      <div *ngFor="let projectGroup of projectsGroups, last as isLast">
        <div *ngIf="projectGroup.projects.length > 1">
          <app-projects-group [projectGroup]="projectGroup" [filter]="filter"
                              [selectedProject]="selectedProject"
                              [stateInfo]="stateInfo"
          ></app-projects-group>
        </div>
        <div *ngIf="projectGroup.projects.length <= 1">
          <mat-list-item *ngFor="let project of projectGroup.projects" class="project-selection-sidebar-item"
                         (click)="selectProject(project)"
                         [class.selected]="project.id == selectedProject?.id">
            <img alt="Project Icon" class="icon" #avatar src="{{thumbnailUrl(project)}}"
                 (error)="avatar.src = 'favicon.png'" (click)="makeImageBigger(thumbnailUrl(project), $event)">
            <app-project-view-header
              [project]="project" [filter]="filter"
              [iconState]="stateInfo?.get(project.id)?.state"
              [pauseReason]="stateInfo?.get(project.id)?.pauseReason"
              [progress]="stateInfo?.get(project.id)?.stageProgress"
              [running]="stateInfo?.get(project.id)?.state==='RUNNING'"
              [mostRecentStage]="stateInfo?.get(project.id)?.description"
              (tagActionPrimary)="filter.toggleIncludedTag($event)"
              (tagActionSecondary)="filter.addExcludedTag($event)"
            ></app-project-view-header>
          </mat-list-item>
        </div>
        <mat-divider class="mat-divider" *ngIf="!isLast" [inset]="true"></mat-divider>
      </div>
    </mat-list>
  </div>
</div>

<!-- Section for Normal-View -->
<div *ngIf="projectsGroups == null">
  <mat-list>
    <mat-list-item *ngFor="let project of projectsFiltered, last as isLast" class="project-selection-sidebar-item"
                   (click)="selectProject(project)"
                   [class.selected]="project.id == selectedProject?.id">
      <img alt="Project Icon" class="icon" #avatar src="{{thumbnailUrl(project)}}" (error)="avatar.src = 'favicon.png'"
           (click)="makeImageBigger(thumbnailUrl(project), $event)">
      <app-project-view-header
        [project]="project" [filter]="filter"
        [iconState]="stateInfo?.get(project.id)?.state"
        [pauseReason]="stateInfo?.get(project.id)?.pauseReason"
        [progress]="stateInfo?.get(project.id)?.stageProgress"
        [running]="stateInfo?.get(project.id)?.state === 'RUNNING'"
        [mostRecentStage]="stateInfo?.get(project.id)?.description"
        (tagActionPrimary)="filter.toggleIncludedTag($event)"
        (tagActionSecondary)="filter.addExcludedTag($event)"
      ></app-project-view-header>
      <mat-divider class="mat-divider" *ngIf="!isLast" [inset]="true"></mat-divider>
    </mat-list-item>
  </mat-list>
</div>
