@if (projects && projects.length == 0) {

  <!-- No projects -->
  <div class="none-defined-yet">
    <i>There are no projects yet</i>
  </div>

} @else if (projects && projects.length > 0 && projectsFiltered && projectsFiltered.length == 0) {

  <!-- Filter error -->
  <div class="none-defined-yet">
    <i>No project matches the filter</i>
  </div>

} @else if (projectsGroups && projectsGroups != []) {

  <!-- Section for Group-View -->
  @if (groupsOnTop) {
    <!-- Groups on Top -->
    <mat-list>
      <h4>Groups</h4>
      @for (projectGroup of projectsGroups;track projectGroup) {
        @if (projectGroup.projects.length > 1) {
          <app-projects-group
            [projectGroup]="projectGroup" [filter]="filter"
            [selectedProject]="selectedProject"
            [stateInfo]="stateInfo"
          ></app-projects-group>
        }
      }
      <h4>Projects</h4>
      @for (projectGroup of projectsGroups;track projectGroup) {
        @if (projectGroup.projects.length <= 1) {
          @for (project of projectGroup.projects;track project) {
            <mat-list-item
              class="project-selection-sidebar-item"
              (click)="selectProject(project)"
              [class.selected]="project.id == selectedProject?.id"
            >
              <app-project-view-header
                [project]="project"
                [filter]="filter"
                [state]="stateInfo?.get(project.id)?.state"
                [pauseReason]="stateInfo?.get(project.id)?.pauseReason"
                [progress]="stateInfo?.get(project.id)?.stageProgress"
                [running]="stateInfo?.get(project.id)?.state === 'RUNNING'"
                [stage]="stateInfo?.get(project.id)?.description"
                (tagActionPrimary)="filter.toggleIncludedTag($event)"
                (tagActionSecondary)="filter.addExcludedTag($event)"
              ></app-project-view-header>
            </mat-list-item>
          }
        }
      }
    </mat-list>
  } @else {
  <!-- Mixed View -->
    <mat-list>
      @for (projectGroup of projectsGroups;track projectGroup) {
        @if (projectGroup.projects.length > 1) {
          <app-projects-group
            [projectGroup]="projectGroup" [filter]="filter"
            [selectedProject]="selectedProject"
            [stateInfo]="stateInfo"
          ></app-projects-group>
        } @else if (projectGroup.projects.length <= 1) {
          @for (project of projectGroup.projects;track project) {
            <mat-list-item
              class="project-selection-sidebar-item"
              (click)="selectProject(project)"
              [class.selected]="project.id == selectedProject?.id"
            >
              <app-project-view-header
                [project]="project" [filter]="filter"
                [state]="stateInfo?.get(project.id)?.state"
                [pauseReason]="stateInfo?.get(project.id)?.pauseReason"
                [progress]="stateInfo?.get(project.id)?.stageProgress"
                [running]="stateInfo?.get(project.id)?.state==='RUNNING'"
                [stage]="stateInfo?.get(project.id)?.description"
                (tagActionPrimary)="filter.toggleIncludedTag($event)"
                (tagActionSecondary)="filter.addExcludedTag($event)"
              ></app-project-view-header>
            </mat-list-item>
          }
        }
      }
    </mat-list>
  }

} @else if (!projectsGroups) {

  <!-- Projects without groups -->
  <mat-list>
    @for (project of projectsFiltered;track project) {
      <mat-list-item
        class="project-selection-sidebar-item"
        (click)="selectProject(project)"
        [class.selected]="project.id == selectedProject?.id"
      >
        <app-project-view-header
          [project]="project" [filter]="filter"
          [state]="stateInfo?.get(project.id)?.state"
          [pauseReason]="stateInfo?.get(project.id)?.pauseReason"
          [progress]="stateInfo?.get(project.id)?.stageProgress"
          [running]="stateInfo?.get(project.id)?.state === 'RUNNING'"
          [stage]="stateInfo?.get(project.id)?.description"
          (tagActionPrimary)="filter.toggleIncludedTag($event)"
          (tagActionSecondary)="filter.addExcludedTag($event)"
        ></app-project-view-header>
      </mat-list-item>
    }
  </mat-list>

}

