.project-selection-sidebar-item {
  height: max-content !important;
  padding: 0 !important;
  margin: 0.5rem 0;
}

.mat-icon-container-auto-align-label label {
  padding-left: 1em;
  margin: auto 0;
}

.vmenu-selection {
  overflow-y: auto;
  overflow-x: hidden;
}

.mat-mdc-card {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
