<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,1,0" />
<mat-chip-list></mat-chip-list>
<div class="list-and-label-container">
  <div class="list-content" id="list-content">
    <mat-form-field class="mat-input-container">
      <input matInput
             type="text"
             class="text-input-mat"
             [(ngModel)]="groupSearchInput"
             placeholder="Search.."
             (keyup)="filterFunction()">
    </mat-form-field>
    <!--<input type="text"
           class="text-input"
           [(ngModel)]="groupSearchInput"
           placeholder="Search.."
           (keyup)="filterFunction()">-->
    <div class="scrollable">
      <div *ngIf="displayGroups.length > 0">
        <div class="list-item" *ngFor="let group of nodeResourceAllocations.groupLimits">
          <div class="username-label">
            <mat-chip [style.background-color]="getChipColor(group)"
                      [matTooltip]="getTooltip(group)"
                      matTooltipShowDelay="250"
                      class="username-chip"
                      [disabled]="isServerFFA">
              {{group.name}}
            </mat-chip>
          </div>

          <mat-form-field appearance="fill" class="role-dropdown">
            <mat-label>Choose Role</mat-label>
            <mat-select class="role-select"
                        [(value)]="group.role"
                        (selectionChange)="roleChanged(group)"
                        [disabled]="isServerFFA">
              <mat-option *ngFor="let role of roles" value="{{role}}">{{role}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-accordion class="big-accordion" >
            <mat-expansion-panel [disabled]="isServerFFA">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Resources:
                </mat-panel-title>
                <label class="resource-title-value">
                  {{group.resourceLimitation.cpu}}/{{maxCpuCores}} CPU Cores
                  {{group.resourceLimitation.gpu}}/{{maxGpus}} GPUs &nbsp;
                  {{getMemoryString(group.resourceLimitation.mem)}}/{{(maxMemory/1024).toFixed()}} GiB &nbsp;
                </label>
              </mat-expansion-panel-header>
              <div class="expansion-content-container">
                <div class="single-resource-container">
                  <label class="resource-label">CPU Cores: </label>
                  <mat-form-field class="input-width">
                    <input type="number"
                           matInput
                           min="0"
                           max="{{maxCpuCores}}"
                           [disabled]="isServerFFA"
                           [(ngModel)]="group.resourceLimitation.cpu">
                    <mat-error *ngIf="cpuFormControl.hasError('max')">
                      There are only {{maxCpuCores}} cores available
                    </mat-error>
                  </mat-form-field>
                  <mat-slider class="slider"
                              min="0"
                              max="{{maxCpuCores}}"
                              step="1"
                              (input)="cpuHasChanged($event, group)"
                              [(ngModel)]="group.resourceLimitation.cpu"
                              [disabled]="isServerFFA">
                    <input>
                  </mat-slider>
                </div>
                <div class="single-resource-container" [ngStyle]="{'border-left':'1px solid darkgrey', 'border-right':'1px solid darkgrey'}">
                  <label class="resource-label">GPUs: </label>
                  <mat-form-field class="input-width">
                    <input type="number"
                           matInput
                           min="0"
                           max="{{maxGpus}}"
                           placeholder="GPUs"
                           [disabled]="isServerFFA"
                           [(ngModel)]="group.resourceLimitation.gpu">
                    <mat-error>
                      There are only {{maxGpus}} GPUs available
                    </mat-error>
                  </mat-form-field>
                  <mat-slider class="slider"
                              min="0"
                              max="{{maxGpus}}"
                              step="1"
                              (input)="gpuHasChanged($event, group)"
                              [(ngModel)]="group.resourceLimitation.gpu"
                              [disabled]="isServerFFA">
                    <input>
                  </mat-slider>
                </div>
                <div class="single-resource-container">
                  <label class="resource-label">Memory: </label>
                  <mat-form-field class="input-width">
                    <input type="number"
                           matInput
                           min="0"
                           max="{{maxMemory}}"
                           placeholder="Memory (MiB)"
                           (change)="memoryInputHasChanged($event)"
                           [disabled]="isServerFFA"
                           [(ngModel)]="group.resourceLimitation.mem">
                    <mat-error>
                      There are only {{maxMemory / 1024}} GiB of Memory available
                    </mat-error>
                  </mat-form-field>
                  <mat-slider class="slider"
                              min="0"
                              max="{{maxMemory}}"
                              step="256"
                              (input)="memorySliderHasChanged($event, group)"
                              [(ngModel)]="group.resourceLimitation.mem"
                              [disabled]="isServerFFA">
                    <input>
                  </mat-slider>
                </div>
              </div>
              <button mat-raised-button class="update-btn" color="primary" [disabled]="isServerFFA">Update</button>
            </mat-expansion-panel>
          </mat-accordion>

          <div class="btn-container">
            <button mat-raised-button
                    class="remove-member-button"
                    color="warn"
                    (click)="onRemoveItemClick(group)"
                    [disabled]="isServerFFA">
              <!--<span class="material-symbols-outlined item-icon">group_remove</span>-->
              Remove
            </button>
          </div>
        </div>
      </div>

      <div *ngIf="displayGroups.length === 0" class="list-item">
        <label class="no-groups-label">No groups assigned</label>
      </div>

    </div>
    <div class="add-member-button-container">
      <button class="mat-raised-button"
              mat-raised-button=""
              color="primary"
              (click)="openAddGroupDialog()"
              [disabled]="isServerFFA">
        Add Group
      </button>
    </div>
  </div>
  <div class="ffa-container">
    <div class="label-and-checkbox-container">
      <label class="ffa-label">Free For All Server: </label>
      <mat-checkbox [(ngModel)]="nodeResourceAllocations.freeForAll">
      </mat-checkbox>
    </div>
    <div class="ffa-accordion-container">
      <mat-accordion class="ffa-accordion">
        <mat-expansion-panel [disabled]="!nodeResourceAllocations.freeForAll" [expanded]="nodeResourceAllocations.freeForAll">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Max. Resources per User:
            </mat-panel-title>
            <label class="resource-title-value">
              {{nodeResourceAllocations.globalLimit.cpu}}/{{maxCpuCores}} CPU Cores &nbsp;
              {{nodeResourceAllocations.globalLimit.gpu}}/{{maxGpus}} GPUs &nbsp;
              {{assignedMemoryStringFFA}}/{{(maxMemory/1024).toFixed()}} GiB &nbsp;
            </label>
          </mat-expansion-panel-header>
          <div class="expansion-content-container">
            <div class="single-resource-container">
              <label class="resource-label">CPU Cores: </label>
              <mat-form-field class="input-width">
                <input type="number"
                       matInput
                       min="0"
                       max="{{maxCpuCores}}"
                       placeholder="CPU Cores"
                       [(ngModel)]="nodeResourceAllocations.globalLimit.cpu">
                <mat-error *ngIf="cpuFormControl.hasError('max')">
                  There are only {{maxCpuCores}} cores available
                </mat-error>
              </mat-form-field>
              <mat-slider class="slider"
                          min="0"
                          max="{{maxCpuCores}}"
                          step="1"
                          (input)="cpuHasChangedFFA($event)"
                          [(ngModel)]="nodeResourceAllocations.globalLimit.cpu">
                <input>
              </mat-slider>
            </div>
            <div class="single-resource-container" [ngStyle]="{'border-left':'1px solid darkgrey', 'border-right':'1px solid darkgrey'}">
              <label class="resource-label">GPUs: </label>
              <mat-form-field class="input-width">
                <input type="number"
                       matInput
                       min="0"
                       max="{{maxGpus}}"
                       placeholder="GPUs"
                       [(ngModel)]="nodeResourceAllocations.globalLimit.gpu">
                <mat-error>
                  There are only {{maxGpus}} GPUs available
                </mat-error>
              </mat-form-field>
              <mat-slider class="slider"
                          min="0"
                          max="{{maxGpus}}"
                          step="1"
                          (input)="gpuHasChangedFFA($event)"
                          [(ngModel)]="nodeResourceAllocations.globalLimit.gpu">
                <input>
              </mat-slider>
            </div>
            <div class="single-resource-container">
              <label class="resource-label">Memory: </label>
              <mat-form-field class="input-width">
                <input type="number"
                       matInput
                       min="0"
                       max="{{maxMemory}}"
                       placeholder="Memory (MiB)"
                       [ngModel]="assignedMemoryNumberFFA"
                       (change)="memoryInputHasChangedFFA($event)">
                <mat-error>
                  There are only {{mockMaxMemoryFFA / 1024}} GiB of Memory available
                </mat-error>
              </mat-form-field>
              <mat-slider class="slider"
                          min="0"
                          max="{{maxMemory}}"
                          step="256"
                          (input)="memorySliderHasChangedFFA($event)"
                          [(ngModel)]="assignedMemoryNumberFFA">
                <input>
              </mat-slider>
            </div>
          </div>
          <button mat-raised-button class="update-btn" color="primary">Update</button>
        </mat-expansion-panel>
      </mat-accordion>
    </div>

  </div>
</div>
