<ng-container class="outerContainer">
  <div class="library-icons-container">
    <div class="button-container" *ngIf="executionSelection.selectedStage != null">
      <button class="enqueue-button"
              [disabled]="!executionSelection.valid"
              (click)="enqueue(
              executionSelection.selectedPipeline,
              executionSelection.selectedStage,
              executionSelection.getEnv(),
              executionSelection.getRangedEnv(),
              executionSelection.getImage(),
              executionSelection.getResourceRequirements(),
              executionSelection.getWorkspaceConfiguration(),
              executionSelection.getComment(),
              false,
              false
            )">
        <mat-icon class="library-icon" [ngStyle]="{'color':'#6ac904'}" title="Enqueue stage">send</mat-icon>
      </button>
    </div>
    <div class="button-container">
      <div class="library-button">
        <mat-icon class="library-icon" title="Go to workflow start" (click)="onApiCall('fit')">settings_overscan</mat-icon>
      </div>
    </div>
    <div class="button-container">
      <div class="library-button">
        <mat-icon class="library-icon" title="Zoom in" (click)="onApiCall('zoomIn')">zoom_in</mat-icon>
      </div>
    </div>
    <div class="button-container">
      <div class="library-button">
        <mat-icon class="library-icon" title="Zoom Out" (click)="onApiCall('zoomOut')">zoom_out</mat-icon>
      </div>
    </div>
  </div>
  <app-stage-execution-selection #executionSelection
                                 [pipelines]="getPipelineDefWithCorrectType(pipelineDef)"
                                 [pipelineSelectionDisabled]="true"
                                 [defaultPipelineId]="getPipelineIdAsString(pipelineDef)"
                                 [stageDefinition]="isNodeStageWorker(selectedNode$?.consumerData)"
                                 [stageSelectionDisabled]="true">

  </app-stage-execution-selection>
</ng-container>
