@import "https://fonts.googleapis.com/icon?family=Material+Icons";

.drag {
  border-top: 1px solid #7f7f7f;
  border-bottom: 1px solid #7f7f7f;
  display: flex;
  justify-content: flex-end;
}

.editNodeForm {
  min-width: 200px;
  max-width: 500px;
  width: 100%;
}

.full-width {
  width: 100%;
}

app-stage-execution-selection {
  display: block;
  max-height: 320px;
  overflow-y: scroll;
  padding: 1em;
}

.control-library-top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.title-container {
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 3em;
  align-items: center;
  width: 70%;
  padding-right: 3em;
}
.library-icons-container {
  width: 30%;
  display: flex;
  justify-content: space-around;
  border-radius: 4px;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--color-background-middle);
}


.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}





.node {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.iconCancel {
  margin-bottom: auto;
  margin-top: auto;
}
.unsaved-data{
  color: #FF0D0D;
}
.saved-data{
  color: #69B34C;
}





.library-button {
  display: flex;
  justify-content: center;
  border-radius: 0.3em;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0.02em 0.2em rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.library-button:hover {
  scale: 1.05;
  cursor: pointer;
}

.enqueue-button {
  display: flex;
  justify-content: center;
  border-radius: 0.3em;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0.02em 0.2em rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding-left: 1.6em;
  padding-right: 1.5em;
}

.enqueue-button:hover {
  scale: 1.05;
  cursor: pointer;
}

.border-right {
  border-right: 1px solid grey;
}
.border-left {
  border-left: 1px solid grey;
}

