:host {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-wrap: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.project-container {
  flex-grow: 1;
  flex-direction: row;
  display: flex;
  padding: 0.5rem;
  gap: 0.5rem;
  place-items: center;

  background-color: var(--color-background);
}

.project-info-column {
  flex-grow: 1;
  flex-direction: column;
  display: flex;
  gap: 0.25rem;
  text-wrap: wrap;
}

.project-title-row {
  flex-grow: 1;
  flex-direction: row;
  display: flex;
  place-items: center;
}

.project-title {
  flex-grow: 1;
  margin: 0;
}

.description-progress-bar {
  width: 10em;
  margin: auto 1em;
}

.right-click-trigger {
  width: 100%;
}
