:host {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-wrap: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

:host label {
  overflow: hidden;
  text-overflow: ellipsis;
}

.inline-title {
  display: inline-flex;
  align-items: center;
}

.description-progress-bar {
  width: 10em;
  margin: auto 1em;
}

.right-click-trigger {
  width: 100%;
}

mat-card-header {
  padding: 0.5rem;
  align-items: center;
}
