<div class="pipeline-name-dialog-container">
  <h2>Choose a Pipeline Name</h2>

  <div class="inputs">
    <!--<label class="error-label">{{errorMessage}}</label>-->
    <mat-form-field>
      <input matInput
             placeholder="Pipeline Name"
             id="nameInput"
             [(ngModel)]="nameInput"
             (keyup.enter)="createClicked()">
    </mat-form-field>

    <div mat-dialog-actions class="dialog-actions-container">
      <div></div>
      <div class="buttons">
        <button mat-raised-button color="primary"
                (click)="dialogRef.close()">
          Cancel
        </button>
        <button mat-raised-button color="primary"
                (click)="createClicked()"
                [disabled]="errorMessage !== ''">
          Create
        </button>
      </div>
    </div>
  </div>
</div>
