:host {
  @media(prefers-color-scheme: dark) {
    color: white;
  }
}

.pipeline-name-dialog-container {
  width: 35em;
  max-height: 25vh;
  padding: 1rem;
}
.dialog-actions-container {
  justify-content: space-between;
}
.mat-mdc-form-field {
  width: 100%;
  margin-top: 1em;
}
.buttons {
  float: right;
}
