<mat-tab-group class="worker-settings-container">

  <mat-tab label="General">
    <div class="tab-container">
      <mat-form-field appearance="outline" class="reduce-formfield-height">
        <mat-label>Name</mat-label>
        <input matInput name="name" [value]="selectedNodeData.name" (change)="setName($event)">
      </mat-form-field>
      <mat-form-field appearance="outline" class="reduce-formfield-height">
        <mat-label>Description</mat-label>
        <input matInput name="description" [value]="selectedNodeData.description" (change)="setDescription($event)">
      </mat-form-field>
      <div class="slide-toggle-row">
        <mat-slide-toggle [checked]="selectedNodeData.discardable"
                          (change)="selectedNodeData.discardable = !selectedNodeData.discardable; emitSave()">
          Discardable
        </mat-slide-toggle>
      </div>
      <div class="slide-toggle-row">
        <mat-slide-toggle [checked]="selectedNodeData.privileged"
                          (change)="selectedNodeData.privileged = !selectedNodeData.privileged; emitSave()">
          Privileged
        </mat-slide-toggle>
      </div>
      <div class="slide-toggle-row">
        <mat-slide-toggle [checked]="selectedNodeData.ignoreFailuresWithinExecutionGroup"
                          (change)="selectedNodeData.ignoreFailuresWithinExecutionGroup = !selectedNodeData.ignoreFailuresWithinExecutionGroup; emitSave()">
          Ignore failure in Execution Group
        </mat-slide-toggle>
      </div>
    </div>
  </mat-tab>

  <mat-tab label="Image">
    <div class="tab-container">
      <mat-form-field appearance="outline">
        <mat-label>Image Name</mat-label>
        <input matInput name="image-name" [value]="selectedNodeData.image.name" (change)="setImageName($event)">
      </mat-form-field>
      <app-argument-list [argList]="selectedNodeData.image.args" (changeEmitter)="setImageArgs($event)" argName="Image Arg">
      </app-argument-list>
      <!-- <input matInput name="image-args" [value]="selectedNodeData.image.args.toString()" (change)="setImageArgs($event)">-->

      <mat-form-field appearance="outline" class="whitespace-separator-top">
        <mat-label>Image shmSizeMegabytes</mat-label>
        <input matInput name="image-megabytes" type="number" [value]="selectedNodeData.image.shmMegabytes.toString()" (change)="setImageMegabytes($event)">
      </mat-form-field>
    </div>
  </mat-tab>

  <mat-tab label="Requirements">
    <div class="tab-container">
      <mat-form-field appearance="outline" class="reduce-formfield-height">
        <mat-label>CPUs</mat-label>
        <input matInput type="number" name="required-cpus" [value]="selectedNodeData.requiredResources.cpus.toString()" (change)="setRequiredCPUs($event)">
      </mat-form-field>
      <mat-form-field appearance="outline" class="reduce-formfield-height">
        <mat-label>Megabytes of RAM</mat-label>
        <input matInput type="number" name="required-ram" [value]="selectedNodeData.requiredResources.megabytesOfRam.toString()" (change)="setRequiredRAM($event)">
      </mat-form-field>
      <mat-form-field appearance="outline" label="Confirmation" class="reduce-formfield-height">
        <mat-label>GPU Vendor</mat-label>
        <mat-select label="Confirmation" [(value)]="selectedNodeData.requiredResources.gpu.vendor" (selectionChange)="emitSave()">
          <mat-option value="nvidia">nvidia</mat-option>
          <mat-option value="amd">amd</mat-option>
          <mat-option value="intel">intel</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="reduce-formfield-height">
        <mat-label>GPU Count</mat-label>
        <input matInput type="number" name="required-gpus" [value]="selectedNodeData.requiredResources.gpu.count.toString()" (change)="setRequiredGPUs($event)">
      </mat-form-field>
      <app-argument-list [argList]="selectedNodeData.requiredResources.gpu.support" argName="GPU Support" (changeEmitter)="selectedNodeData.requiredResources.gpu.support = $event; emitSave()">

      </app-argument-list>
      <app-argument-list [argList]="selectedNodeData.requiredResources.tags"
                         argName="Tag" (changeEmitter)="selectedNodeData.requiredResources.tags = $event; emitSave()">

      </app-argument-list>
    </div>
  </mat-tab>

  <mat-tab label="User Input">
    <div class="tab-container">
      <mat-form-field appearance="outline" label="Confirmation" class="reduce-formfield-height">
        <mat-label>Confirmation</mat-label>
        <mat-select label="Confirmation" [(value)]="selectedNodeData.userInput.confirmation" (selectionChange)="emitSave()">
          <mat-option value="NEVER">NEVER</mat-option>
          <mat-option value="ONCE">ONCE</mat-option>
          <mat-option value="ALWAYS">ALWAYS</mat-option>
        </mat-select>
      </mat-form-field>
      <app-argument-list [argList]="selectedNodeData.userInput.requiredEnvVariables" argName="Required Environment Variable" (changeEmitter)="selectedNodeData.userInput.requiredEnvVariables = $event; emitSave()">
      </app-argument-list>
    </div>
  </mat-tab>

  <mat-tab label="LogParsers">
    <div class="tab-container">
      <mat-accordion>
        <mat-expansion-panel [expanded]="selectedNodeData.logParsers.length < 1">
          <mat-expansion-panel-header>
            <mat-panel-title class="bold">
              Create new LogParser
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-form-field appearance="outline" class="reduce-formfield-height wide">
            <mat-label>LogParser Matcher</mat-label>
            <input #newLogParserMatcherInput
                   matInput
                   name="newLogParserMatcher">
          </mat-form-field>
          <mat-form-field appearance="outline" class="reduce-formfield-height wide">
            <mat-label>LogParser Destination</mat-label>
            <input #newLogParserDestinationInput
                   matInput
                   name="newLogParserDestination">
          </mat-form-field>
          <mat-form-field appearance="outline" class="reduce-formfield-height wide">
            <mat-label>LogParser Formatter</mat-label>
            <input #newLogParserFormatterInput
                   matInput
                   name="newLogParserFormatter">
          </mat-form-field>
          <mat-form-field appearance="outline" class="reduce-formfield-height wide">
            <mat-label>LogParser Type</mat-label>
            <input #newLogParserTypeInput
                   matInput
                   name="newLogParserType">
          </mat-form-field>
          <button mat-flat-button
                  color="primary"
                  class="wide"
                  (click)="addNewLogParser(newLogParserMatcherInput.value, newLogParserDestinationInput.value, newLogParserFormatterInput.value, newLogParserTypeInput.value)">
            Add as new LogParser
          </button>
        </mat-expansion-panel>
      </mat-accordion>
      @for (logParser of selectedNodeData.logParsers; track logParser) {
        <mat-accordion>
          <mat-expansion-panel [expanded]="selectedNodeData.logParsers.length > 0">
            <mat-expansion-panel-header>
              <mat-panel-title class="bold">
                <p>LogParser {{$index + 1}}</p>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-form-field appearance="outline" class="reduce-formfield-height wide">
              <mat-label>LogParser Matcher</mat-label>
              <input #logParserMatcherInput
                     matInput
                     name="logParserMatcher"
                     [value]="logParser.matcher"
                     (change)="logParser.matcher = logParserMatcherInput.value; emitSave()">
            </mat-form-field>
            <mat-form-field appearance="outline" class="reduce-formfield-height wide">
              <mat-label>LogParser Destination</mat-label>
              <input #logParserDestinationInput
                     matInput
                     name="logParserDestination"
                     [value]="logParser.destination"
                     (change)="logParser.destination = logParserDestinationInput.value; emitSave()">
            </mat-form-field>
            <mat-form-field appearance="outline" class="reduce-formfield-height wide">
              <mat-label>LogParser Formatter</mat-label>
              <input #logParserFormatterInput
                     matInput
                     name="logParserFormatter"
                     [value]="logParser.formatter"
                     (change)="logParser.formatter = logParserFormatterInput.value; emitSave()">
            </mat-form-field>
            <mat-form-field appearance="outline" class="reduce-formfield-height wide">
              <mat-label>LogParser Type</mat-label>
              <input #logParserTypeInput
                     matInput
                     name="logParserType"
                     [value]="logParser.type"
                     (change)="logParser.type = logParserTypeInput.value; emitSave()">
            </mat-form-field>
          </mat-expansion-panel>
        </mat-accordion>


      }

    </div>
  </mat-tab>

  <!--<mat-tab label="Environment">

  </mat-tab>-->

  <!--<mat-tab label="Highlight">
    <div class="tab-container">
      <app-argument-list [argList]="selectedNodeData.highlight.resources"
                         argName="Resource"
                         (changeEmitter)="selectedNodeData.highlight.resources = $event; emitSave()">
      </app-argument-list>
    </div>
  </mat-tab>-->



</mat-tab-group>
