<form [formGroup]="editForm">
  <table>
    <ng-container *ngFor="let entry of formMap | keyvalue:keepOriginalOrder ; index as i">
      <tr>
    <span *ngIf="entry.key != 'id' && isNotObject(entry.value)" class="val-string">
      <td>{{entry.key}}</td>
      <td> <input formControlName="{{entry.key}}"> </td>
    </span>
      </tr>
      <tr *ngIf="!isNotObject(entry.value)">
        <td class="nestedField">
          <span class="sub-object">
            <mat-icon class="icon" (click)="extendData(i)" *ngIf="!extended[i]">keyboard_arrow_right</mat-icon>
            <mat-icon class="icon" (click)="extendData(i)" *ngIf="extended[i]">keyboard_arrow_down</mat-icon>
            <div (click)="extendData(i)">{{entry.key}} </div>
          <mat-icon class="icon add-icon">add_box</mat-icon>
          </span>
          <div *ngIf="extended[i]">
            <app-edit-forms
              #form
              [formMap]="entry.value"
              [formObj]="entry.value"
              [objPlace]="entry.key"
              (onCollectData)="collectFormData($event)"
            >
            </app-edit-forms>
          </div>
        </td>
      </tr>
    </ng-container>
  </table>
</form>
