<div class="add-user-popup-container">
  <h2>Add a user</h2>
  <div class="inputs">
    <mat-form-field appearance="outline">
      <input matInput
             placeholder="Search for a name..."
             id="searchInput"
             [(ngModel)]="userSearchInput"
             (keyup)="onKeyUp()">
    </mat-form-field>

    <mat-list id="list" class="list-container">
      <div class="user-item-from-dialog" *ngFor="let user of displayUsers">
        <label class="username-label-popup">{{user.name}}</label>
        <mat-form-field appearance="fill" class="role-dropdown">
          <mat-label>Choose Role</mat-label>
          <mat-select [(value)]="selectedRole">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let role of allRoles" [value]="role">{{role}}</mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-fab class="add-member-round-button"  (click)="addUserClicked(user.name, selectedRole)" [disabled]="!selectedRole">
          <mat-icon>person_add</mat-icon>
        </button>
        <!--<span class="material-symbols-outlined item-icon" (click)="addUserClicked(user)">person_add</span>-->
      </div>
    </mat-list>

    <div mat-dialog-actions align="end">
      <button mat-raised-button color="primary" (click)="dialogRef.close()">Cancel</button>
    </div>
  </div>
</div>
