.list-container {
  overflow-y: auto;
  overflow-x: clip;
}

.inputs {
  display: flex;
  flex-direction: column;
}

.user-item-from-dialog {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.username-label-popup {
  margin-left: 1em;
  margin-right: 1em;

  width: 2em;
}

.role-dropdown {
  width: 8em;
  display: flex;
  align-items: center;
  margin-top: 1.2em;
}

.add-member-round-button {
  margin-right: 1em;
  margin-left: 6em;
  background-color: #3f51b5;
  border-radius: 50%;
  border: none;
  width: 45px;
  height: 45px;
  box-shadow: 0 1px 3px grey;
}

.add-member-round-button:enabled {
  cursor: pointer;
}

.add-member-round-button:enabled:hover {
  scale: 1.1;
}

.add-member-round-button:disabled {
  background-color: grey;
  cursor: default;
}

.add-user-popup-container {
  max-height: 50vh;
  width: 50vw;
  padding: 1rem;
  background-color: var(--color-background-dark);
  color: var(--font-color);
  overflow-y: auto;
  overflow-x: clip;
}
