<div *ngIf="projects != null && projects.length == 0" class="none-defined-yet">
  <i>There are no projects yet</i>
</div>
<div *ngIf="projects != null && projects.length > 0 && projectsFiltered.length == 0" class="none-defined-yet">
  <i>No project matches the filter</i>
</div>
<div *ngIf="projectsGroups != null">
  <mat-list class="group">
    <div *ngFor="let projectGroup of projectsGroups, last as isLast">
      <div *ngIf="projectGroup.projects.length > 1">
        <mat-expansion-panel class="group">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div *ngIf="projectGroup.projects.length <= 9">
                <mat-icon matTooltip="Project group">filter_{{projectGroup.projects.length}}</mat-icon>
              </div>
              <div *ngIf="projectGroup.projects.length > 9">
                <mat-icon matTooltip="Project group">filter_9_plus</mat-icon>
              </div>
              <app-tags-with-autocomplete
                [readonly]="true"
                [tags]="[projectGroup.name]">
              </app-tags-with-autocomplete>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div>
            <mat-list-item *ngFor="let project of projectGroup.projects" class="project-selection-sidebar-item"
                           (click)="selectProject(project)"
                           [class.selected]="project.id == selectedProject?.id">
              <img class="icon" #avatar src="favicon.png" (error)="avatar.src = 'favicon.png'">
              <app-project-view-header
                [project]="project"
                [iconState]="stateInfo?.get(project.id)?.getState()"
                [pauseReason]="stateInfo?.get(project.id)?.pauseReason"
                [progress]="stateInfo?.get(project.id)?.stageProgress"
                [running]="stateInfo?.get(project.id)?.isRunning()"
                [mostRecentStage]="stateInfo?.get(project.id)?.description"
                (tagActionPrimary)="filter.toggleIncludedTag($event)"
                (tagActionSecondary)="filter.addExcludedTag($event)"
              ></app-project-view-header>
            </mat-list-item>
          </div>
        </mat-expansion-panel>
      </div>
      <div *ngIf="projectGroup.projects.length <= 1">
        <mat-list-item *ngFor="let project of projectGroup.projects" class="project-selection-sidebar-item"
                       (click)="selectProject(project)"
                       [class.selected]="project.id == selectedProject?.id">
          <img class="icon" #avatar src="favicon.png" (error)="avatar.src = 'favicon.png'">
          <app-project-view-header
            [project]="project"
            [iconState]="stateInfo?.get(project.id)?.getState()"
            [pauseReason]="stateInfo?.get(project.id)?.pauseReason"
            [progress]="stateInfo?.get(project.id)?.stageProgress"
            [running]="stateInfo?.get(project.id)?.isRunning()"
            [mostRecentStage]="stateInfo?.get(project.id)?.description"
            (tagActionPrimary)="filter.toggleIncludedTag($event)"
            (tagActionSecondary)="filter.addExcludedTag($event)"
          ></app-project-view-header>
        </mat-list-item>
      </div>
      <mat-divider class="mat-divider" *ngIf="!isLast" [inset]="true"></mat-divider>
    </div>
  </mat-list>
</div>
<div *ngIf="projectsGroups == null">
  <mat-list>
    <mat-list-item *ngFor="let project of projectsFiltered" class="project-selection-sidebar-item"
                   (click)="selectProject(project)"
                   [class.selected]="project.id == selectedProject?.id">
      <img class="icon" #avatar src="favicon.png" (error)="avatar.src = 'favicon.png'">
      <app-project-view-header
        [project]="project"
        [iconState]="stateInfo?.get(project.id)?.getState()"
        [pauseReason]="stateInfo?.get(project.id)?.pauseReason"
        [progress]="stateInfo?.get(project.id)?.stageProgress"
        [running]="stateInfo?.get(project.id)?.isRunning()"
        [mostRecentStage]="stateInfo?.get(project.id)?.description"
        (tagActionPrimary)="filter.toggleIncludedTag($event)"
        (tagActionSecondary)="filter.addExcludedTag($event)"
      ></app-project-view-header>
    </mat-list-item>
  </mat-list>
</div>
