:host {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.history-list-item {

}

.history-batch {
  width: 1.3em;
  color: darkgray;
  margin: -0.125em -0.5em auto;
}

.history-comment {
  flex-grow: 2;
  text-align: end;
  color: darkgray;
}

.history-control-icons {
  flex-grow: 1;
  text-align: end;
}

.history-list-column:not(:first-child) {
  padding-left: 1em;
  overflow: hidden;
}

.state-icon-fix > span {
  align-items: center;
}
