.container {
  margin: 1rem;
  width: max-content;
  @media(prefers-color-scheme: dark) {
    color: white;
  }
}

.inputs {
  display: flex;
  flex-direction: column;
}

mat-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start;
}

mat-radio-group mat-radio-button {
  margin: 5px;
}
