<div class="main-container">
  <mat-form-field appearance="outline" class="search-field">
    <mat-chip-grid #chipList aria-label="Tag selection">
      @for (tag of selectedTags.includedTags;track tag) {
        <mat-chip-row
          [removable]=true
          (removed)="removeFromSelectedIncludedTag(tag)"
          (click)="$event.preventDefault(); removeFromSelectedIncludedTag(tag)"
          [style.background-color]=""
        >
          in: {{ tag }}
          <mat-icon matChipRemove [attr.aria-label]="'remove ' + tag">cancel</mat-icon>
        </mat-chip-row>
      }
      @for (tag of selectedTags.excludedTags;track tag) {
        <mat-chip-row
          [removable]=true
          (removed)="removeFromSelectedExcludedTag(tag)"
          (click)="$event.preventDefault(); removeFromSelectedExcludedTag(tag)"
          [style.background-color]=""
        >
          ex: {{ tag }}
          <mat-icon matChipRemove [attr.aria-label]="'remove ' + tag">cancel</mat-icon>
        </mat-chip-row>
      }
      <input
        matInput
        placeholder="Search..."
        [formControl]="searchInputCtrl"
        (keyup)="processInput()"
        [matAutocomplete]="auto"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        [matChipInputAddOnBlur]=true
        (matChipInputTokenEnd)="selectFromInput($event)"
      >
    </mat-chip-grid>

    <mat-autocomplete
      #auto="matAutocomplete"
      [autoActiveFirstOption]="true"
      (optionSelected)="selectFromAutocomplete($event)"
    >
      @if (searchInputCtrl.value?.startsWith(this.TAG_PREFIX)) {
        @for (name of _availableTagsValue | async;track name) {
          <mat-option [value]="name">{{ name }}</mat-option>
        }
      }
    </mat-autocomplete>
  </mat-form-field>

  <button class="button-group" mat-icon-button matTooltip="More filters and help menu."
          (click)="openAdvancedFilterOptions()">
    <mat-icon>tune</mat-icon>
    <mat-icon>help_outline</mat-icon>
  </button>

  <app-projects-group-builder
    style="display: none"
    [projects]="this.filteredProjects"
    [availableTags]="this.availableTagsValue"
    (projectsGroups)="projectsGroupsValue = $event; emitGroups()"
    (groupsOnTop)="groupsOnTopIsChecked = $event; emitGroups()">
  </app-projects-group-builder>

</div>
