.main-container {
  min-height: 3.5rem;
  max-height: 5.5rem;
  border-radius: 5px;
  padding: 0.5rem 0.5rem 0 0.5rem;
  display: flex;
  align-items: center;
}

.search-field {
  flex-grow: 1;
  padding-top: 20px;
  min-height: 3.5rem;
  max-height: 5.5rem;
}

.search-chip-list {
  display: flex;
  flex-wrap: nowrap;
  overflow-y: auto;
  .mdc-evolution-chip-set__chips{
    display: flex;
    flex-wrap: nowrap;
    overflow-y: auto;
  }
}

.search-input {
  width: 100%;
}
