<div class="main-container" [ngClass]="{'empty-search': isSearchEmpty()}">
  <mat-form-field appearance="outline" class="search-field">
    <input
      class="search-input"
      matInput
      placeholder="Search..."
      [formControl]="searchInputCtrl"
      (keyup)="processInput()"
      [matAutocomplete]="auto"
      [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      [matChipInputAddOnBlur]=true
      (matChipInputTokenEnd)="selectFromInput($event)"
    >
    <mat-chip-grid class="search-chip-list" #chipList aria-label="Tag selection">
      @for (tag of selectedFilters.includedTags;track tag) {
        @if (!tag.startsWith(this.CONTEXT_PREFIX)) {
          <mat-chip-row
            [removable]=true
            (removed)="removeFromSelectedIncludedTag(tag)"
            (click)="$event.preventDefault(); removeFromSelectedIncludedTag(tag)"
            [style.background-color]="'green'"
          >
            +#{{ tag }}
            <mat-icon matChipRemove [attr.aria-label]="'remove ' + tag">cancel</mat-icon>
          </mat-chip-row>
        }
      }
      @for (tag of selectedFilters.excludedTags;track tag) {
        <mat-chip-row
          [removable]=true
          (removed)="removeFromSelectedExcludedTag(tag)"
          (click)="$event.preventDefault(); removeFromSelectedExcludedTag(tag)"
          [style.background-color]="'red'"
        >
          -#{{ tag }}
          <mat-icon matChipRemove [attr.aria-label]="'remove ' + tag">cancel</mat-icon>
        </mat-chip-row>
      }
      @for (state of selectedFilters.includedStates;track state) {
        <mat-chip-row
          [removable]=true
          (removed)="removeFromSelectedIncludedState(state)"
          (click)="$event.preventDefault(); removeFromSelectedIncludedState(state)"
          [style.background-color]="'green'"
        >
          state:{{ state }}
          <mat-icon matChipRemove [attr.aria-label]="'remove ' + state">cancel</mat-icon>
        </mat-chip-row>
      }
      @for (state of selectedFilters.excludedStates;track state) {
        <mat-chip-row
          [removable]=true
          (removed)="removeFromSelectedExcludedState(state)"
          (click)="$event.preventDefault(); removeFromSelectedExcludedState(state)"
          [style.background-color]="'red'"
        >
          -state:{{ state }}
          <mat-icon matChipRemove [attr.aria-label]="'remove ' + state">cancel</mat-icon>
        </mat-chip-row>
      }
      @for (pipeline of selectedFilters.includedPipelines;track pipeline) {
        <mat-chip-row
          [removable]=true
          (removed)="removeFromSelectedIncludedPipeline(pipeline)"
          (click)="$event.preventDefault(); removeFromSelectedIncludedPipeline(pipeline)"
          [style.background-color]="'green'"
        >
          pipeline:{{ pipeline }}
          <mat-icon matChipRemove [attr.aria-label]="'remove ' + pipeline">cancel</mat-icon>
        </mat-chip-row>
      }
      @for (pipeline of selectedFilters.excludedPipelines;track pipeline) {
        <mat-chip-row
          [removable]=true
          (removed)="removeFromSelectedExcludedPipeline(pipeline)"
          (click)="$event.preventDefault(); removeFromSelectedExcludedPipeline(pipeline)"
          [style.background-color]="'red'"
        >
          -pipeline:{{ pipeline }}
          <mat-icon matChipRemove [attr.aria-label]="'remove ' + pipeline">cancel</mat-icon>
        </mat-chip-row>
      }
    </mat-chip-grid>

    <mat-autocomplete
      #auto="matAutocomplete"
      [autoActiveFirstOption]="true"
      (optionSelected)="selectFromAutocomplete($event)"
    >
      @if (searchInputCtrl.value?.startsWith(this.TAG_PREFIX)) {
        @for (name of _availableInTagsValue | async;track name) {
          <mat-option [value]="name">{{ name }}</mat-option>
        }
      }
      @if (searchInputCtrl.value?.startsWith(this.TAG_EXCLUDE_PREFIX)) {
        @for (name of _availableExTagsValue | async;track name) {
          <mat-option [value]="name">{{ name }}</mat-option>
        }
      }
      @if (searchInputCtrl.value?.startsWith(this.PIPELINE_INCLUDE_PREFIX)) {
        @for (pipeline of _availableInPipelinesValue | async;track pipeline) {
          <mat-option [value]="pipeline">{{ pipeline }}</mat-option>
        }
      }
      @if (searchInputCtrl.value?.startsWith(this.PIPELINE_EXCLUDE_PREFIX)) {
        @for (pipeline of _availableExPipelinesValue | async;track pipeline) {
          <mat-option [value]="pipeline">{{ pipeline }}</mat-option>
        }
      }
      @if (searchInputCtrl.value?.startsWith(this.STATE_INCLUDE_PREFIX)) {
        @for (state of _availableInStatesValue | async;track state) {
          <mat-option [value]="state">{{ state }}</mat-option>
        }
      }
      @if (searchInputCtrl.value?.startsWith(this.STATE_EXCLUDE_PREFIX)) {
        @for (state of _availableExStatesValue | async;track state) {
          <mat-option [value]="state">{{ state }}</mat-option>
        }
      }
    </mat-autocomplete>
  </mat-form-field>

  <button mat-icon-button matTooltip="Extended Settings."
          (click)="showExtendedOptions = !showExtendedOptions">
    <mat-icon>tune</mat-icon>
  </button>



</div>

  <app-projects-group-builder
    [hidden]="showExtendedOptions"
    [projects]="this.filteredProjects"
    [availableTags]="this.availableTagsValue"
    (projectsGroups)="projectsGroupsValue = $event; emitGroups()"
    (groupsOnTop)="groupsOnTopIsChecked = $event; emitGroups()">
  </app-projects-group-builder>
