.content-list {
  max-height: 75vh;
  min-height: max-content;
  overflow: auto;
  padding: .5em 2em;
}

.content-item {
  display: flex;
  flex-direction: row;
}

.content-item:hover {
  background-color: rgba(110, 120, 255, 0.1);
}
