<div class="stage-control-item">
    <app-stage-execution-selection
        #executionSelection
        [pipelines]="[selectedProject.pipelineDefinition]"
        [pipelineSelectionDisabled]="true"
        [defaultPipelineId]="selectedProject.pipelineDefinition.id"
    ></app-stage-execution-selection>
</div>
<div *ngIf="executionSelection.selectedStage != null" class="stage-control-item-controls">
    <button mat-stroked-button color="warn"
            [disabled]="!executionSelection.valid"
            (click)="saveConfigurationOnOtherProjects(
                  executionSelection.selectedPipeline,
                  executionSelection.selectedStage,
                  executionSelection.getEnv(),
                  executionSelection.getImage()
                )">
        <mat-icon>group</mat-icon>
        Set on other Projects
    </button>
    <button mat-stroked-button color="primary"
            [disabled]="!executionSelection.valid"
            (click)="saveConfiguration(
                  executionSelection.selectedPipeline,
                  executionSelection.selectedStage,
                  executionSelection.getEnv(),
                  executionSelection.getImage(),
                  executionSelection.getResourceRequirements()
                )">
        <mat-icon>save</mat-icon>
        Save configuration
    </button>
    <button mat-raised-button color="primary" #enqueueMenuTrigger="matMenuTrigger"
            [matMenuTriggerFor]="enqueueMenu"
            [disabled]="!executionSelection.valid"
            (click)="$event.preventDefault();
                       $event.stopPropagation();
                       enqueueMenuTrigger.closeMenu();
                       enqueue(
                          executionSelection.selectedPipeline,
                          executionSelection.selectedStage,
                          executionSelection.getEnv(),
                          executionSelection.getRangedEnv(),
                          executionSelection.getImage(),
                          executionSelection.getResourceRequirements(),
                          executionSelection.getWorkspaceConfiguration(),
                          executionSelection.getComment()
                        )">
        <mat-icon>send</mat-icon>
        Enqueue
        <mat-icon (click)="$event.preventDefault(); $event.stopPropagation(); enqueueMenuTrigger.openMenu()">more_vert
        </mat-icon>
        <mat-menu #enqueueMenu xPosition="before">
            <button mat-menu-item (click)="enqueue(
                  executionSelection.selectedPipeline,
                  executionSelection.selectedStage,
                  executionSelection.getEnv(),
                  executionSelection.getRangedEnv(),
                  executionSelection.getImage(),
                  executionSelection.getResourceRequirements(),
                  executionSelection.getWorkspaceConfiguration(),
                  executionSelection.getComment(),
                  false,
                  true
                )">
                Enqueue and resume pipeline
            </button>
            <button mat-menu-item (click)="enqueue(
                  executionSelection.selectedPipeline,
                  executionSelection.selectedStage,
                  executionSelection.getEnv(),
                  executionSelection.getRangedEnv(),
                  executionSelection.getImage(),
                  executionSelection.getResourceRequirements(),
                  executionSelection.getWorkspaceConfiguration(),
                  executionSelection.getComment(),
                  true,
                  true
                )">
                Enqueue and resume single
            </button>
        </mat-menu>
    </button>
</div>
