<ul class="addToolBar">
  <li>Add stuff</li>
  <li class="node"
      data-id="node-normal" data-type="DiagramMaker.PotentialNode" data-draggable="true" data-event-target="true"
      data-width="200" data-height="75"
  >
    Normal Stage
  </li>
  <li class="node"
      data-id="node-start" data-type="DiagramMaker.PotentialNode" data-draggable="true" data-event-target="true"
      data-width="200" data-height="75"
  >
    Start Stage
  </li>
  <li class="node"
      data-id="node-and-splitter" data-type="DiagramMaker.PotentialNode" data-draggable="true" data-event-target="true"
      data-width="200" data-height="75"
  >
    AND Splitter
  </li>
  <li class="node"
      data-id="node-if-splitter" data-type="DiagramMaker.PotentialNode" data-draggable="true" data-event-target="true"
      data-width="200" data-height="75"
  >
    IF Splitter
  </li>
  <li class="node"
      data-id="node-all-merger" data-type="DiagramMaker.PotentialNode" data-draggable="true" data-event-target="true"
      data-width="200" data-height="75"
  >
    ALL Merger
  </li>
  <li class="node"
      data-id="node-any-merger" data-type="DiagramMaker.PotentialNode" data-draggable="true" data-event-target="true"
      data-width="200" data-height="75"
  >
    ANY Merger
  </li>
</ul>
