<ul class="addToolBar">
  <li class="first-li">
    <div>Add Elements</div>
    <div class="sub-font">via drag and drop</div>
  </li>
  <li class="node"
      data-id="node-normal" data-type="DiagramMaker.PotentialNode" data-draggable="true" data-event-target="true"
      data-width="200" data-height="75"
  >
    <mat-icon>check_box_outline_blank</mat-icon>
    <div class="sub-font">Normal Stage</div>
  </li>
  <li class="node"
      data-id="node-and-splitter" data-type="DiagramMaker.PotentialNode" data-draggable="true" data-event-target="true"
      data-width="200" data-height="75"
  >
    <mat-icon> call_split</mat-icon>
    <div class="sub-font">AND Splitter</div>
  </li>
  <li class="node"
      data-id="node-if-splitter" data-type="DiagramMaker.PotentialNode" data-draggable="true" data-event-target="true"
      data-width="200" data-height="75"
  >
    <mat-icon> call_split</mat-icon>
    <div class="sub-font">IF Splitter</div>
  </li>
  <li class="node"
      data-id="node-all-merger" data-type="DiagramMaker.PotentialNode" data-draggable="true" data-event-target="true"
      data-width="200" data-height="75"
  >
    <mat-icon> call_merge</mat-icon>
    <div class="sub-font">ALL Merger</div>
  </li>
  <li class="last-li"
      data-id="node-any-merger" data-type="DiagramMaker.PotentialNode" data-draggable="true" data-event-target="true"
      data-width="200" data-height="75"
  >
    <mat-icon> call_merge</mat-icon>
    <div class="sub-font">ANY Merger</div>
  </li>
</ul>
