<div *ngIf="queryParams != null && queryParams['legacy'] != null">

  <div *ngIf="this.projects != null" class="flex-grow-row control-button-row">
    <div class="flex-grow"></div>
    <button class="create-button" mat-raised-button color="primary"
            (click)="createNewProject()">Create Project
    </button>
  </div>

  <div *ngIf="projects != null && projects.length == 0" class="none-defined-yet">
    <i>There are no projects yet</i>
  </div>

  <app-loading-info [error]="loadError ? loadError.message : null" [loading]="projects == null"></app-loading-info>


  <mat-accordion>
    <mat-expansion-panel
      *ngFor="let project of projects"
      (afterCollapse)="stopLoading(project)"
      (afterExpand)="startLoading(project)">

      <mat-expansion-panel-header>
        <app-project-view-header #header
                                 [project]="project"
                                 [pauseReason]="view.pauseReason"
                                 [progress]="view.progress"
                                 [running]="view.isRunning()">
        </app-project-view-header>
      </mat-expansion-panel-header>

      <app-project-view #view (state)="header.icon.state = $event" [project]="project"></app-project-view>

    </mat-expansion-panel>
  </mat-accordion>


</div>


<div class="container auto-full-height">


  <app-loading-info [error]="loadError ? loadError.message : null" [loading]="projects == null"></app-loading-info>


  <div *ngIf="projects != null" class="project-selection-sidebar-container">
    <mat-card class="project-selection-sidebar">
      <mat-card-title>Available Projects</mat-card-title>
      <mat-list>
        <mat-list-item *ngFor="let project of projects" class="project-selection-sidebar-item"
                       (click)="stopLoading(selectedProject); startLoading(selectedProject = project)">
          <app-project-view-header [project]="project"
                                   [iconState]="stateInfo?.get(project.id)?.actualState()"
                                   [pauseReason]="stateInfo?.get(project.id)?.pauseReason"
                                   [progress]="stateInfo?.get(project.id)?.stageProgress"
                                   [running]="stateInfo?.get(project.id)?.isRunning()">
          </app-project-view-header>
        </mat-list-item>

        <div *ngIf="projects != null && projects.length == 0" class="none-defined-yet">
          <i>There are no projects yet</i>
        </div>
      </mat-list>
    </mat-card>
  </div>
  <div class="project-selection-container">
    <mat-card class="project-selection">
      <mat-card-title>Selected Project</mat-card-title>

      <div *ngIf="selectedProject == null" class="none-defined-yet">
        <i>No project selected</i>
      </div>

      <ng-container *ngIf="selectedProject != null">
        <app-project-view-header [project]="selectedProject" class="no-flex-grow"
                                 [iconState]="stateInfo?.get(selectedProject.id)?.actualState()"
                                 [pauseReason]="stateInfo?.get(selectedProject.id)?.pauseReason"
                                 [progress]="stateInfo?.get(selectedProject.id)?.stageProgress"
                                 [running]="stateInfo?.get(selectedProject.id)?.isRunning()">
        </app-project-view-header>
        <app-project-view [project]="selectedProject"></app-project-view>
      </ng-container>
    </mat-card>
  </div>
</div>
