<div>

  <div *ngIf="this.projects != null" class="flex-grow-row control-button-row">
    <div class="flex-grow"></div>
    <button class="create-button" mat-raised-button color="primary"
            (click)="createNewProject()">Create Project
    </button>
  </div>

  <div *ngIf="projects != null && projects.length == 0" class="none-defined-yet">
    <i>There are no projects yet</i>
  </div>

  <app-loading-info [error]="loadError ? loadError.message : null" [loading]="projects == null"></app-loading-info>


  <mat-accordion>
    <mat-expansion-panel
      *ngFor="let project of projects"
      (afterCollapse)="stopLoading(project)"
      (afterExpand)="startLoading(project)">

      <mat-expansion-panel-header>
        <app-project-view-header #header
          [project]="project"
          [pauseReason]="view.pauseReason"
          [progress]="view.progress"
          [running]="view.isRunning()">
        </app-project-view-header>
      </mat-expansion-panel-header>

      <app-project-view #view (state)="header.icon.state = $event" [project]="project"></app-project-view>

    </mat-expansion-panel>
  </mat-accordion>


</div>
