.dialog-container {
  min-width: 50em;
  min-height: 20em;
  padding: 2em;
}
.item {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.password-label {
  font-weight: bold;
  width: 45%;
}
.password-input {
  width: 55%;
}
.error-label {
  color: red;
  font-size: 12px;
  font-weight: bold;
  /*margin-bottom: 3em;*/
}
.mat-mdc-form-field {
  width: 100%;
  margin-top: 1em;
}
.dialog-actions-container {
  justify-content: end;
}
.red {
  color: red;
}
.orange {
  color: orange;
}
.yellow {
  color: yellowgreen;
}
.green {
  color: green;
}
