<div class="dialog-container">
  <h2>Repeat the password</h2>

  <div class="inputs">
    <!--<label class="error-label">{{errorMessage}}</label>-->
    <mat-form-field>
      <input matInput placeholder="Password" [(ngModel)]="password2">
    </mat-form-field>
    <label class="error-label">{{error}}</label>
    <div mat-dialog-actions class="dialog-actions-container">
      <button mat-raised-button color="warn" (click)="onCancel()">Cancel</button>
      <button mat-raised-button color="primary" (click)="onSubmit()">Submit</button>
    </div>
  </div>
</div>
