.dialog-container {
  min-width: 400px;
  max-width: 400px;
  min-height: 200px;
  max-height: 200px;
}
.error-label {
  color: red;
  font-size: 12px;
  font-weight: bold;
  /*margin-bottom: 3em;*/
}
.mat-form-field {
  width: 100%;
  margin-top: 1em;
}
.dialog-actions-container {
  justify-content: end;
}
