<div class="dialog-container">
  <h2>Set a new password</h2>

  <div class="inputs">
    <!--<label class="error-label">{{errorMessage}}</label>-->
    <div class="item">
      <label class="password-label">Password: </label>
      <mat-form-field class="password-input">
        <input matInput placeholder="Password" [(ngModel)]="password1" (keyup)="setPasswordHintColor()">
        <mat-hint align="end" [class]="passwordHintColor">{{password1.length}} / 8</mat-hint>
      </mat-form-field>
    </div>
    <div class="item">
      <label class="password-label">Repeat Password: </label>
      <mat-form-field class="password-input">
        <input matInput placeholder="Repeat Password" [(ngModel)]="password2">
      </mat-form-field>
    </div>

    <label *ngIf="password1 != password2" class="error-label">Passwords do not match!</label>
    <div mat-dialog-actions class="dialog-actions-container">
      <button mat-raised-button color="warn" (click)="onCancel()">Cancel</button>
      <button mat-raised-button
              color="primary"
              (click)="onSubmit()"
              [disabled]="(password1.length < 8) || (password1 != password2)">
        Submit
      </button>
    </div>
  </div>
</div>
