<div class="main-container">

  <app-loading-info [loading]="longLoading.isLongLoading()"></app-loading-info>

  <div class="vmenu-host height">
    <div class="vmenu-selection-container">
      <mat-card class="vmenu-selection">
        <mat-list>
          <mat-list-item
            (click)="setSelection('env')"
            [class.selected]="selection == 'env'"
          >
            <mat-icon>list</mat-icon>
            Environment Variables
          </mat-list-item>
          <mat-list-item
            (click)="setSelection('resource-limits')"
            [class.selected]="selection == 'resource-limits'"
          >
            <mat-icon>donut_small</mat-icon>
            Resource Limitations
          </mat-list-item>
        </mat-list>
      </mat-card>
    </div>

    <div class="vmenu-container">
      <mat-card class="vmenu-container-selection">
        @switch (selection) {
          @case ('env') {
            <app-system-cfg-env [longLoading]="longLoading"></app-system-cfg-env>
          }
          @case ('resource-limits') {
            <app-system-cfg-res-limit [longLoading]="longLoading"></app-system-cfg-res-limit>
          }
          @default {
            <i>Nothing selected</i>
          }
        }
      </mat-card>
    </div>
  </div>

</div>
