:host {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-wrap: wrap;
}

.title {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 40vw;
  max-width: 40vw;
  min-width: 15em;
  padding-right: 1em;
  overflow: hidden;
  white-space: nowrap;
  min-height: 2.2em; /* TODO */
}

.title label {
  margin: auto 0;
}

.description-tags {
  max-height: 2.2em; /* TODO */
  overflow: hidden;
  white-space: nowrap;
}

.description-etc {
  margin-left: auto;
}

.description-progress-bar {
  width: 10em;
  margin: auto 1em;
}
