<div>


  <div *ngIf="this.pipelines != null" class="flex-grow-row control-button-row">
    <div class="flex-grow"></div>
    <button class="create-button" mat-raised-button color="primary">
      Create Pipeline
    </button>
  </div>

  <div>
    <i *ngIf="pipelines == null">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </i>
    <div class="none-defined-yet" *ngIf="pipelines != null && pipelines.length == 0">
      <i>There are no pipelines defined yet</i>
    </div>
  </div>


  <mat-accordion>
    <mat-expansion-panel *ngFor="let pipeline of pipelines">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon class="title-icon">timeline</mat-icon>{{pipeline.name}}
        </mat-panel-title>
        <mat-panel-description>
          {{pipeline.desc}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="toml-pipeline">
        <h5>TOML Definition</h5>
        <textarea #text style="width: 100%" cdkTextareaAutosize>{{raw.get(pipeline.id)}}</textarea>
        <pre *ngIf="this.error.get(pipeline.id) != null" class="check check-error">{{this.error.get(pipeline.id)}}</pre>
        <pre *ngIf="this.success.get(pipeline.id) != null" class="check check-success">{{this.success.get(pipeline.id)}}</pre>
        <div class="controls">
          <button mat-raised-button color="primary" (click)="update(pipeline.id, text.value)">Save</button>
          <button mat-stroked-button color="primary" (click)="check(pipeline.id, text.value)">Check</button>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

</div>
