:host {
  overflow: auto;
}

.title-icon {
    display: flex;
    width: 2em;
}

.toml-pipeline {
    margin: 0.2em 1em;
    padding: 0.5em;
}
.drawer-container {
  height: 88.2vh;
}
.drawer {
  width: 30vw;
  background-color: whitesmoke;
  overflow-y: auto;
}
.drawer-content {
  padding: 0.2em;
  overflow-y: hidden;
  margin-bottom: 2em;
}

.drawer-element {
  display: block;
  margin: 0.5em;
}

.detail-container {
  background: white;
  padding: 0;
  height: 100%;
  margin-left: 30vw;
}

