<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,1,0" />
<div class="list-and-label-container">
  <div class="list-content" id="list-content">
    <input type="text" class="text-input" [(ngModel)]="groupSearchInput" placeholder="Search.." (keyup)="filterFunction()">
    <div class="scrollable">
      <!-- ---------- Version with seperate remove button ---------- -->
      <div *ngIf="displayGroups.length > 0">
        <div class="list-item" *ngFor="let group of displayGroups">
          <div class="username-label">
            <mat-chip [style.background-color]="getColor(group)"
                      [matTooltip]="getTooltip(group)"
                      matTooltipShowDelay="250">
              {{group.name}}
            </mat-chip>
          </div>
          <mat-form-field appearance="fill" class="role-dropdown">
            <mat-label>Choose Role</mat-label>
            <mat-select class="role-select" [(value)]="group.role" (selectionChange)="roleChanged(group)">
              <mat-option *ngFor="let role of roles" value="{{role}}">{{role}}</mat-option>
            </mat-select>
          </mat-form-field>
          <button class="remove-member-button" (click)="onRemoveItemClick(group)">
            <span class="material-symbols-outlined item-icon">group_remove</span>
          </button>
        </div>
      </div>

      <div *ngIf="displayGroups.length === 0" class="list-item">
        <label class="no-groups-label">No groups assigned</label>
      </div>
      <!-- ---------- Version with removable chips ---------- -->
      <!--<div class="list-item" *ngFor="let group of displayGroups">
        <div class="username-label">
          <mat-chip [style.background-color]="getColor(group)"
                    [matTooltip]="getTooltip(group)"
                    matTooltipShowDelay="250"
                    (removed)="onRemoveItemClick(group)">
            {{group.name}}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
        </div>
        <mat-form-field appearance="fill" class="role-dropdown">
          <mat-label>Choose Role</mat-label>
          <mat-select class="role-select" [(value)]="group.role" (selectionChange)="roleChanged(group)">
            <mat-option *ngFor="let role of roles" value="{{role}}">{{role}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>-->
      <!-- ---------- Version with dropdown and button on right ---------- -->
      <!--<div *ngIf="displayGroups.length > 0">
        <div class="list-item" *ngFor="let group of displayGroups">
          <div class="username-label">
            <mat-chip [style.background-color]="getColor(group)"
                      [matTooltip]="getTooltip(group)"
                      matTooltipShowDelay="250">
              {{group.name}}
            </mat-chip>
          </div>
          <div class="dropdown-and-button">
            <mat-form-field appearance="fill" class="role-dropdown">
              <mat-label>Choose Role</mat-label>
              <mat-select class="role-select" [(value)]="group.role" (selectionChange)="roleChanged(group)">
                <mat-option *ngFor="let role of roles" value="{{role}}">{{role}}</mat-option>
              </mat-select>
            </mat-form-field>
            <button class="remove-member-button" (click)="onRemoveItemClick(group)">
              <span class="material-symbols-outlined item-icon">group_remove</span>
            </button>
          </div>

        </div>
      </div>
      <div *ngIf="displayGroups.length === 0" class="list-item">
        <label class="no-groups-label">No groups assigned</label>
      </div>-->

      <!-- ---------- Version with name in middle ---------- -->
      <!--<div class="list-item" *ngFor="let group of displayGroups">
        <div class="list-item-section">
          <mat-form-field appearance="fill" class="role-dropdown">
            <mat-label>Choose Role</mat-label>
            <mat-select class="role-select" [(value)]="group.role" (selectionChange)="roleChanged(group)">
              <mat-option *ngFor="let role of roles" value="{{role}}">{{role}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="list-item-section">
          <mat-chip [style.background-color]="getColor(group)"
                    [matTooltip]="getTooltip(group)"
                    matTooltipShowDelay="250">
            {{group.name}}
          </mat-chip>
        </div>
        <div class="list-item-section">
          <button class="remove-member-button" (click)="onRemoveItemClick(group)">
            <span class="material-symbols-outlined item-icon">group_remove</span>
          </button>
        </div>
      </div>
    </div>-->
    </div>
    <div class="add-member-button-container">
      <button class="mat-raised-button" mat-raised-button="" color="primary" (click)="openAddGroupDialog()"> Add Group </button>
    </div>
  </div>
</div>
