<div style="padding: 1rem">
  <mat-accordion>
    @for (project of projects;track $index) {
      <mat-expansion-panel [expanded]="this.data.projects.length == 1">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ project[0].fileInfo.name }}
          </mat-panel-title>
          <mat-panel-description>
            {{ project[0].getFileSizeHumanReadable() }}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="content-list">
          @for (entry of project[1];track $index) {
            <div class="content-item">
              <span>{{ entry.fileInfo.name }}</span><span
              class="align-right-using-margin">{{ entry.getFileSizeHumanReadable() }}</span>
            </div>
          }
        </div>
      </mat-expansion-panel>
    }
  </mat-accordion>
</div>
