.bar {
  border-radius: 5px;
  border: 1px solid darkgrey;
  background-color: var(--color-background-light);
  color: var(--font-color);
  z-index: 999;
}

.chart {
  height: 100%;
  width: 100%;
}

.mat-grid-tile {
  overflow:visible !important;
}

:host-context(.active) .bar {
  background-color: aliceblue;
  color: var(--font-color);
  @media(prefers-color-scheme: dark) {
    background-color: #424242;
  }
}
