<div class="list-and-label-container">
  <div class="list-content" id="list-content">
    <mat-form-field class="mat-input-container" appearance="outline">
      <input matInput
             type="text"
             [(ngModel)]="groupSearchInput"
             placeholder="Search.."
             (keyup)="filterFunction()">
    </mat-form-field>

    <div class="scrollable">
      <!-- ---------- Version with seperate remove button ---------- -->
      <div *ngIf="displayGroups.length > 0">
        <div class="list-item" *ngFor="let group of displayGroups">
          <div class="username-label">
            <mat-chip-option [style.background-color]="getColor(group)"
                             [matTooltip]="getTooltip(group)"
                             [matTooltipShowDelay]="250">
              {{group.name}}
            </mat-chip-option>
          </div>
          <mat-form-field appearance="outline" class="role-dropdown">
            <mat-label>Choose Role</mat-label>
            <mat-select class="role-select" [(value)]="group.role" (selectionChange)="roleChanged(group)">
              <mat-option *ngFor="let role of roles" [value]="role">{{role}}</mat-option>
            </mat-select>
          </mat-form-field>
          <button mat-raised-button
                  class="remove-member-button"
                  color="warn"
                  (click)="onRemoveItemClick(group)">
            Remove
          </button>
        </div>
      </div>

      <div *ngIf="displayGroups.length === 0" class="list-item">
        <label class="no-groups-label">No groups assigned</label>
      </div>

    </div>
    <div class="add-member-button-container">
      <button class="mat-raised-button"
              mat-raised-button=""
              color="primary"
              (click)="openAddGroupDialog()">
        Add Group
      </button>
    </div>
  </div>
</div>
