
<mat-toolbar color="primary">
  <mat-toolbar-row>

    <a [routerLink]="['']">
      <img
        [class.ws-connected]="connected"
        [class.ws-disconnected]="!connected"
        src="assets/winslow_quadratic.svg" alt="Winslow Icon" style="height: 2.75em; padding: 0; max-height: 100%; vertical-align: bottom; margin-right: 20px;">
    </a>

    <div>
      <button mat-button class="left-buttons" [routerLink]="['projects']" routerLinkActive="active">
        <mat-icon>book</mat-icon>
        Projects
      </button>
      <button mat-button class="left-buttons" [routerLink]="['pipelines']" routerLinkActive="active">
        <mat-icon>low_priority</mat-icon>
        Pipelines
      </button>
      <button mat-button class="left-buttons" [routerLink]="['files']" routerLinkActive="active">
        <mat-icon>folder_open</mat-icon>
        Files
      </button>
      <button mat-button class="left-buttons" [routerLink]="['servers']" routerLinkActive="active">
        <mat-icon>storage</mat-icon>
        Servers
      </button>
    </div>

    <div class="username-and-settings">
      <button mat-fab extended class="person-pill" color="primary" matTooltip="Personal settings" [matMenuTriggerFor]="settingsMenu">
        {{myUserName}}
        <mat-icon iconPositionEnd>person</mat-icon>
      </button>
    </div>

  </mat-toolbar-row>
</mat-toolbar>

<mat-menu #settingsMenu="matMenu" xPosition="before">
  <button mat-menu-item [routerLink]="['groups']">
    <mat-icon>people</mat-icon>
    User and Groups
  </button>
  <button mat-menu-item [routerLink]="['system']">
    <mat-icon>build</mat-icon>
    System
  </button>
  <button mat-menu-item [routerLink]="['about']">
    <mat-icon>info</mat-icon>
    About
  </button>
</mat-menu>
