<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,1,0" />
<h1 [ngStyle]="{'margin-left':'50px'}">Gruppenverwaltung</h1>
<div class="groupAdministrationDiv">
  <div class="groups-list">
    <h2> Meine Gruppen </h2>
    <div class="group-list-item" *ngFor="let group of allGroups" (click)="groupClicked(group, $event)">
      {{group.name}}
      <span class="material-symbols-outlined item-icon" (click)="groupClicked(group, $event)">menu</span>
    </div>
    <button class="mat-raised-button new-group-btn" color="primary" mat-raised-button="" (click)="onAddGroupToggle()"> Neue Gruppe </button>
  </div>

  <div *ngIf="showAddGroup" class="add-group-container">
    <h2> Neue Gruppe erstellen:</h2>

    <div class="group-name-container">
      <label for="groupNameTextInput" [ngStyle]="{'font-weight':'bold', 'display':'inline-block', 'width':'30%'}"> Gruppenname: </label>
      <input type="text" name="groupName" id="groupNameTextInput" [(ngModel)]="groupName" placeholder="Gruppenname...">
    </div>

    <app-groups-dropdown
      [items]="mockOwners"
      [items2]="mockUsers"
      label="Member:"
      openDropdown2Text="Owner hinzufügen"
      searchIdentifier="a"></app-groups-dropdown>

    <button class="mat-raised-button cancel-btn" (click)="onCancel()" color="primary" mat-raised-button=""> Abbrechen </button>
    <button class="mat-raised-button submit-group-btn" (click)="onSaveGroup()" color="primary" mat-raised-button=""> Gruppe erstellen </button>
  </div>

  <div *ngIf="showGroupDetail" class="group-detail-container">
    <h2>Gruppendetails</h2>
    <div class="group-name-container">
      <label for="detailGroupNameTextInput" [ngStyle]="{'font-weight':'bold', 'display':'inline-block', 'width':'30%'}"> Gruppenname: </label>
      <input type="text" name="groupName" id="detailGroupNameTextInput" [ngModel]="selectedGroup.name" placeholder="Gruppenname...">
    </div>
    <app-groups-dropdown
    [items]="selectedGroup.members"
    [items2]="mockUsers"
    label="Member:"
    openDropdown2Text="Owner hinzufügen"
    searchIdentifier="c"></app-groups-dropdown>
    <button class="mat-raised-button cancel-btn" (click)="onEditCancel()" color="primary" mat-raised-button=""> Abbrechen </button>
    <button class="mat-raised-button submit-group-btn" (click)="onSaveGroupEdit()" color="primary" mat-raised-button=""> Speichern </button>
  </div>

</div>
