.mat-sidenav-content {
  overflow: clip;
}
.mat-drawer-content {
  overflow: clip;
}
/*---------- Group List ----------*/
.groupAdministrationDiv {
  display: flex;
  flex-direction: row;
  height: 100%;
  margin-top: 0;
  overflow: clip;
}

.groups-list-container {
  margin-right: 80px;
  padding-right: 20px;
  padding-left: 20px;
  width: 30%;
  height: 100%;
  border-right: 1px solid lightgrey;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.searchable-list {
  width: 100%;
}
.hidden {
  display: none;
}
.new-group-btn-container {
  width: 95%;
  border-top: 1px solid grey;
  padding-top: 20px;
  margin-top: 2px;
}
.show-usergroups-checkbox {

}
.new-group-btn {
  float: right;
}

/*---------- user List ----------*/
.user-administration-div {
  display: flex;
  flex-direction: row;
  height: 100%;
  margin-top: 0;
  overflow: clip;
}

.user-list-container {
  margin-right: 80px;
  padding-right: 20px;
  padding-left: 20px;
  width: 30%;
  height: 100%;
  border-right: 1px solid lightgrey;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.new-user-btn-container {
  width: 95%;
  border-top: 1px solid grey;
  padding-top: 20px;
  margin-top: 2px;
}
.new-user-btn {
  float: right;
}

/* ----- add group -----*/

.add-group-container {
  width: 54em;
}

.submit-group-btn {
  width: 10em;
  margin-top: 40px;
  margin-left: 1em;
}

.cancel-btn {
  width: 10em;
  float: left;
  margin-top: 40px;
  margin-left: 11em;
}

/* ----- Group Detail ------*/
.groupname-label {
  font-weight: bold;
  display: inline-block;
  width: 10em;
}
#detailGroupName {
  padding: 6px 10px;
  display: inline-block;
  width: 680px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f6f6f6;
}

.group-detail-container {
  width: 54em;
  /*padding-left: 60px;
  border-left: 1px solid lightgrey;*/
}

.delete-group-btn {
  width: 10em;
  float: right;
  margin-top: 40px;
}

/* ----- User Detail ------*/
.username-label {
  font-weight: bold;
  display: inline-block;
  width: 10em;
}
#detailUserName {
  padding: 6px 10px;
  display: inline-block;
  width: 680px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f6f6f6;
}

.user-detail-container {
  width: 54em;
  /*padding-left: 60px;
  border-left: 1px solid lightgrey;*/
}

.delete-user-btn {
  width: 10em;
  float: right;
  margin-top: 40px;
}
