<div class="groupAdministrationDiv">
  <h1>Gruppenverwaltung</h1>

  <h2> {{groupName}}</h2>

  <form class="newGroupForm">
    <label for="groupName"> Gruppenname </label>
    <input type="text" class="text-input" name="groupName" id="groupName" [(ngModel)]="groupName">
    <div class="dropdown-container">
      <label for="usersDropdownBtn"> Nutzer aussuchen </label>
      <button id="usersDropdownBtn" (click)="onDropdownToggle()" class="form-btn"> Nutzer </button>
      <div *ngIf="showGroupDropdown" id="usersDropdown" class="dropdown-content">
        <input type="text" class="text-input" placeholder="Suche.." id="dropdownSearchText" onkeyup="filterFunction()">
        <div class="dropdown-item" (click)="onItemClick()">User 1</div>
        <div class="dropdown-item" (click)="onItemClick()">User 2</div>
        <div class="dropdown-item" (click)="onItemClick()">User 3</div>
        <div class="dropdown-item" (click)="onItemClick()">User 4</div>
        <div class="dropdown-item" (click)="onItemClick()">User 5</div>
      </div>
    </div>
    <button class="submitButton"> Gruppe erstellen </button>
  </form>

</div>
