<h1>Gruppenverwaltung</h1>
<div class="groupAdministrationDiv">
  <div class="groups-list">
    <h2> Meine Gruppen </h2>
    <div class="group-list-item" *ngFor="let group of mockGroups">
      {{group.name}}
    </div>
    <button class="mat-raised-button new-group-btn" color="primary" mat-raised-button="" (click)="onAddGroupToggle()"> Neue Gruppe </button>
  </div>

  <div *ngIf="showAddGroup" class="add-group-container">
    <h2> Neue Gruppe erstellen:</h2>

      <div class="group-members-container">
        <label for="usersDropdownBtn" [ngStyle]="{'font-weight':'bold', 'display':'inline-block', 'flex-shrink':'0', 'width':'30%', 'margin-top': '7px'}"> Mitglieder zuweisen: </label>
        <div class="group-members-dropdown">
          <button class="mat-raised-button form-btn" color="primary" mat-raised-button="" name="usersDropdownBtn" id="usersDropdownBtn" dense="" (click)="onDropdownToggle()"> Nutzer </button>
          <div class="member-dropdowns-container">
            <div *ngIf="showMemberDropdown" id="membersDropdown" class="dropdown-content">
              <input type="text" class="text-input" placeholder="Suche.." id="memberDropdownSearchText" (keyup)="filterFunction('dropdown-1-item', 'memberDropdownSearchText')">
              <div class="scrollable">
                <div class="dropdown-item" name="dropdown-1-item" *ngFor="let user of mockMembers" (click)="onItemClick(user)">
                  {{user.name}}
                  <mat-icon class="item-icon" (click)="onRemoveMemberClick(user)">remove</mat-icon>
                </div>
                <div class="dropdown-item" id="newMemberItem" (click)="onAddMemberClick()" > Member hinzufügen </div>
              </div>
            </div>
            <div *ngIf="showNewMemberDropdown" id="usersDropdown" class="second-dropdown-content">
              <input type="text" class="text-input" placeholder="Suche.." id="newMemberDropdownSearchText" (keyup)="filterFunction('dropdown-2-item', 'newMemberDropdownSearchText')">
              <div class="scrollable">
                <div class="dropdown-item" name="dropdown-2-item" *ngFor="let user of mockUsers" (click)="onItemClick(user)">
                  {{user.name}}
                  <mat-icon class="item-icon" (click)="onAddUserAsMemberClick(user)">person_add</mat-icon>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="group-name-container">
        <label for="groupNameTextInput" [ngStyle]="{'font-weight':'bold', 'display':'inline-block', 'width':'30%'}"> Gruppenname: </label>
        <input type="text" class="text-input" name="groupName" id="groupNameTextInput" [(ngModel)]="groupName" placeholder="Gruppenname...">
      </div>
    <button class="mat-raised-button submit-group-btn" color="primary" mat-raised-button=""> Gruppe erstellen </button>
  </div>

</div>
