<div *ngIf="executionGroup.stages.length === 1" class="history-item">
  <mat-grid-list cols="20" rowHeight="48px">
    <mat-grid-tile colspan='2'>
        <app-state-icon [state]="'Succeeded'">7</app-state-icon>
        {{ this.entryNumber }}
    </mat-grid-tile>
    <mat-grid-tile colspan='3'>
      <div class="text-inside-grid">
        {{ toDate(executionGroup?.getMostRecentStartOrFinishTime()) }}
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan='4'>
      {{ executionGroup?.stageDefinition?.name }}
    </mat-grid-tile>
    <mat-grid-tile colspan='5'>
    </mat-grid-tile>
    <mat-grid-tile colspan='3'>
      <mat-icon matTooltip="Open Logs">
        list_alt
      </mat-icon>
      <mat-icon class="clickable"
        matTooltip="Open Directory">
        folder_open
      </mat-icon>
      <img
       class="clickable mat-icon notranslate material-icons mat-icon-no-color"
       src="../../assets/tensorflow.png"
       alt="(TensorBoard)">
    </mat-grid-tile>
    <mat-grid-tile colspan='3'>
      <div class="text-align-right" [style.margin-right]="'1em'">
        <mat-icon
            matTooltip="Resume only one stage" class="clickable">
          skip_next
        </mat-icon>
        <mat-icon
          matTooltip="Resume Pipeline">
          play_circle_outlined
        </mat-icon>
        <mat-icon matTooltip="Use as blueprint">
          replay
        </mat-icon>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<mat-accordion *ngIf="executionGroup.stages.length > 1">
  <mat-expansion-panel hideToggle class="history-item">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-grid-list cols="20" rowHeight="30px">
          <mat-grid-tile colspan='2'>
              <app-state-icon [state]="'Succeeded'">7</app-state-icon>
              {{ this.entryNumber }}
          </mat-grid-tile>
          <mat-grid-tile colspan='3'>
            <div class="text-inside-grid">
              {{ toDate(executionGroup?.getMostRecentStartOrFinishTime()) }}
            </div>
          </mat-grid-tile>
          <mat-grid-tile colspan='4'>
            {{ executionGroup?.stageDefinition?.name }}
          </mat-grid-tile>
          <mat-grid-tile colspan='5'>
          </mat-grid-tile>
          <mat-grid-tile colspan='3'>
            <mat-icon matTooltip="Open Logs">
              list_alt
            </mat-icon>
            <mat-icon class="clickable"
              matTooltip="Open Directory">
              folder_open
            </mat-icon>
            <img
             class="clickable mat-icon notranslate material-icons mat-icon-no-color"
             src="../../assets/tensorflow.png"
             alt="(TensorBoard)">
          </mat-grid-tile>
          <mat-grid-tile colspan='3'>
            <div class="text-align-right" [style.margin-right]="'1em'">
              <mat-icon
                  matTooltip="Resume only one stage" class="clickable">
                skip_next
              </mat-icon>
              <mat-icon
                matTooltip="Resume Pipeline">
                play_circle_outlined
              </mat-icon>
              <mat-icon matTooltip="Use as blueprint">
                replay
              </mat-icon>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-panel-title>
    </mat-expansion-panel-header>



    <div *ngFor="let stage of executionGroup?.stages?.slice(max(0, executionGroup.stages.length - 10)).reverse(); index as i; trackBy:trackStageInfo" class="history-item">
      <app-project-history-header
          [state]="stage.state"
          [isConfigure]="executionGroup?.configureOnly"
          [itemNo]="tryParseStageNumber(stage.id, executionGroup.stages.length - i)"
          [time]="stage.finishTime != null ? stage.startTime : stage.finishTime"
          [stageName]="executionGroup?.stageDefinition?.name"
          [showResumeOnlyThisStage]="false"
          [enqueued]="false"
          [running]="stage.state == State.Running"
          [paused]="stage.state == State.Paused"
          [comment]="getRangeEnvVariableValues(stage)"


        ></app-project-history-header>
    </div>



  </mat-expansion-panel>
</mat-accordion>
