.dialog-content {
  padding: 0;
  margin: 0;
}

.dialog-actions {
  padding: 0;
  margin: 0;
}

.wide-field {
  width: 720px;
}

.stack-wrapper {
  display: grid;
}

.stack-item {
  grid-column: 1;
  grid-row: 1;
}

