<form [formGroup]="form" (ngSubmit)="submit()">
  <h1 mat-dialog-title>Create a new Pipeline</h1>
  <mat-dialog-content class="dialog-content">
    <mat-form-field class="dialog-form-field">
      <input matInput [required]="true" formControlName="name" placeholder="The name of the new pipeline">
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions class="dialog-actions">
    <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Create</button>
    <button mat-button color="primary" type="button" mat-dialog-close>Cancel</button>
  </mat-dialog-actions>
</form>
