<ng-template #template>
  <mat-chip-list #chipList aria-label="Tag selection">
    <mat-chip *ngFor="let group of project.groups"
              [selectable]="selectable"
              [removable]="!readonly && removable"
              [color]=""
              (removed)="remove(group.name)"
              (click)="$event.preventDefault(); tagActionPrimary.emit(group.name)"
              (auxclick)="$event.preventDefault(); tagActionSecondary.emit(group.name)"
              (dblclick)="$event.preventDefault(); tagActionSecondary.emit(group.name)"
              [style.background-color]="getColor(group)">
      {{group.name}}
      <!--<mat-icon matChipRemove *ngIf="!readonly && removable">cancel</mat-icon>-->
    </mat-chip>
    <input
      [hidden]="readonly"
      [formControl]="tagsCtrl"
      [matAutocomplete]="auto"
      [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      [matChipInputAddOnBlur]="addOnBlur"
      (matChipInputTokenEnd)="add($event)">
  </mat-chip-list>
  <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete"
                    [hidden]="readonly"
                    (optionSelected)="selected($event)">
    <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
      {{tag}}
    </mat-option>
  </mat-autocomplete>
</ng-template>


<mat-form-field *ngIf="!readonly" style="width: 100%;">
  <ng-container *ngTemplateOutlet="template"></ng-container>
  <input hidden matInput>
</mat-form-field>
<ng-container *ngIf="readonly">
  <ng-container *ngTemplateOutlet="template"></ng-container>
</ng-container>
