<ng-template #template>
  <mat-chip-grid #chipList aria-label="Tag selection">
    @for (tag of selectedTags; track tag) {
      <mat-chip-row
        [removable]="!readonly && removable"
        (removed)="remove(tag)"
        (click)="$event.preventDefault(); tagActionPrimary.emit(tag)"
        (auxclick)="$event.preventDefault(); tagActionSecondary.emit(tag)"
        (dblclick)="$event.preventDefault(); tagActionSecondary.emit(tag)"
        [style.background-color]="colorful ? bgColor(tag) : ''"
      >
        {{tag}}
        @if (!readonly && removable) {
          <mat-icon matChipRemove [attr.aria-label]="'remove ' + tag">cancel</mat-icon>
        }
      </mat-chip-row>
    }
    <input
      placeholder="Search tag..."
      [hidden]="readonly"
      [formControl]="tagsCtrl"
      [matAutocomplete]="auto"
      [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      [matChipInputAddOnBlur]="addOnBlur"
      (matChipInputTokenEnd)="add($event)"
    >
  </mat-chip-grid>
  <mat-autocomplete
    #auto="matAutocomplete"
    [autoActiveFirstOption]="true"
    [hidden]="readonly"
    (optionSelected)="selected($event)"
  >
    @for (tag of filteredTags | async; track tag) {
      <mat-option [value]="tag">
        {{tag}}
      </mat-option>
    }
  </mat-autocomplete>
</ng-template>

@if (readonly) {
  <ng-container>
    <ng-container *ngTemplateOutlet="template"></ng-container>
  </ng-container>
} @else {
  <mat-form-field style="width: 100%;" appearance="outline">
    <ng-container *ngTemplateOutlet="template"></ng-container>
    <input hidden matInput style="display: none">
  </mat-form-field>
}
