.arglist-border {
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 0.5em;
  margin-bottom: 0.5em;
}

.arglist-header {
  font-size: 1em;
  margin-bottom: 0.5em;
  color: var(--font-color);
  font-weight: 600;
}

.arglist-container {
  max-height: 7.5em;
  padding-left: 0.5em;
  padding-top: 0.5em;
  overflow-y: scroll;
}

.input-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-height: 3.1em;
  padding-top: 0.4em;
}

.input-row-input {
  width: 90%;
}

.input-row-button {
  display: flex;
  justify-content: center;
  text-align: center;
}

.reduce-formfield-height {
  max-height: 3.1em;
}

.reduce-formfield-height-more {
  max-height: 3em;
}
