.nothing-selected {
  width: 54em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  text-align: center;
  padding: 3em;
  font-style: italic;
}
.attribute-label {
  font-weight: bold;
  display: inline-block;
  min-width: 13%;
  max-width: 13%;
  align-self: center;
}
.password-status-label {
  font-style: italic;
}
.no-value {
  font-style: italic;
}
.detail-container {
  width: 100%;
  /*padding-left: 60px;
  border-left: 1px solid lightgrey;*/
}
.bottom-btn-container {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.bottom-btn {
  width: 40%;
  margin-bottom: 15px;
}
.bottom-btn:hover {
  scale: 1.02;
}
.delete-user-btn {
  width: 100%;
  float: right;
  margin-top: 40px;
}
.detail-item {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  min-height: 65px;
  max-height: 65px;
}
.update-btn {
  float: right;
  margin-left: 2%;
  max-width: 7%;
  min-width: 7%;
  align-self: center;
  height: 40px;
}
.update-btn:hover:enabled {
  scale: 1.03;
}
.input-width {
  min-width: 87%;
  max-width: 87%;
  align-self: center;
}
.alt-width {
  min-width: 78%;
  max-width: 78%;
  align-self: center;
}
.checkbox-container {
  min-width: 78%;
  max-width: 78%;
  display: flex;
}
.checkbox {
  align-self: center;
}
