<div *ngIf="pipelines != null" class="action-row">
  <mat-label class="title">Pipeline</mat-label>
  <mat-form-field>
    <mat-select
      [value]="defaultPipelineIdValue"
      [disabled]="pipelineSelectionDisabled"
      (valueChange)="loadStagesForPipeline($event)">
      <mat-option *ngFor="let pipeline of pipelines" [value]="pipeline.id">{{pipeline.name}}</mat-option>
    </mat-select>
  </mat-form-field>
  <div class="controls"></div>
</div>

<div *ngIf="selectedPipeline != null" class="action-row">
  <mat-label class="title pipeline-to-stage-indention">Stage</mat-label>
  <mat-form-field>
    <mat-select
      (selectionChange)="loadEnvForStageName($event.value)"
      [value]="selectedStage?.name"> <!-- get triggered when the pipeline changes -->
      <mat-option *ngFor="let stage of selectedPipeline.stages" [value]="stage.name">{{stage.name}}</mat-option>
    </mat-select>
  </mat-form-field>
  <div class="controls"></div>
</div>

<ng-container *ngIf="selectedPipeline != null && selectedStage != null && selectedStage.image != null">
  <div>
    <mat-divider></mat-divider>
  </div>
  <div class="whitespace-separator-top">
    <mat-card-subtitle>Image Information</mat-card-subtitle>
  </div>
  <div class="action-row">
    <mat-label class="title">Image Name</mat-label>
    <mat-form-field>
      <input #imageName matInput required [value]="selectedStage.image.name"
             (change)="image.name = $event.target.value; updateValid()">
    </mat-form-field>
    <div class="controls">
      <button dense mat-stroked-button color="primary"
              [disabled]="imageName.value == selectedStage.image.name"
              (click)="imageName.value = selectedStage.image.name">
        Reset
      </button>
    </div>
  </div>
  <div class="action-row">
    <mat-label class="title">Image Args</mat-label>
    <mat-form-field>
      <input #imageArgs matInput required [value]="selectedStage.image?.args?.join(' ')"
             (change)="updateImageArgs($event.target.value)">
    </mat-form-field>
    <div class="controls">
      <button dense mat-stroked-button color="primary"
              [disabled]="imageArgs.value == selectedStage.image?.args?.join(' ')"
              (click)="imageArgs.value = selectedStage.image?.args?.join(' ')">
        Reset
      </button>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="environmentVariablesValue != null">
  <div>
    <mat-divider></mat-divider>
  </div>

  <div class="whitespace-separator-top">
    <mat-card-subtitle>Environment Variables</mat-card-subtitle>
  </div>
  <app-env-variables
    [env]="environmentVariablesValue"
    [defaults]="defaultEnvironmentVariablesValue"
    [required]="requiredEnvironmentVariables"
    (valid)="updateValidEnv($event)"
    (value)="envSubmitValue = $event; updateValid();"
  >
  </app-env-variables>
</ng-container>


<ng-container *ngIf="selectedStage?.requiredResources != null">
  <div>
    <mat-divider></mat-divider>
  </div>

  <div class="whitespace-separator-top">
    <mat-card-subtitle>Minimum Resource Requirements</mat-card-subtitle>
  </div>

  <div class="action-row">
    <mat-label class="title">CPUs (cores)</mat-label>
    <mat-form-field>
      <input #requiredCpus matInput required [value]="'' +selectedStage.requiredResources.cpus"
             (change)="resources.cpus = toNumber($event.target.value); updateValid()">
    </mat-form-field>
    <div class="controls">
      <button dense mat-stroked-button color="primary"
              [disabled]="requiredCpus.value == '' + selectedStage.requiredResources.cpus"
              (click)="requiredCpus.value = '' + selectedStage.requiredResources.cpus; resources.cpus = selectedStage.requiredResources.cpus">
        Reset
      </button>
    </div>
  </div>

  <div class="action-row">
    <mat-label class="title">RAM (MiB)</mat-label>
    <mat-form-field>
      <input #requiredRam matInput required [value]="'' +selectedStage.requiredResources.megabytesOfRam"
             (change)="resources.megabytesOfRam = toNumber($event.target.value); updateValid()">
    </mat-form-field>
    <div class="controls">
      <button dense mat-stroked-button color="primary"
              [disabled]="requiredRam.value == '' +selectedStage.requiredResources.megabytesOfRam"
              (click)="requiredRam.value = '' +selectedStage.requiredResources.megabytesOfRam; resources.megabytesOfRam = selectedStage.requiredResources.megabytesOfRam">
        Reset
      </button>
    </div>
  </div>

  <div class="action-row">
    <mat-label class="title">
      <input #requireGpus type="checkbox" [checked]="resources.gpus != null"
             (change)="requireGpus.value = null; resources.gpus = $event.target.checked ? selectedStage.requiredResources?.gpus : null">
      GPUs
    </mat-label>
    <mat-form-field>
      <input #requiredGpus matInput required [value]="'' +selectedStage.requiredResources.gpus"
             [disabled]="!requireGpus.checked"
             (change)="resources.gpus = toNumber($event.target.value); updateValid()">
    </mat-form-field>
    <div class="controls">
      <button dense mat-stroked-button color="primary"
              [disabled]="requiredGpus.value == '' +selectedStage.requiredResources.gpus"
              (click)="requiredGpus.value = '' +selectedStage.requiredResources.gpus; resources.gpus = selectedStage.requiredResources.gpus">
        Reset
      </button>
    </div>
  </div>
</ng-container>


<ng-container *ngIf="selectedStage != null">
  <div>
    <mat-divider></mat-divider>
  </div>

  <div class="whitespace-separator-top">
    <mat-card-subtitle>Workspace configuration</mat-card-subtitle>
  </div>

  <div class="action-row">
    <mat-label class="title">
      <input name="ws-config" type="radio"
             [checked]="workspaceConfiguration?.mode == WorkspaceMode.STANDALONE"
             (change)="setWorkspaceMode($event.target.checked, WorkspaceMode.STANDALONE)">
      Standalone
    </mat-label>
    <div>
      Start execution in an empty workspace
    </div>
  </div>

  <div class="action-row">
    <mat-label class="title">
      <input name="ws-config" type="radio" value="increment"
             [checked]="workspaceConfiguration?.mode == WorkspaceMode.INCREMENT"
             (change)="setWorkspaceMode($event.target.checked, WorkspaceMode.INCREMENT)"
      >
      Increment
    </mat-label>
    <div>
      Start execution in a self contained copy of the previous workspace
    </div>
  </div>

  <div class="action-row">
    <mat-label class="title">
      <input name="ws-config" #wsContinuation type="radio" value="continuation"
             [disabled]="executionHistory == null || executionHistory.length == 0"
             [checked]="workspaceConfiguration?.mode == WorkspaceMode.CONTINUATION"
             (change)="setWorkspaceMode($event.target.checked, WorkspaceMode.CONTINUATION, executionHistory[0].stageId)">
      Continuation
    </mat-label>
    <div>
      Start execution in a workspace that already exists:
    </div>
  </div>

  <div class="action-row">
    <mat-label class="title">
    </mat-label>
    <mat-form-field>
      <mat-select #continuationValue
                  [(ngModel)]="workspaceConfiguration.value"
                  [disabled]="!wsContinuation.checked"
                  (valueChange)="setWorkspaceMode(true, WorkspaceMode.CONTINUATION, $event)">
        <mat-option *ngFor="let h of executionHistory.filter(hasStageId); let i = index"
                    [value]="h.stageId">[{{tryParseStageNumber(h.stageId, executionHistory.length - i)}}] {{h.stageName}}</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="controls"></div>
  </div>
</ng-container>

