<h1 mat-dialog-title>Filter Projects you want to apply the Settings on</h1>
<div mat-dialog-content class="content">
  <app-tag-filter [availableTags]="availableTags" [projects]="projects" (filtered)="this.filtered = $event">
  </app-tag-filter>
  <div class="project-list-container">
    <app-project-list [projects]="filtered ?? projects"></app-project-list>
  </div>
</div>
<div mat-dialog-actions class="dialog-actions">
  <button mat-raised-button color="primary" (click)="apply()">Apply</button>
  <button mat-stroked-button (click)="cancel()">Cancel</button>
</div>
