.project-selection-sidebar-item {
  height: 6em !important; /* TODO */
}

.mat-icon-container-auto-align-label label {
  padding-left: 1em;
  margin: auto 0;
}

.group {
  margin: 0.2em;
  border: 0;
  box-shadow: none;
}

.group mat-expansion-panel-header {
  padding-left: 0;
  height: 5.4em;
}

.group mat-icon {
  max-height: 1.5em;
  max-width: 1.5em;
  margin-top: 0.2em;
  margin-left: 1em;
  margin-right: 0.5em;
}

.group h4 {
  margin: 1.5em auto 0.2em 0.5em;
}
