.project-selection-sidebar-item {
  /* height: 6em !important; /* TODO */
  padding: 0;
  height: max-content;
}

.group {
  border: 0;
  box-shadow: none;
}

.group mat-expansion-panel-header {
  padding-left: 0;
  height: 3.5em;
}

.group mat-icon {
  max-height: 1.5em;
  max-width: 1.5em;
  margin-top: 0.2em;
  margin-left: 1em;
  margin-right: 0.5em;
}

.group h4 {
  margin: 1.5em auto 0.2em 0.5em;
}
.compact-list {
  margin: 0 -0.5rem -0.5rem -0.5rem;
}

.mat-divider {
  margin: 0;
}
