.top-bar {
  display: grid;
  padding: 1em 0;
  grid-gap: 1em;
  grid-template-columns: auto 1fr auto auto;
}

.top-bar button {
  width: min-content;
}

.top-bar .latest-stage-button {
  grid-column: 1/2;
}

.top-bar .stage-selection {
  grid-column: 2/3;
  margin: -12px 0 -2em;
}

.top-bar .compare-stage-button {
  grid-column: 3/4;
}

.top-bar .display-settings-button {
  grid-column: 4/5;
}

.top-bar .remove-compared-stage-button {
  grid-column: 3/5;
}

.top-bar-divider {
  margin-bottom: 1px;
}

.chart-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: minmax(300px, 1fr);
}

.create-chart-tile {
  align-self: center;
  justify-self: center;
}

.chart-card {
  margin: 4px;
  flex-grow: 1;
  min-width: 300px;
  min-height: 300px;
}

.chart-card-content {
  margin: 0;
}

.scrollable {
  overflow-y: auto;
}
