.top-bar {
  display: flex;
  padding: 1em 0;
  flex-shrink: 0;
}

.top-bar * {
  margin-left: 0;
  margin-right: 1em;
}

.top-bar *:last-child {
  margin-right: 0;
}

.top-bar-divider {
  margin-bottom: 1px;
}

.stage-form-field {
  margin: -12px 0 -2em;
  flex-grow: 1;
}

.chart {
  height: 300px;
}

.chart-grid-tile {
  display: flex;
}

.chart-card {
  margin: 4px;
  flex-grow: 1;
}

.chart-card-content {
  margin: 0;
}

.chart-grid-list {
  overflow-y: auto;
}
