<app-loading-info [loading]="isLongLoading()"></app-loading-info>

<div class="top-bar">
  <button mat-raised-button color="accent"
          [disabled]="false"
          (click)="showLatestLogs()">Show log of most recent Stage
  </button>
</div>

<div class="top-bar-divider">
  <mat-divider></mat-divider>
</div>

<mat-grid-list cols="3" gutterSize="1em" rowHeight="24em" class="chart-grid-list">
  <mat-grid-tile *ngFor="let chart of charts; let i = index" class="chart-grid-tile">
    <mat-card class="chart-card">
      <mat-card-content class="chart-card-content">
        <app-log-analysis-chart
          [chart]="chart"
          [logs]="logs"
        ></app-log-analysis-chart>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="openEditChartDialog(i)">Edit</button>
        <button mat-button (click)="removeChart(i)">Remove</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-raised-button color="accent" (click)="addNewChart()">Add Chart</button>
  </mat-grid-tile>
</mat-grid-list>
