<app-loading-info [loading]="isLongLoading()"></app-loading-info>

<div>
  <div class="top-bar">
    <button mat-raised-button color="accent"
            [disabled]="isLatestStage()"
            (click)="selectExecutionGroup(latestExecutionGroup)"
    >Show most recent Stage
    </button>
    <mat-form-field appearance="legacy" class="stage-form-field">
      <mat-select [(ngModel)]="selectedExecutionGroup" (selectionChange)="selectExecutionGroup(selectedExecutionGroup)">
        <mat-option *ngFor="let entry of filterHistory()" [value]="entry">
          {{historyEntryLabel(entry)}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button
            (click)="selectExecutionGroup(latestExecutionGroup)"
    >Compare with another Stage
    </button>
  </div>

  <div class="top-bar-divider">
    <mat-divider></mat-divider>
  </div>
</div>

<div>
  <div class="top-bar" *ngIf="isComparing()">
    <button mat-raised-button color="accent"
            [disabled]="isLatestStage()"
            (click)="selectExecutionGroup(historyEntriesToCompare[0])"
    >Show most recent Stage
    </button>
    <mat-form-field appearance="legacy" class="stage-form-field">
      <mat-select [(ngModel)]="selectedExecutionGroup" (selectionChange)="selectExecutionGroup(selectedExecutionGroup)">
        <mat-option *ngFor="let entry of filterHistory()" [value]="entry">
          {{historyEntryLabel(entry)}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button
            (click)="selectExecutionGroup(latestExecutionGroup)"
    >Compare with another Stage
    </button>
  </div>

  <div class="top-bar-divider" *ngIf="isComparing()">
    <mat-divider></mat-divider>
  </div>
</div>

<mat-grid-list cols="3" gutterSize="1em" rowHeight="24em" class="chart-grid-list">
  <mat-grid-tile *ngFor="let chart of charts; let i = index" class="chart-grid-tile">
    <mat-card class="chart-card">
      <mat-card-content class="chart-card-content">
        <app-log-analysis-chart
          [settings]="chart.settings"
          [data]="getChartData(chart)"
        ></app-log-analysis-chart>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="openEditChartDialog(chart)">Edit</button>
        <button mat-button (click)="removeChart(i)">Remove</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-raised-button color="accent" (click)="addChart()">Add Chart</button>
  </mat-grid-tile>
</mat-grid-list>
