.top-bar {
  display: grid;
  padding: 1em 0;
  grid-gap: 1em;
  grid-template-columns: auto 1fr auto;
}

.top-bar button {
  width: min-content;
}

.top-bar-divider {
  margin-bottom: 1px;
}

.stage-selection {
  margin: -12px 0 -2em;
  flex-grow: 1;
}

.chart {
  height: 300px;
}

.chart-grid-tile {
  display: flex;
}

.chart-card {
  margin: 4px;
  flex-grow: 1;
}

.chart-card-content {
  margin: 0;
}

.chart-grid-list {
  overflow-y: auto;
}
