.container {
  overflow: auto;
  @media(prefers-color-scheme: dark) {
    color: white;
  }
  min-height: max-content;
  max-height: 75vh;
}

.action-selector > * {
  flex-grow: 1;
  margin: 0 1em;
}

mat-card {
  margin: 1em;
}

.centered-controls {
  text-align: center;
}

.centered-controls > *:not(:first-child) {
  margin-left: 1em;
}

.drawer-content {
  background: #f5f5f5;
  @media(prefers-color-scheme: dark) {
    background-color: #383838;
  }
}

.drawer-element {
  display: block;
  margin: 0.5em;
}
