<ng-container class="outerContainer">
<div
    class="drag"
    data-event-target="true"
    data-draggable="true"
    data-type="DiagramMaker.PanelDragHandle"
    data-id="library"
  >
    <mat-icon>drag_indicator</mat-icon>
  </div>
  <mat-icon title="Go to workflow start" (click)="onApiCall('fit')">settings_overscan</mat-icon>
  <mat-icon title="Do workflow layout" (click)="onApiCall('layout')">repeat</mat-icon>
  <mat-icon title="Zoom in" (click)="onApiCall('zoomIn')">zoom_in</mat-icon>
  <mat-icon title="Zoom Out" (click)="onApiCall('zoomOut')">zoom_out</mat-icon>
  <mat-icon title="Undo action" (click)="onApiCall('undo')">undo</mat-icon>
  <mat-icon title="Redo action" (click)="onApiCall('redo')">redo</mat-icon>
  <mat-icon title="Save Workflow" [ngClass]="{'saved-data' : savedData, 'unsaved-data' : !savedData }" (click)="onApiCall('save')">save</mat-icon>
  <div class="scroll">
    <h3 class="category">Selected Node
      <mat-icon title="Deselect stage" class="iconCancel" *ngIf="selectedNode$" (click)="this.cancelEdit()">cancel</mat-icon>
    </h3>
    <mat-card class="editCard" *ngIf="selectedNode$">
      <mat-card-subtitle>ID: {{selectedNode$.id}}</mat-card-subtitle>

      <form class="editNodeForm" (ngSubmit)="startSave()">
       <app-edit-forms #form
                       [formObj]="formObj"
                       [formMap]="formHtmlMap"
                       (onCollectData)="saveEdit($event)"
                       (onTriggerSaveData)="startSave()"
       >
       </app-edit-forms>
      </form>

    </mat-card>
</div>
</ng-container>
