<ng-container class="outerContainer">
<div
    class="drag"
    data-event-target="true"
    data-draggable="true"
    data-type="DiagramMaker.PanelDragHandle"
    data-id="library"
  >
    <mat-icon>drag_indicator</mat-icon>
  </div>
  <div class="scroll">
    <h3 class="category">Selected Node
      <mat-icon class="iconCancel" *ngIf="selectedNode$" (click)="this.cancelEdit()">cancel</mat-icon>
    </h3>
    <mat-card class="editCard" *ngIf="selectedNode$">
      <mat-card-subtitle>ID: {{selectedNode$.id}}</mat-card-subtitle>

      <form class="editNodeForm" (ngSubmit)="startSave()">
       <app-edit-forms #form
                       [currentNodeID]="selectedNode$.id"
                       [formMap]="formHtmlMap"
                       [formObj]="formObj"
                       (onCollectData)="saveEdit($event)"
                       (onTriggerSaveData)="startSave()"
       >
       </app-edit-forms>
      </form>

    </mat-card>
    <h3 class="category">Add Node</h3>

    <div
      class="node"
      data-id="node-normal" data-type="DiagramMaker.PotentialNode" data-draggable="true" data-event-target="true"
      data-width="200" data-height="75"
    >
      <app-diagram-node [nodeTypeName]="'Normal Stage'"></app-diagram-node>
    </div>
    <div
      class="node"
      data-id="node-start" data-type="DiagramMaker.PotentialNode" data-draggable="true" data-event-target="true"
      data-width="200" data-height="75"
    >
      <app-diagram-node [nodeTypeName]="'Start Stage'"></app-diagram-node>
    </div>
    <div
      class="node"
      data-id="node-and-splitter" data-type="DiagramMaker.PotentialNode" data-draggable="true" data-event-target="true"
      data-width="75" data-height="75"
    >
      <app-diagram-node [nodeTypeName]="'AND Splitter'"></app-diagram-node>
    </div>
    <div
      class="node"
      data-id="node-if-splitter" data-type="DiagramMaker.PotentialNode" data-draggable="true" data-event-target="true"
      data-width="75" data-height="75"
    >
      <app-diagram-node [nodeTypeName]="'IF Splitter'"></app-diagram-node>
    </div>
    <div
      class="node"
      data-id="node-all-combiner" data-type="DiagramMaker.PotentialNode" data-draggable="true" data-event-target="true"
      data-width="75" data-height="75"
    >
      <app-diagram-node [nodeTypeName]="'All Combiner'"></app-diagram-node>
    </div>
    <div
      class="node"
      data-id="node-prio-combiner" data-type="DiagramMaker.PotentialNode" data-draggable="true" data-event-target="true"
      data-width="75" data-height="75"
    >
      <app-diagram-node [nodeTypeName]="'Priority Combiner'"></app-diagram-node>
    </div>

</div>
</ng-container>
