<div>
  <div
    class="drag"
    data-event-target="true"
    data-draggable="true"
    data-type="DiagramMaker.PanelDragHandle"
    data-id="library"
  >
    <mat-icon>drag_indicator</mat-icon>
  </div>
  <div class="scroll">
    <h3 class="category">Selected Node
      <mat-icon class="iconCancel" (click)="this.cancelEdit()">cancel</mat-icon>
    </h3>
    <mat-card class="editCard" *ngIf="selectedNode$">
      <mat-card-subtitle>ID: {{selectedNode$.id}}</mat-card-subtitle>

      <form class="editNodeForm" (ngSubmit)="startSave()">
       <app-edit-forms #form
                       [formMap]="formHtmlMap"
                       [formObj]="formObj"
                       (onCollectData)="saveEdit($event)"
                       (onTriggerSaveData)="startSave()"
       >
       </app-edit-forms>
      </form>

    </mat-card>
    <h3 class="category">Add Node</h3>

    <div
      class="node"
      data-id="node1" data-type="DiagramMaker.PotentialNode" data-draggable="true" data-event-target="true"
      data-width="200" data-height="75"
    >
      <app-diagram-node></app-diagram-node>
    </div>
  </div>
</div>

