@import "https://fonts.googleapis.com/icon?family=Material+Icons";

.drag {
  border-top: 1px solid #7f7f7f;
  border-bottom: 1px solid #7f7f7f;
  display: flex;
  justify-content: flex-end;
}

.editNodeForm {
  min-width: 200px;
  max-width: 500px;
  width: 100%;
}

.full-width {
  width: 100%;
}

.panel {
  width: 100%;
  min-width: 100%;
}

.category {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 4px;
  border-top: 2px solid #dadada;
  border-bottom: 2px solid #dadada;
}

.scroll {
  overflow-y: scroll;
  height: 570px;
  background-color: #f5f5f5;
}

.editCard {
  margin: auto;
  margin-top: 10px;
  width: 250px;
}

.node {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.iconCancel {
  margin-bottom: auto;
  margin-top: auto;
}


