#main {
  padding-bottom: 75vh;
}

#main > .top-menu {
  color: white;
  background-color: cornflowerblue;
  padding: 0.2em
}

#main > .container {
  display: flex;
  flex-direction: column;
  min-height: 90vh;
  padding: 0 2em 2em 2em;
  /*
  border: solid 0.05em lightgray;
  border-bottom-left-radius: 0.25em;
  border-bottom-right-radius: 0.25em;
  background-color: white;
 */
}

@media (min-width: 60em) {
  #main > .container {
    /*
    margin-left: 5em;
    margin-right: 5em;
     */
  }
}
