#main:nth-child(2):nth-child(2):first-child:not(.auto-full-height) {
  padding-bottom: 75vh;
}

#main > .top-menu {
  color: white;
  background-color: cornflowerblue;
}

#main > .container {
  display: flex;
  flex-direction: column;
  min-height: 90vh;
  padding: 0 2em 0 2em;
  /*
  border: solid 0.05em lightgray;
  border-bottom-left-radius: 0.25em;
  border-bottom-right-radius: 0.25em;
  background-color: white;
 */
}

@media (min-width: 60em) {
  #main > .container {
    /*
    margin-left: 5em;
    margin-right: 5em;
     */
  }
}


::ng-deep.mat-dialog-container > * {
  max-height: calc(100vh - 10em);
  overflow: auto;
  display: block;
  padding: 0.75em;
}

