<div class="header-row">
  <mat-card-title>{{projectValue.name}}</mat-card-title>
</div>

<div class="flex-grow-column control-row">
  <div class="control-button-row" style="margin: 1em auto -1em auto">
    <button mat-stroked-button color="primary"
            [disabled]="statePaused"
            (click)="pause()">
      <mat-icon>pause_circle_outlined</mat-icon>
      Pause
    </button>
    <button mat-stroked-button color="primary"
            [disabled]="!statePaused"
            (click)="resume()">
      <mat-icon>play_circle_outlined</mat-icon>
      Resume
    </button>

    <app-stop-button [project]="projectValue" [disabled]="!stateRunning"></app-stop-button>

    <button mat-stroked-button color="accent" (click)="openProjectDiskUsageDialog()">
      <mat-icon>insert_chart</mat-icon>
      Show Workspace Disk Usage
    </button>
</div>

<div class="graph-container">
  <div class="graph">
    <mat-card-header>CPU Utilization</mat-card-header>
    <div class="ngx-graph-wrapper whitespace-separator">
      <div echarts [options]="chartOptionCpu" class="chart" [merge]="mergeOptionCpu"></div>
    </div>
  </div>
  <div class="graph">
    <mat-card-header>Memory Usage</mat-card-header>
    <div class="ngx-graph-wrapper whitespace-separator">
      <div echarts [options]="chartOptionMemory" class="chart" [merge]="mergeOptionMemory"></div>
    </div>
  </div>
</div>
<div class="divider"></div>


<div class="flex-grow-column control-row">
  <div class="control-button-row" style="margin: 0 auto">
    <button *ngFor="let action of pipelineActions"
            mat-stroked-button
            [style.background-color]="actionBackgroundColor(action.name)"
            (click)="enqueueAction(action.id)">
      <mat-icon>slideshow</mat-icon>
      {{action.name}}
    </button>
  </div>
</div>
<div *ngIf="enqueued != null && enqueued.length > 0" class="divider"></div>
<div class="flex-grow-column whitespace-separator-top" style="margin: 1em 4em 3em 4em">
  <ng-container *ngFor="let entry of enqueued; index as i">
    <app-project-history-header
      [state]="entry.getMostRelevantState()"
      [isConfigure]="entry.configureOnly"
      [itemNo]="enqueued.length - i"
      [time]="entry.getMostRecentStartOrFinishTime()"
      [stageName]="entry.stageDefinition.name"
      [showResumeOnlyThisStage]="entry.enqueueIndex == 0"
      [enqueued]="entry.enqueueIndex != null"
      [running]="entry.isMostRecentStateRunning()"
      [paused]="statePaused"

      (clickPauseAfterThis)="clickPause.emit(entry)"
      (clickResumeOnlyThisStage)="clickResumeSingle.emit(entry)"
      (clickResume)="clickResume.emit(entry)"
      (clickDelete)="clickDeleteEnqueued.emit(entry)"
      (clickUseAsBlueprint)="clickUseAsBlueprint.emit([entry, null])"
    ></app-project-history-header>
  </ng-container>
</div>
