.dropdowns-and-label-container {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 0;
  display: flex;
  flex-direction: row;
}

.dropdowns-and-button-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#dropdownBtn {
  width: 200px;
  margin-bottom: 5px;
}

.dropdowns-container {
  display:flex;
  flex-direction: row;
}
.dropdown-content, .second-dropdown-content {
  position: relative;
  padding-bottom: 5px;
  background-color: #f6f6f6;
  min-width: 230px;
  max-height: 200px;
  border: 1px solid #ddd;
  border-radius: 5px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.scrollable {
  width: 90%;
  overflow-y: scroll;
}
.dropdown-item {
  cursor: default;
  padding: 3px;
  /*border: 1px solid lightgrey;*/
  border-bottom: 1px solid lightgrey;
  /*border-radius: 4px;*/
  margin: 1px;
  font-size: 14px;
}
.dropdown-item:hover {
  background-color: lightgrey;
}
.item-icon {
  font-size: 22px;
  float: right;
  cursor: pointer;
  margin-right: 5px;
}
.item-icon:hover {
  scale: 1.1;
}
#openSecondDropdownItem {
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  background-color: #def3f3;
  font-weight: bold;
}
#openSecondDropdownItem:hover {
  background-color: #d1eeee;
}
.text-input {
  width: 90%;
  padding: 2px;
  padding-left: 5px;
  border: 1px solid lightgrey;
  border-bottom: 1px solid grey;
  border-radius: 3px;
  font-size: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
}
