/*
 *
 * TODO .data-row is mostly a copy of .stage-control-item from project-view-component. Find a more elegant solution!
 *
 */

:host {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.data-row {
  display: flex;
  margin: 0 2em;
  align-items: center;
}

.data-row > *:first-child {
  flex: 1;
}

.data-row > *:not(:first-child):not(button) {
  margin: 0 1em;
  flex: 3;
}


.data-row button:not(:first-child) {
  margin-right: 1em;
  margin-left: 1em;
}
