.inputs {
  display: flex;
  flex-direction: column;
}
.list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user-item-from-dialog {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /*border: 1px solid lightgrey;*/
  border-bottom: 1px solid lightgrey;
  align-items: center;
}
.username-label {
  margin-left: 1em;
  margin-right: 1em;

  width: 4em;
}
.role-dropdown {
  width: 8em;
  display: flex;
  align-items: center;
  margin-top: 1.2em;
}
.remove-member-button-container {
  margin-right: 1em;
  margin-left: 6em;
  background-color: #3f51b5;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  box-shadow: 0 1px 3px gray;
  cursor: pointer;
}
.remove-member-button-container:hover {
  scale: 1.1;
}
.item-icon {
  font-size: 30px;
  color: white;
  margin-left: 10px;
  margin-top: 7px;
  /*margin-right: 1em;
  margin-left: 3.5em;
  font-size: 30px;*/
}
/*.item-icon:hover {
  cursor: pointer;
  scale: 1.05;
}*/
