.addToolBar{
  max-height: 46px;
  height: 46px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: clip;
  background-color: var(--color-background-dark);
  color: var(--font-color);
}

.addToolBar li{
  font-size: 0.95em;
  font-weight: lighter;
  height: 100%;
  float: left;
  display: block;
  text-align: center;
  padding: 0 8px;
  vertical-align: middle;
  border-right: 1px solid black;
  width: 83px;
}

mat-icon{
  transform: rotate(90deg);
}

.sub-font{
  font-size: 0.8em;
  color: #7f7f7f;
}

.last-li{
  border-right: none !important;
}

.first-li{
  width: 110px !important;
  padding: 4px !important;
}

.drag-icon{
  transform: rotate(180deg) !important;
}

.drag-li{
  width: 24px !important;
  padding: 0 !important;
}
