<div *ngIf="node != null" class="server">
  <div class="server-overview">
    <h2 class="server-name">{{node.name}}</h2>
    <div class="ngx-graph-wrapper">
      <ngx-charts-gauge
        class="cpu-usage"
        [animations]="true"
        [scheme]="colorScheme"
        [results]="cpus"
        [legend]="false"
        [showText]="false"
        [tooltipDisabled]="true">
      </ngx-charts-gauge>
    </div>
    <div class="server-details">
      <span><strong>CPU</strong> {{node.cpuInfo.modelName}}</span>
      <span><strong>MEM</strong> {{getTotalMemoryFormatted()}}</span>
      <span *ngFor="let gpu of node.gpuInfo"><strong>GPU</strong> {{gpu.vendor.toUpperCase()}} {{gpu.name}}</span>
    </div>
    <strong class="whitespace-separator-top" style="margin-bottom: -2em">Disk Usage</strong>
    <div>
      <ngx-charts-pie-chart
        [animations]="true"
        [scheme]="colorSchemeDiskUsageW95"
        [labels]="true"
        [labelFormatting]="diskUsageLabelFormatting"
        [results]="diskUsage"
        [legend]="false"
        [tooltipText]="diskUsageToolTipFormatting"
        [tooltipDisabled]="false"
      ></ngx-charts-pie-chart>
    </div>
    <div *ngIf="node.buildInfo" class="server-details server-build-info whitespace-separator-top">
      <span>{{node.buildInfo.commitHashShort}}, {{node.buildInfo.date}}</span>
    </div>
  </div>

  <div class="separator"></div>

  <div class="graph-container">
    <div class="graph-container-item">
      <h3>Memory usage</h3>
      <div class="graph">
        <div class="ngx-graph-wrapper">
          <ngx-charts-area-chart-stacked
            [animations]="false"
            [scheme]="schemeMemory"
            [results]="memory"
            [legend]="true"
            [xAxis]="true"
            [yAxis]="true"
            [yScaleMax]="totalMemoryAllPools()"
            [yScaleMin]="0"
            [showYAxisLabel]="true"
            [yAxisLabel]="'Gigabyte'"
          ></ngx-charts-area-chart-stacked>
        </div>
      </div>
    </div>
    <div class="graph-container-item">
      <h3>Network IO</h3>
      <div class="graph">
        <div class="ngx-graph-wrapper">
          <ngx-charts-area-chart
            [animations]="false"
            [scheme]="schemeWriteRead"
            [results]="network"
            [legend]="true"
            [xAxis]="true"
            [yAxis]="true"
            [showYAxisLabel]="true"
            [yAxisLabel]="unitNetwork+'Byte/s'"
          ></ngx-charts-area-chart>
        </div>
      </div>
    </div>
    <div class="graph-container-item">
      <h3>Disk IO</h3>
      <div class="graph">
        <div class="ngx-graph-wrapper">
          <ngx-charts-area-chart
            [animations]="false"
            [scheme]="schemeWriteRead"
            [results]="disk"
            [legend]="true"
            [xAxis]="true"
            [yAxis]="true"
            [timeline]="false"
            [showYAxisLabel]="true"
            [yAxisLabel]="unitDisk+'Byte/s'"
          ></ngx-charts-area-chart>
        </div>
      </div>
    </div>
  </div>
</div>
