:host {
  display: contents;
  --thumbnail-size: 4.5rem;
}

:host > * {
  width: var(--thumbnail-size);
  height: var(--thumbnail-size);
}

:host > img {
  object-fit: cover;
}

:host > div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  overflow: hidden;
}
