:host {
  display: contents;
}

:host > * {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
}

:host > img {
  object-fit: cover;
}

:host > div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  overflow: hidden;
}
