:host {
  display: contents;
}

:host > * {
  width: 4rem;
  height: 4rem;
}

:host > img {
  object-fit: cover;
}

:host > div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  overflow: hidden;
}
