<mat-expansion-panel
*ngIf="executionGroup.stages.length > 1"
[expanded]="expanded"
[class.active]="active">
  <mat-expansion-panel-header class="header" [class.active]="active">
    <mat-panel-title>
      <app-project-history-header
        [state]="executionGroup.getMostRelevantState()"
        [isConfigure]="executionGroup.configureOnly"
        [itemNo]="entryNumber"
        [time]="executionGroup.getMostRecentStartOrFinishTime()"
        [stageName]="executionGroup.stageDefinition.name + (executionGroup.enqueueIndex != null ? ' ('+executionGroup.enqueueIndex+')' : '')"
        [showResumeOnlyThisStage]="firstEntry || executionGroup.active"
        [showActiveControls]="firstEntry || executionGroup.active"
        [showPassiveControls]="firstEntry || executionGroup.active"
        [showDeleteEnqueued]="executionGroup.enqueueIndex != null"
        [showKillCurrentStage]="executionGroup.active"
        [enqueued]="executionGroup.enqueueIndex != null"
        [running]="executionGroup.active || executionGroup.isMostRecentStateRunning()"
        [paused]="pipelineIsPaused == true"
        [comment]="executionGroup?.comment"
        [groupSize]="executionGroup.getGroupSize()"
        [sharedWorkspace]="executionGroup?.workspaceConfiguration?.sharedWithinGroup"


        (click)="setSelectedStageIndexAndEmitStage()"
        (clickResume)="clickResume.emit(executionGroup)"
        (clickResumeOnlyThisStage)="clickResumeOnlyThisStage.emit(executionGroup)"
        (clickDelete)="executionGroup.enqueueIndex != null ? clickDelete.emit(executionGroup) : null"
        (clickPauseAfterThis)="clickPauseAfterThis.emit(executionGroup)"
        (clickKillCurrentStage)="clickKillStage.emit(null)"
        (clickUseAsBlueprint)="clickUseAsBlueprint.emit(null)"
      ></app-project-history-header>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <div>
    <app-project-history-group-info
      [executionGroup]="executionGroup"
      [visibleStages]="visibleStages"
      [(selectedStageIndex)]="selectedStageIndex"

      (clickGetStage)="clickGetStage.emit($event)"
      (clickKillStage)="clickKillStage.emit($event)"
      (clickUseAsBlueprint)="clickUseAsBlueprint.emit($event)"
      (clickOpenLogs)="clickOpenLogs.emit($event)"
      (clickOpenWorkspace)="clickOpenWorkspace.emit($event)"
      (clickOpenTensorboard)="clickOpenTensorboard.emit($event)"
    ></app-project-history-group-info>
    <div *ngIf="executionGroup.stages.length > visibleStages"
         class="history-more-buttons whitespace-separator-top horizontal-center-with-margin">
      <button mat-stroked-button color="primary"
              [disabled]="executionGroup.stages.length <= visibleStages"
              (click)="incrementVisibleStagesBy(10)">
        <mat-icon>arrow_drop_down</mat-icon>
        Show 10 More
      </button>
      <button mat-stroked-button color="primary"
              [disabled]="executionGroup.stages.length <= visibleStages"
              (click)="incrementVisibleStagesBy(50)">
        <mat-icon>expand_more</mat-icon>
        Show 50 More
      </button>
      <button mat-stroked-button color="primary"
              [disabled]="executionGroup.stages.length <= visibleStages"
              (click)="incrementVisibleStagesBy(executionGroup.stages.length + 500)">
        <mat-icon>arrow_downward</mat-icon>
        Show All
      </button>
    </div>
  </div>
</mat-expansion-panel>

<div *ngIf="executionGroup.stages.length <= 1" class="history-header header" [class.active]="active">
  <app-project-history-header
    [itemNo]="entryNumber"
    [time]="executionGroup?.getMostRecentStartOrFinishTime()"
    [stageName]="executionGroup?.stageDefinition.name + (executionGroup?.enqueueIndex != null ? ' ('+executionGroup?.enqueueIndex+')' : '')"
    [state]="executionGroup?.getMostRelevantState()"
    [isConfigure]="executionGroup?.configureOnly"
    [showResumeOnlyThisStage]="firstEntry || executionGroup.active"
    [showActiveControls]="firstEntry || executionGroup.active"
    [showPassiveControls]="firstEntry || executionGroup.active || executionGroup.stages.length == 1"
    [showDeleteEnqueued]="executionGroup.enqueueIndex != null"
    [showKillCurrentStage]="executionGroup.active"
    [enqueued]="executionGroup.enqueueIndex != null"
    [running]="executionGroup?.stages[0]?.state == State.Running"
    [paused]="executionGroup?.stages[0]?.state == State.Paused"
    [comment]="executionGroup?.comment"

    (clickOpenLogs)="clickOpenLogs.emit(executionGroup.stages[0])"
    (clickOpenWorkspace)="clickOpenWorkspace.emit(executionGroup.stages[0])"
    (clickOpenTensorboard)="clickOpenTensorboard.emit(executionGroup.stages[0])"

    (clickResume)="clickResume.emit(executionGroup)"
    (clickResumeOnlyThisStage)="clickResumeOnlyThisStage.emit(executionGroup)"
    (clickDelete)="executionGroup.enqueueIndex != null ? clickDelete.emit(executionGroup) : null"
    (clickPauseAfterThis)="clickPauseAfterThis.emit(executionGroup)"
    (clickKillCurrentStage)="clickKillStage.emit(executionGroup.stages[0])"
    (clickUseAsBlueprint)="clickUseAsBlueprint.emit(executionGroup.stages[0])"
  ></app-project-history-header>
</div>
