.expansion-button {
  position: absolute;
  right: 0.7em;
  top:0.5em;
  z-index: 999;
  background-color: var(--color-background-light);
}

.context deep .mat-tab-label-container {
  flex-wrap: nowrap;
  overflow-x: clip;
  white-space: nowrap;
}

.context deep .mat-tab-label {
  min-width: min-content;
  padding: 0;
}

.context deep .mat-mdc-tab-header {
  margin-left: 0.5em;
  margin-right: 3em;
}

.custom-tab {
  padding: 0.5em 0.5em 0.5em 0.5em;
}
