.expansion-button {
  position: absolute;
  right: 0.7em;
  top:0.5em;
  background-color: whitesmoke;
  color: #7f7f7f;
  width: 2em;
}

/* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version. */
.context deep .mat-tab-label-container {
  flex-wrap: nowrap;
  overflow-x: clip;
  white-space: nowrap;
}

/* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version. */
.context deep .mat-tab-label {
  min-width: min-content;
  padding: 0;
}

/* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version. */
.context deep .mat-tab-header-pagination {
  display: none !important;
}

.context deep .mat-mdc-tab-header {
  margin-left: 0.5em;
  margin-right: 3em;
}

.custom-tab {
  padding: 0.5em 0.5em 0.5em 0.5em;
}
