.logs-container {
  overflow: auto;
  flex-grow: 1;
  flex-shrink: 1;
}

.console-controls {
  display: grid;
  padding: 1em 0;
  grid-gap: 1em;
  grid-template-columns: auto auto auto auto 1fr auto auto;
}

.reg-exp-field {
  margin: -12px 0 -2em;
  flex-grow: 1;
  height: 1.5rem;
}

.console-controls button {
  width: max-content;
}

.console-container {
  display: flex;
  flex-grow: 1;
  margin: 0;
}

.console {
  flex-grow: 1;
  min-height: 10em;
  width: auto;
  font-weight: bold;
  padding: 1em;
}

.console span {
  word-break: normal;
  white-space: pre-wrap;
  padding: 0;
  margin: 0;
}

.console > * {
  display: flex;
  padding: 0 1em;
  margin: 0;
}

.console > *:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.console > *:last-child {
  margin-bottom: 2em;
}

.console .line-number {
  display: inline-block;
  flex-shrink: 0;
  color: darkgray;
  width: 3em;
  padding: 0 2em 0 0;
  text-align: end;
  user-select: none;
}

.dark-console {
  background-color: black;
  color: lightgrey;
}

.console-err {
  color: red;
}

.console-mgmt {
  color: dimgray;
}

.console-mgmt.console-err {
  color: darkred !important;
}

.window-mode {
  overflow: auto;
  height: 100%;
}

.console .no-word-wrap {
  word-break: unset !important;
  white-space: pre !important;
}

.console-scroll-up-down {
  display: flex;
  flex-direction: row;
}

.console-scroll-up-down > *:not(:last-child) {
  margin-right: 0.1em;
}
