.group-assignment-container {
  border: 1px solid darkgrey;
  background-color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 10px;
}
.assignment-item-container {
  display: flex;
  flex-direction: row;
  /*justify-content: space-between;*/
  min-height: 50px;
  align-items: center;
}
.attribute-label {
  font-weight: bold;
  min-width: 15%;
  max-width: 15%;
}
.attribute-value-container {
  display: flex;
  flex-direction: row;
  width: 85%;
}
mat-slider {
  width: 50%;
}
