<ng-container class="outerContainer">
<div
    class="drag"
    data-event-target="true"
    data-draggable="true"
    data-type="DiagramMaker.PanelDragHandle"
    data-id="library"
  >
    <mat-icon>drag_indicator</mat-icon>
  </div>
  <div class="library-icons-container">
    <div class="button-container border-right">
      <div class="library-button">
        <mat-icon class="library-icon" title="Save entire Workflow" [ngClass]="{'saved-data' : savedData, 'unsaved-data' : !savedData }" (click)="onApiCall('save')">save</mat-icon>
      </div>
    </div>
    <div class="button-container">
      <div class="library-button">
        <mat-icon class="library-icon" title="Go to workflow start" (click)="onApiCall('fit')">settings_overscan</mat-icon>
      </div>
    </div>
    <div class="button-container">
      <div class="library-button">
        <mat-icon class="library-icon" title="Do workflow layout" (click)="onApiCall('layout')">repeat</mat-icon>
      </div>
    </div>
    <div class="button-container">
      <div class="library-button">
        <mat-icon class="library-icon" title="Zoom in" (click)="onApiCall('zoomIn')">zoom_in</mat-icon>
      </div>
    </div>
    <div class="button-container border-right">
      <div class="library-button">
        <mat-icon class="library-icon" title="Zoom Out" (click)="onApiCall('zoomOut')">zoom_out</mat-icon>
      </div>
    </div>
    <div class="button-container">
      <div class="library-button">
        <mat-icon class="library-icon" title="Undo action" (click)="onApiCall('undo')">undo</mat-icon>
      </div>
    </div>
    <div class="button-container border-right">
      <div class="library-button">
        <mat-icon class="library-icon" title="Redo action" (click)="onApiCall('redo')">redo</mat-icon>
      </div>
    </div>
    <div class="button-container">
      <div class="library-button" (click)="onApiCall('flat-delete')">
        <mat-icon class="library-icon" title="Delete this node">delete_outline</mat-icon>
      </div>
    </div>
    <!--<div class="button-container" (click)="onApiCall('deep-delete')">
      <div class="library-button">
        <mat-icon class="library-icon" title="Delete all attached nodes">delete_forever</mat-icon>
      </div>
    </div>-->
  </div>

  <div class="scroll">
    <h3 class="category">Selected Node
      <mat-icon title="Deselect stage" class="iconCancel" *ngIf="selectedNode$" (click)="this.cancelEdit()">cancel</mat-icon>
    </h3>
    <mat-card appearance="outlined" class="editCard" *ngIf="selectedNode$">
      <mat-card-subtitle>ID: {{selectedNode$.id}}</mat-card-subtitle>

      <form class="editNodeForm" (ngSubmit)="startSave()">
       <app-edit-forms #form
                       [formObj]="formObj"
                       [formMap]="formObj"
                       (onCollectData)="saveEdit($event)"
                       (onTriggerSaveData)="startSave()"
       >
       </app-edit-forms>
      </form>

    </mat-card>
</div>
</ng-container>
