<h1 mat-dialog-title>Chart Settings</h1>

<mat-dialog-content class="dialog-content">
  <p>General</p>
</mat-dialog-content>

<mat-dialog-content class="dialog-content">
  <mat-form-field appearance="fill" class="wide-field">
    <mat-label>Title</mat-label>
    <input matInput [(ngModel)]="data.chartDefinition.displaySettings.name">
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-content class="dialog-content">
  <mat-form-field appearance="fill" class="wide-field">
    <mat-label>CSV Source</mat-label>
    <code>
      <input matInput [(ngModel)]="data.chartDefinition.file">
    </code>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-content class="dialog-content">
  <mat-form-field appearance="fill" class="wide-field">
    <mat-label>CSV Format</mat-label>
    <code>
      <input matInput [(ngModel)]="data.chartDefinition.formatter">
    </code>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-content class="dialog-content">
  <p>Layout</p>
</mat-dialog-content>

<mat-dialog-content class="dialog-content">
  <mat-form-field appearance="fill" class="wide-field">
    <mat-label>Limit Entries</mat-label>
      <input matInput [(ngModel)]="data.chartDefinition.displayAmount">
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-content class="dialog-content">
  <mat-form-field appearance="fill" class="left-field">
    <mat-label>x-Axis Label</mat-label>
    <input matInput [(ngModel)]="data.chartDefinition.displaySettings.xAxisName">
  </mat-form-field>
  <mat-form-field appearance="fill" class="right-field">
    <mat-label>y-Axis Label</mat-label>
    <input matInput [(ngModel)]="data.chartDefinition.displaySettings.yAxisName">
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-content class="dialog-content">
  <mat-form-field appearance="fill" class="left-field">
    <mat-label>x-Axis Variable</mat-label>
    <input matInput [(ngModel)]="data.chartDefinition.xVariable">
  </mat-form-field>
  <mat-form-field appearance="fill" class="right-field">
    <mat-label>y-Axis Variable</mat-label>
    <input matInput [(ngModel)]="data.chartDefinition.yVariable">
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-content class="dialog-content">
  <mat-form-field appearance="fill" class="left-field">
    <mat-label>x-Axis Type</mat-label>
    <mat-select [(ngModel)]="data.chartDefinition.displaySettings.xAxisType">
      <mat-option *ngFor="let axisType of AxisTypes" [value]="axisType">{{axisType | titlecase}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill" class="right-field">
    <mat-label>y-Axis Type</mat-label>
    <mat-select [(ngModel)]="data.chartDefinition.displaySettings.yAxisType">
      <mat-option *ngFor="let axisType of AxisTypes" [value]="axisType">{{axisType | titlecase}}</mat-option>
    </mat-select>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-content class="dialog-content">
  <mat-form-field appearance="fill" class="left-field">
    <mat-label>Custom x-Axis Minimum</mat-label>
    <code>
      <input matInput [(ngModel)]="data.chartDefinition.displaySettings.xAxisMinValue">
    </code>
  </mat-form-field>
  <mat-form-field appearance="fill" class="right-field">
    <mat-label>Custom y-Axis Minimum</mat-label>
    <code>
      <input matInput [(ngModel)]="data.chartDefinition.displaySettings.yAxisMinValue">
    </code>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-content class="dialog-content">
  <mat-form-field appearance="fill" class="left-field">
    <mat-label>Custom x-Axis Maximum</mat-label>
    <code>
      <input matInput [(ngModel)]="data.chartDefinition.displaySettings.xAxisMaxValue">
    </code>
  </mat-form-field>
  <mat-form-field appearance="fill" class="right-field">
    <mat-label>Custom y-Axis Maximum</mat-label>
    <code>
      <input matInput [(ngModel)]="data.chartDefinition.displaySettings.yAxisMaxValue">
    </code>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-content class="dialog-content">
  <p>Preview</p>
</mat-dialog-content>

<mat-dialog-content class="dialog-content">
  <app-log-analysis-chart
    [settings]="data.chartDefinition.displaySettings"
    [data]="getChartData()"
  ></app-log-analysis-chart>
</mat-dialog-content>

<mat-dialog-actions class="dialog-actions">
  <button mat-button [mat-dialog-close]="data.chartDefinition">Save</button>
</mat-dialog-actions>
