<h1 mat-dialog-title>Chart settings</h1>

<mat-dialog-content class="dialog-content">
  <mat-form-field appearance="fill" class="title-field">
    <mat-label>Title</mat-label>
    <input matInput [(ngModel)]="data.chart.name">
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-content class="dialog-content">
  <mat-form-field appearance="fill" class="reg-exp-field">
    <mat-label>Regular Expression</mat-label>
    <code>
      <input matInput [(ngModel)]="data.chart.regExp">
    </code>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-content class="dialog-content">
  <mat-form-field appearance="fill" class="x-axis-field">
    <mat-label>x-Axis</mat-label>
    <code>
      <input matInput [(ngModel)]="data.chart.xAxisGroup">
    </code>
  </mat-form-field>
  <mat-form-field appearance="fill" class="y-axis-field">
    <mat-label>y-Axis</mat-label>
    <code>
      <input matInput [(ngModel)]="data.chart.yAxisGroup">
    </code>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-content class="dialog-content"></mat-dialog-content>

<mat-checkbox>Display time on x-Axis instead</mat-checkbox>

<p></p><mat-divider></mat-divider><p></p>

<mat-dialog-content class="dialog-content">
  <app-log-analysis-chart
    [chart]="data.chart"
    [logs]="data.logs"
  ></app-log-analysis-chart>
</mat-dialog-content>

<mat-dialog-actions class="dialog-actions">
  <button mat-button [mat-dialog-close]="data.chart">Save</button>
</mat-dialog-actions>
