.dialog-content {
  padding: 0;
  margin: 0;
}

.dialog-actions {
  padding: 0;
  margin: 0;
}

.wide-field {
  width: 720px;
}

.left-field {
  width: 355px;
  margin-right: 10px;
}

.right-field {
  width: 355px;
}

.graph-field {
  width: 300px;
  margin-right: 10px;
}

.graph-button {
  top: -5px;
  left: 5px;
}
