<label *ngIf="selectedUser === null" class="nothing-selected">No user selected</label>
<div *ngIf="selectedUser != null" class="user-detail-container">
  <h2>User Details</h2>
  <div class="user-name-container">
    <!--<label for="detailUserName" class="username-label"> Username: </label>
    <label id="detailUserName">{{selectedUser.name}}</label>-->

    <!--<label class="display-name-label"> Display Name: </label>
    <label *ngIf="selectedUser.displayName != null" class="display-name">{{selectedUser.displayName}}</label>
    <label *ngIf="!selectedUser.displayName" class="display-name no-value">No Display Name</label>-->

    <div class="detail-item">
      <label class="attribute-label">  Username: </label>
      <mat-form-field class="input-width">
        <input matInput
               placeholder="Username"
               [defaultValue]="editableSelectedUser.name"
               [(ngModel)]="editableSelectedUser.name"
               (keyup)="usernameHasChanged()">
      </mat-form-field>
      <button mat-raised-button
              color="primary"
              (click)="onUpdateUsername()"
              class="update-btn"
              [disabled]="!canIEditUser || !hasUsernameChanged">
        Update
      </button>
    </div>

    <div class="detail-item">
      <label class="attribute-label"> Display Name: </label>
      <mat-form-field class="input-width">
        <input matInput
               placeholder="Display Name"
               [defaultValue]="editableSelectedUser.displayName"
               [(ngModel)]="editableSelectedUser.displayName"
               (keyup)="displayNameHasChanged()">
      </mat-form-field>
      <button mat-raised-button
              color="primary"
              (click)="onUpdateDisplayName()"
              class="update-btn"
              [disabled]="!canIEditUser || !hasDisplayNameChanged">
        Update
      </button>
    </div>

    <div class="detail-item">
      <label class="attribute-label"> E-Mail: </label>
      <mat-form-field class="input-width">
        <input matInput
               placeholder="Email"
               [defaultValue]="editableSelectedUser.email"
               [(ngModel)]="editableSelectedUser.email"
               (keyup)="emailHasChanged()">
      </mat-form-field>
      <button mat-raised-button
              color="primary"
              (click)="onUpdateEmail()"
              class="update-btn"
              [disabled]="!canIEditUser || !hasEmailChanged">
        Update
      </button>
    </div>

    <div class="detail-item">
      <label class="attribute-label"> Password: </label>
      <mat-form-field class="input-width">
        <input matInput
               placeholder="Password"
               [(ngModel)]="newPassword"
               (keyup)="setPasswordHintColor()">
        <mat-hint align="end" [class]="passwordHintColor">{{newPassword.length}} / 8</mat-hint>
      </mat-form-field>
      <button mat-raised-button
              color="primary"
              (click)="onUpdatePassword()"
              class="update-btn"
              [disabled]="!canIEditUser || !(newPassword.length >= 8)">
        Update
      </button>
    </div>

    <div class="detail-item">
      <label class="attribute-label"> Active: </label>
      <div class="checkbox-container">
        <mat-checkbox [(ngModel)]="editableSelectedUser.active"
                      class="checkbox"
                      (change)="userActiveHasChanged()">
        </mat-checkbox>
      </div>

      <button mat-raised-button
              color="primary"
              (click)="onUpdateActive()"
              class="update-btn"
              [disabled]="!canIEditUser || !hasUserActiveChanged">
        Update
      </button>
    </div>

  </div>
  <button class="mat-raised-button delete-user-btn"
          (click)="onUserDelete()"
          color="warn"
          mat-raised-button="">
    Delete
  </button>
</div>
