.nothing-selected {
  width: 54em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  text-align: center;
  padding: 3em;
  font-style: italic;
}
.groupname-label, .username-label, .display-name-label, .email-label {
  font-weight: bold;
  display: inline-block;
  width: 10em;
}
.display-name-label, .email-label {
  margin-top: 20px;
}
#detailGroupName, #detailUserName, .display-name, .email {
  padding: 6px 10px;
  display: inline-block;
  width: 680px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f6f6f6;
}
.no-value {
  font-style: italic;
}
.group-detail-container, .user-detail-container {
  width: 54em;
  /*padding-left: 60px;
  border-left: 1px solid lightgrey;*/
}
.delete-user-btn {
  width: 10em;
  float: right;
  margin-top: 40px;
}
