<div *ngIf="node != null" class="server">
  <div class="server-overview">
    <h2 class="server-name">{{node.name}}</h2>
    <div class="ngx-graph-wrapper">
      <ngx-charts-gauge class="cpu-usage"
                        [scheme]="colorScheme"
                        [results]="cpus"
                        [legend]="false"
                        [showText]="false"
                        [tooltipDisabled]="true">
      </ngx-charts-gauge>
    </div>
    <div class="server-details">
      <span><strong>CPU</strong> {{node.cpuInfo.modelName}}</span>
      <span><strong>MEM</strong> 1/2 MiByte</span>
      <span><strong>GPU</strong> 4x ToasterX</span>
    </div>
  </div>

  <div class="separator"></div>

  <div class="graph-container">
    <div class="graph-container-item">
      <h3>Memory usage</h3>
      <div class="graph">
        <div class="ngx-graph-wrapper">
          <ngx-charts-area-chart-stacked
            [scheme]="schemeMemory"
            [results]="memory"
            [legend]="true"
            [xAxis]="true"
            [yAxis]="true"
            [yScaleMax]="totalMemoryAllPools()"
            [yScaleMin]="0"
            [showYAxisLabel]="true"
            [yAxisLabel]="'Gigabyte'"
            [tooltipDisabled]="true"
          ></ngx-charts-area-chart-stacked>
        </div>
      </div>
    </div>
    <div class="graph-container-item">
      <h3>Network IO</h3>
      <div class="graph">
        <div class="ngx-graph-wrapper">
          <ngx-charts-area-chart
            [scheme]="{domain: ['#FF0000', '#00FF00']}"
            [results]="series"
            [legend]="true"
            [xAxis]="true"
            [yAxis]="true"
            [showYAxisLabel]="true"
            [yAxisLabel]="'MiBytes/s'"
            [tooltipDisabled]="true"
          ></ngx-charts-area-chart>
        </div>
      </div>
    </div>
    <div class="graph-container-item">
      <h3>Disk IO</h3>
      <div class="graph">
        <div class="ngx-graph-wrapper">
          <ngx-charts-area-chart
            [scheme]="{domain: ['#FF0000', '#00FF00']}"
            [results]="series"
            [legend]="true"
            [xAxis]="true"
            [yAxis]="true"
            [showYAxisLabel]="true"
            [yAxisLabel]="'MiBytes/s'"
            [tooltipDisabled]="true"
          ></ngx-charts-area-chart>
        </div>
      </div>
    </div>
  </div>
</div>
