<div class="history-list">
  <app-project-history-item></app-project-history-item>
  <app-project-history-item></app-project-history-item>
  <app-project-history-item></app-project-history-item>
  <app-project-history-item></app-project-history-item>
  <app-project-history-item></app-project-history-item>
  <app-project-history-item></app-project-history-item>
  <app-project-history-item></app-project-history-item>
  <app-project-history-item></app-project-history-item>
  <app-project-history-item></app-project-history-item>
</div>
<div class="history-details">
  <app-project-history-item-details></app-project-history-item-details>
</div>
