/* ---------- Overall Container Styling ---------- */
.list-and-label-container {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 0;
  display: flex;
  flex-direction: row;
}
.list-label {
  font-weight: bold;
  display: inline-block;
  flex-shrink: 0;
  width: 10em;
  margin-top: 7px;
}
/*.list-and-button-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}*/

/*.list-container {
  display:flex;
  flex-direction: row;
}*/
.list-content {
  position: relative;
  padding-bottom: 5px;
  background-color: #f6f6f6;
  min-width: 700px;
  max-height: 400px;
  border: 1px solid #ddd;
  border-radius: 5px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.scrollable {
  width: 90%;
  overflow-y: scroll;
}

/* ---------- List Item Styling ---------- */
.list-item {
  cursor: default;
  padding: 3px;
  border-bottom: 1px solid lightgrey;
  margin: 1px;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.dropdown-item:hover {
  background-color: lightgrey;
}
.username-label {
  margin-left: 1em;
  margin-right: 1em;
  width: 4em;
}
.role-dropdown {
  width: 8em;
  display: flex;
  align-items: center;
  margin-top: 1.2em;
}
.remove-member-button-container {
  background-color: #3f51b5;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  box-shadow: 0px 1px 3px gray;
  cursor: pointer;
  margin-left: 9.5em;
}
.remove-member-button-container:hover {
  scale: 1.1;
}
.item-icon {
  font-size: 30px;
  color: white;
  /*margin-top: 0.5em;*/
  /*margin-left: 4em;
  margin-right: 0.5em;
  border-radius: 50%;
  background-color: #3f51b5;
  padding: 8px;*/
  margin-left: 10px;
  margin-top: 7px;
}
.text-input {
  width: 90%;
  padding: 2px;
  padding-left: 5px;
  border: 1px solid lightgrey;
  border-bottom: 1px solid grey;
  border-radius: 3px;
  font-size: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.add-member-button-container {
  text-align: center;
  margin-top: 4px;
}

