.expansion-button {
  position: absolute;
  right: 0.7em;
  top:0.5em;
  z-index: 999;
  background-color: var(--color-background-light);
}

.context deep .mat-tab-label-container {
  flex-wrap: nowrap;
  overflow-x: clip;
  white-space: nowrap;
}
