.container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.files-browser-path {
  flex-grow: 1;
  margin: 2em 0 0 0;
  padding: 0.5em 1em;
  border: 1px solid silver;
  border-bottom: none;
}
.files-browser-path:disabled {
  background-color: black;
}

.files-browser {
  border: 1px solid silver;
  min-height: 40em;
  margin: 0 0 2em 0;

  display: flex;
  flex-grow: 1;
  flex-direction: row;
}

.files-browser > * {
  margin: 0;
  padding-top: 2em;
}

.files-browser * {
  list-style: none;
}

.files-browser-navigation {
  background-color: rgba(110, 120, 255, 0.04);
  width: 30%;
  overflow: auto;
}

.files-browser-navigation * {
  padding: 0;
  margin: 0;
}

.files-browser-navigation li {
  border-left: 1px dotted gray;
}

.files-browser-navigation ul {
  margin-left: 0.5em;
  padding-left: 1.25em;
}

.files-browser i {
  vertical-align: bottom;
}

.files-browser-navigation .directory {
  padding: 0.1em 1em;
}

.files-browser-navigation .directory:hover {
  cursor: pointer;
  background-color: rgba(110, 120, 255, 0.1);
}

ul.files-browser-navigation {
  padding: 0!important;
  margin: 0!important;
}
ul.files-browser-navigation > li {
  border: none !important;
}
ul.files-browser-navigation > li > p {

}

.files-browser-view {
  background-color: rgba(2, 0, 250, 0.01);
  flex-grow: 1;
  border-left: 1px dotted silver;
}

.files-browser-view .file:not(:last-child) {
  border-bottom: 1px solid silver;
}
.files-browser-view .file:hover {
  background-color: rgba(0, 50, 250, 0.1);
}

.context-menu {
  position: fixed;
  padding: 0;
  margin: 0;
  border: 1px solid silver;
  border-radius: 0.2em;
  box-shadow: 0.1em 0.1em gray;
}

.context-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.context-menu li {
  padding: 0.2em 1em;
  cursor: pointer;
}
.context-menu li:hover {
  background-color: rgba(0, 0, 0, 0.08);
}
