:host {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  min-height: 10em;
}

.container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  margin: 0;
  background-color: white;
  overflow: auto;
}

div.files-browser-path {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0.5em 1em;
  border: 1px solid silver;
  border-bottom: none;
}

input.files-browser-path {
  flex-grow: 1;
  border: none;
  padding: 0;
  margin: 0 1em;
  background-color: whitesmoke;
}

.files-browser {
  border: 1px solid silver;
  /*min-height: 40em;*/
  margin: 0;

  display: flex;
  flex-grow: 1;
  flex-direction: row;
  overflow: auto;
}

.files-browser > * {
  margin: 0;
  padding-top: 2em;
  overflow: auto;
}

.files-browser * {
  list-style: none;
}

.files-browser-navigation {
  background-color: rgba(110, 120, 255, 0.04);
  width: 30%;
  overflow: auto;
}

.files-browser-navigation * {
  padding: 0;
  margin: 0;
}

.files-browser-navigation li {
  border-left: 1px dotted gray;
}

.files-browser-navigation ul {
  margin-left: 0.8em;
}

.files-browser i {
  vertical-align: bottom;
}
.files-browser-navigation .directory-open {
  cursor: zoom-in;
}

.files-browser-navigation .directory-close {
  cursor: zoom-out;
}

.files-browser-navigation .directory {
  display: flex;
}

.files-browser-navigation .directory label {
  flex-grow: 1;
  cursor: pointer;
  padding: 0.1em 0.2em;
}

.files-browser-navigation .directory:hover {
  background-color: rgba(110, 120, 255, 0.1);
}
.files-browser-navigation .directory-selected {
  cursor: pointer;
  background-color: rgba(110, 120, 255, 0.15) !important;
}

ul.files-browser-navigation {
  padding: 0!important;
  margin: 0!important;
}
ul.files-browser-navigation > li {
  border: none !important;
}
ul.files-browser-navigation > li > p {

}

.files-browser-view {
  background-color: rgba(2, 0, 250, 0.01);
  flex-grow: 1;
  border-left: 1px dotted silver;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 0 !important;
}

.files-browser-view .files {
  flex-grow: 1;
  margin: 0.1em 0.5em;
  padding: 0 !important;
  overflow: auto;
}

.files-browser-view .hint {
  padding-top: 0.1em;
  border-top: 1px dotted silver;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.15);
}

.files-browser-view .file:not(:last-child) {
  border-bottom: 1px solid silver;
}
.files-browser-view .file:hover {
  background-color: rgba(0, 50, 250, 0.1);
}

.files-browser-view .file {
  display: flex;
}

.files-browser-view .file > label {
  padding: 0 0.5em;
  flex-grow: 1;
  margin-top: auto;
  margin-bottom: auto;
}
.file-name {
  min-width: 30%;
  max-width: 30%;
}
.last-modified {
  color: #696868;
}
.file-size {}
.file-size-human-readable {
  min-width: 5em;
  margin-right: 1em;
  text-align: end;
}


.context-menu {
  position: fixed;
  padding: 0.5em 0.2em;
  margin: 0;
  border: 1px solid silver;
  border-radius: 0.2em;
  box-shadow: 0.1em 0.1em gray;
  background-color: white;
}

.context-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.context-menu li {
  padding: 0.5em 1em;
  cursor: pointer;
}
.context-menu li:not(:last-child) {
  border-bottom: 1px solid silver;
}
.context-menu li:hover, .dragover {
  background-color: rgba(0, 0, 0, 0.08);
}

.action-area {
  cursor: pointer;
}
