<app-loading-info [error]="loadError ? loadError.message : null" [loading]="nodes == null"></app-loading-info>

<div class="servers">

  <div class="servers-header">
    <mat-grid-list cols="12" rowHeight="20px" gutterSize="0px">
      <mat-grid-tile colspan='2'></mat-grid-tile>
      <mat-grid-tile colspan='1'>CPU</mat-grid-tile>
      <mat-grid-tile colspan='2'>Memory</mat-grid-tile>
      <mat-grid-tile colspan='2'>Network IO</mat-grid-tile>
      <mat-grid-tile colspan='2'>Disk IO</mat-grid-tile>
      <mat-grid-tile colspan='1'>GPU</mat-grid-tile>
      <mat-grid-tile colspan='2'>Jobs</mat-grid-tile>
    </mat-grid-list>
  </div>



  <!-- no scrollbar if there are less than 7 servers -->
  <div *ngIf="nodes.length<ServersComponentClass.MAX_SERVERS">
      <app-server-bar
        *ngFor="let node of nodes; trackBy:trackNodeInfo; let i = index;"
        [class.active]="selectedNodeIndex === i"
        [node]="node" (click)="setNode(i)">
      </app-server-bar>
  </div>

  <!-- add scrollbar if there are more than 7 servers -->
  <div *ngIf="nodes.length>=ServersComponentClass.MAX_SERVERS" [style.overflow]="'auto'" [style.height.px]="ServersComponentClass.MAX_SERVERS * 62">
    <app-server-bar
      *ngFor="let node of nodes; trackBy:trackNodeInfo; let i = index;"
      [class.active]="selectedNodeIndex === i"
      [node]="node" (click)="setNode(i)">
    </app-server-bar>
  </div>



  <mat-grid-list cols="12" rowHeight="25px">
    <mat-grid-tile colspan='2'></mat-grid-tile>
    <mat-grid-tile colspan='1'>
    </mat-grid-tile>
    <mat-grid-tile colspan='2' [ngStyle]="{'font-size': 12 + 'px', 'font-weight': 'normal'}">
      <svg width="10" height="10">
        <rect width="10" height="10" style="fill:#007aff;" rx="2"/>
      </svg>
      &nbsp; Heap &nbsp;&nbsp;
      <svg width="10" height="10">
        <rect width="10" height="10" style="fill:#5ac8fa;" rx="2"/>
      </svg>
      &nbsp; Cache &nbsp;&nbsp;
      <svg width="10" height="10">
        <rect width="10" height="10" style="fill:#003876;" rx="2"/>
      </svg>
      &nbsp; Swap
    </mat-grid-tile>
    <mat-grid-tile colspan='2' [ngStyle]="{'font-size': 12 + 'px', 'font-weight': 'normal'}">
      <svg width="10" height="10">
        <rect width="10" height="10" style="fill:#007aff;" rx="2"/>
      </svg>
      &nbsp; TX &nbsp;&nbsp;
      <svg width="10" height="10">
        <rect width="10" height="10" style="fill:#5ac8fa;" rx="2"/>
      </svg>
      &nbsp; RX
    </mat-grid-tile>
    <mat-grid-tile colspan='2' [ngStyle]="{'font-size': 12 + 'px', 'font-weight': 'normal'}">
      <svg width="10" height="10">
        <rect width="10" height="10" style="fill:#007aff;" rx="2"/>
      </svg>
      &nbsp; Write &nbsp;&nbsp;
      <svg width="10" height="10">
        <rect width="10" height="10" style="fill:#5ac8fa;" rx="2"/>
      </svg>
      &nbsp; Read
    </mat-grid-tile>
    <mat-grid-tile colspan='1'>
    </mat-grid-tile>
    <mat-grid-tile colspan='2'></mat-grid-tile>
  </mat-grid-list>

  <ng-container *ngIf="this.node != null">
    <app-server-details [nodeName]="this.node?.name" [historyEnabled]="true"></app-server-details>
  </ng-container>
</div>
