.node {
  max-width: 200px;
  height: 7em;
  overflow: hidden;
}

.title {
  font-size: medium;
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 5px;
}

.subtitle {
  font-size: small;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.pipeline-def{
  border: 2px dashed black;
}
.selected {
  background-color: #f5f5f5;
  border: 2px solid #007aff;
}



