.node {
  max-width: 200px;
  height: 7em;
  overflow: hidden;
}

.title {
  font-size: medium;
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 5px;
  border-bottom: 1px solid lightgray;
  margin-left: 0.4em;
  margin-right: 0.4em;
}

.subtitle {
  padding-top: 0.5em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  /*font-size: small;*/
}
.pipeline-def{
  border: 2px dashed black;
}
.selected {
  background-color: var(--color-background-dark);
  color: var(--font-color);
  border: 2px solid #007aff;
}



