<mat-card appearance="outlined" class="node" [ngClass]="{ 'selected': selected$, 'pipeline-def' : isPipelineDef }"
>
  <mat-card-title class="title">{{this.containsNode ? node$?.consumerData.name : "New Element"}}</mat-card-title>
  <mat-card-subtitle class="subtitle">ID: {{this.containsNode ? node$?.id : '...' }}</mat-card-subtitle>
    <!-- todo bug: consumerData.image is sometimes undefined despite that being not allowed with this type -->
  <mat-card-content>{{this.containsNode ? node$?.consumerData.image?.name : ""}} </mat-card-content>
</mat-card>
