/* You can add global styles to this file, and also import other style files */

a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.fancy-button > * {
  padding: 0.2em
}

html, body {
  padding: 0;
  margin: 0;
  background-color: whitesmoke;
}

h1 {
  padding: 1.5em 0 0 0;
  margin-bottom: 1em;
  border-bottom: solid 0.08em lightgray;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.clickable {
  cursor: pointer;
}

.mat-highlight-hover:hover {
  background-color: rgba(0, 0, 0, .04);
}

.material-icons, .material-icons-outlined {
  user-select: none;
}

.flex-grow-row {
  display: flex !important;
  flex-direction: row !important;
}

.flex-grow-column {
  display: flex !important;
  flex-direction: column !important;
}

.no-flex-grow {
  flex-grow: 0 !important;
}

.flex-grow {
  flex-grow: 1;
}

.create-button {
  flex-grow: 0;
  margin-right: 0;
}

.control-row {
  padding: 2em 0;
}

.control-button-row {
  padding: 2em;
}

.overview-element {
  display: flex;
  border: 1px solid silver;
  border-radius: 1em;
  padding: 1em;
  margin: 1em 0;
  background-color: white;
}


.none-defined-yet {
  background-color: white;
  text-align: center;
  padding: 3em;
}


.dialog-content {
  display: flex;
  min-width: 20em;
  max-width: 75vw;
}

.dialog-form-field {
  display: flex !important;
  flex-grow: 1;
}

.dialog-form-field > * {
  display: flex;
  flex-grow: 1;
}

.dialog-actions > *:first-child {
  margin-left: auto;
}

.dialog-actions > *:not(:first-child) {
  margin-left: 2em;
}


.whitespace-separator {
  margin: 1em !important;
}

.whitespace-separator-top {
  margin-top: 1.5em !important;
}

.auto-full-height {
  height: calc(100vh - 6em);
  padding: 1em 0;
}

/* --- Mat-Design Fixes --- */
.mat-expansion-panel-header-description {
  flex-grow: 0 !important;
}

.cdk-global-overlay-wrapper .cdk-overlay-pane {
  width: 100% !important;
}

.mat-list-base .mat-list-item {
  font-size: 14px !important;
}

/* --- Mat-Design Fixes --- */


.fill-height .mat-tab-body-wrapper {
  flex: 1 1 100% !important;
}

.mat-tab-group.fill-height {
  flex-grow: 1;
}
