/* You can add global styles to this file, and also import other style files */

a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.fancy-button > * {
  padding: 0.2em
}

html, body {
  padding: 0;
  margin: 0;
  background-color: whitesmoke;
}

h1 {
  padding: 1.5em 0 0 0;
  margin-bottom: 1em;
  border-bottom: solid 0.08em lightgray;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.clickable {
  cursor: pointer;
}

.mat-highlight-hover:hover {
  background-color: rgba(0,0,0,.04);
}

.console-container {
  display: flex;
  flex-grow: 1;
}

.console {
  flex-grow: 1;
  min-height: 10em;
  width: auto;
  font-weight: bold;
  padding: 1em;
}

.console span {
  word-break: normal;
  white-space: pre-wrap;
  padding: 0;
  margin: 0;
}

.console > * {
  display: flex;
  padding: 0 1em;
  margin: 0;
}
.console > *:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.console .line-number {
  display: inline-block;
  color: darkgray;
  width: 3em;
  padding: 0 2em 0 0;
  text-align: end;
  user-select: none;
}

.dark-console {
  background-color: black;
  color: lightgrey;
}

.console-err {
  color: red;
}

.console-mgmt {
  color: dimgray;
}
.console-mgmt.console-err  {
  color: darkred !important;
}

.material-icons, .material-icons-outlined {
  user-select: none;
}

.flex-grow-row {
  display: flex;
  flex-direction: row;
}

.flex-grow {
  flex-grow: 1;
}

.create-button {
  flex-grow: 0;
  margin-right: 0;
}

.control-button-row {
  padding-bottom: 2em;
}

.overview-element {
  display: flex;
  border: 1px solid silver;
  border-radius: 1em;
  padding: 1em;
  margin: 1em 0;
}
