<div #editorContainer class="editor"
     (keydown.control.s)="$event.preventDefault(); save(rawV);"
     (resize)="layout()">
  <ngx-monaco-editor
      [options]="editorOptions"
      [(ngModel)]="rawV"
      (ngModelChange)="updateState()"
      (onInit)="onInit($event)"
  ></ngx-monaco-editor>
</div>
@switch (this.state) {
  @case (State.Failure) {
    <pre class="check check-error">{{this.errorV}}</pre>
  }
  @case (State.UnsavedChanges) {
    <pre class="check check-warn">Unsaved changes</pre>
  }
  @case (State.Success) {
    <pre class="check check-success">{{this.successV}}</pre>
  }
}
<div class="controls">
  <button mat-stroked-button color="primary" (click)="save(rawV)">Save</button>
  <button mat-stroked-button color="primary" (click)="check.emit(rawV ?? ''); this.layout()">Check</button>
</div>
