<div #editorContainer class="editor" (keydown.control.s)="$event.preventDefault(); update.emit(raw);" (resize)="layout()">
  <ngx-monaco-editor
      #editorComponent
      style="height: 100%"
      [options]="editorOptions"
      [(ngModel)]="raw"
      (onInit)="onInit($event)"
  ></ngx-monaco-editor>
</div>
<pre *ngIf="this.errorV != null" class="check check-error">{{this.errorV}}</pre>
<pre *ngIf="this.successV != null" class="check check-success">{{this.successV}}</pre>
<div class="controls">
  <button *ngIf="enableOnOthers" mat-stroked-button color="warn" (click)="others.emit(raw)">
    Set on other Projects
  </button>
  <button mat-raised-button color="primary" (click)="update.emit(raw)">Save</button>
  <button mat-stroked-button color="primary" (click)="check.emit(raw); this.layout()">Check</button>
</div>
