:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
}

.editor {
  flex-grow: 1;
  flex-shrink: 1;
  width: 99%;
  min-height: 50vh;
}

.editor > * {
  height: 100%;
}

.check {
  display: flex;
  flex-grow: initial;
  flex-shrink: 1;
  flex-basis: fit-content;
  max-height: fit-content;
  min-height: fit-content;
  overflow: auto;
  padding: 0.5em 1em;
  border-radius: 0.2em;
}

.check.check-error {
  border: 1px solid red;
  background-color: rgba(255, 0, 0, .2);
}
.check.check-success {
  border: 1px solid green;
  background-color: rgba(0, 255, 0, .2);
}

.controls {
  margin-top: 1em;
  text-align: end;
}

.controls *:not(:first-child) {
  margin-left: 1em;
}
