@import '~bpmn-js/dist/assets/diagram-js.css';
@import '~bpmn-js/dist/assets/bpmn-font/css/bpmn.css';
@import '~bpmn-js/dist/assets/bpmn-font/css/bpmn-embedded.css';
@import '~bpmn-js/dist/assets/bpmn-font/css/bpmn-codes.css';
@import 'https://unpkg.com/bpmn-js-properties-panel/dist/assets/element-templates.css';
@import 'https://unpkg.com/bpmn-js-properties-panel/dist/assets/properties-panel.css';

.diagram-parent {
  height: 80vh;
  width: 98%;
  border: 2px solid #ccc;
  margin: 10px;
}
