:host {
  display: flex;
  flex-grow: 1;
}

.flex-grow-a-little {
  flex-grow: 0.1;
}

.flex-grow-normal {
  flex-grow: 1;
}

.flex-grow-more {
  flex-grow: 2;
}

.flex-grow-a-lot {
  flex-grow: 4;
}
