.action-selector > * {
  flex-grow: 1;
  margin: 0 1em;
}

mat-card {
  margin-top: 2em;
}


.centered-controls {
  text-align: center;
}

.centered-controls > *:not(:first-child) {
  margin-left: 1em;
}
