<div class="flex-grow-row tag-filter">
  <div class="tag-field">
    <mat-card-subtitle>Projects that <strong>include</strong> the following tags</mat-card-subtitle>
    <app-tags-with-autocomplete
      [tags]="includeTags"
      [proposals]="availableTagsValue"
      [isFilter]=true
      (tags)="this.includeTags = $event; updateFilter()"
    ></app-tags-with-autocomplete>
    <mat-slide-toggle (change)="includeEmpty = $event.checked; updateFilter()">
      Include with no Tags
    </mat-slide-toggle>
  </div>
  <div class="tag-field">
    <mat-card-subtitle>Projects that <strong>exclude</strong> the following tags</mat-card-subtitle>
    <app-tags-with-autocomplete
      [tags]="excludeTags"
      [proposals]="availableTagsValue"
      [isFilter]=true
      (tags)="this.excludeTags = $event; updateFilter()"
    ></app-tags-with-autocomplete>
    <mat-slide-toggle (change)="excludeEmpty = $event.checked; updateFilter()">
      Exclude with no Tags
    </mat-slide-toggle>
  </div>

</div>
<div style="padding-top: 1.5em"></div>
<div>
  <app-projects-group-builder
    [projects]="this.filteredProjects"
    [availableTags]="this.availableTagsValue"
    (projectsGroups)="projectsGroupsValue = $event; emitGroups()"
    (groupsOnTop)="groupsOnTopIsChecked = $event; emitGroups()">
  </app-projects-group-builder>
</div>
