:host {
  display: flex;
}
.state-icon {
  display: flex;
  width: 2em;
  margin-top: auto;
  margin-bottom: auto;
}

.state-icon-preparing {
  color: lightblue;
}

.state-icon-running {
  color: lightblue;
}

.state-icon-success {
  color: green;
}
.state-icon-failure {
  color: red;
}

.state-icon-paused {
  color: orange;
}

.state-icon-unknown {
  color: silver;;
}
