.stage-control-item {
  display: flex;
  margin: 0 2em;
  align-items: center;
}

.stage-control-item > *:first-child {
  flex: 1;
}

.stage-control-item > *:last-child {

}

.stage-control-item > *:not(:first-child):not(:last-child) {
  margin: 0 1em;
  flex: 3;
}

.stage-control-item .mat-form-field-wrapper, .stage-control-item-controls {
  display: inline-flex;
  flex-grow: 1;
}

.stage-control-item button:not(:first-child), .stage-control-item-controls button:not(:first-child) {
  margin-right: 1em;
  margin-left: 1em;
}

.stage-control-item-controls {
  display: flex;
  justify-content: center;
  margin-top: 3em;
  margin-bottom: 1em;
}

.stage-control-item-env-list {
  margin: 1em 2em 2em 2em;
  padding: 1em 0;
  border: 1px solid silver;
  border-top: none;
  border-bottom: none;
  border-radius: 0.25em;
}
